<!--<ng-include src="'/app/scholarships-allowances/partials/header.html'"></ng-include>-->
<ng-include src="'/app/scholarships-allowances/partials/tools.html'"></ng-include>
<ng-include src="'/app/scholarships-allowances/partials/loader.html'"></ng-include>


<div
  id="yolo-pls-swag"
  style="overflow: scroll; height: 82vh; width: 100%;"
  srph-infinite-scroll="allowances.getPage('next')"
  disabled="allowances.collection.paging.next == undefined"
  threshold="200"
  throttle="0"
  container="true">
<table st-table="allowances.collection" class="table table-hover table-clickable" st-pipe="allowances.callServer">
  <thead>
    <tr>
      <th colspan="1" width="1%"></th>
      <th lr-drag-src="headers"
        lr-drop-target="headers"
        ng-repeat="col in allowances.columns"
        st-sort="{{:: col.key }}"
        ng-bind="col.label"
        ng-show="col.show"></th>
    </tr>
    
    <tr>
      <th>
        <input type="checkbox"
          class="form-control input-sm"
          st-control="allowances.collection">
      </th>

      <th ng-repeat="col in allowances.columns"
        ng-show="col.show">
        <input type="text"
          class="form-control input-sm"
          st-search="col.key">          
      </th>
    </tr>
  </thead>
  
  <tbody gc-select-row>
    <tr cs-select="allowances.collection" ng-repeat="allowance in allowances.collection" class="gc-animate" data-index="{{ $index }}" data-id="{{ allowance.id }}" data-es="{{ allowance.es_id }}" data-state="allowances.edit">
      <td>
        <input type="checkbox" class="form-control input-sm" ng-model="allowance.isSelected">
      </td>

      <td ng-repeat="col in allowances.columns"
        ng-click="$eval(col.onClick)"
        ss-bind-template="col.cellTemplate"
        ng-show="col.show"></td>
    </tr>
    <tr ng-hide="allowances.collection.length"><td style="padding-top: 16px;" colspan="{{ allowances.columns.length + 1 }}" class="text-center"><i class="fa fa-exclamation-circle"></i> No results found</td></tr>

  </tbody>
</table>
</div>

<ng-include src="'/app/scholarships-allowances/partials/pagination.html'"></ng-include>