<ng-include src="'/app/scholarships-allowancePolicies.create/partials/modal-header.html'">
</ng-include>

<form ng-submit="createCtrl.create(createCtrl.form.data)">
  <div class="modal-body">

      <div class="row">

        <!-- -->
        <div class="col-md-4">        
          <div class="form-group">
            <label>Amount</label>
            <input placeholder="5000.00" type="text" class="form-control" ng-model="createCtrl.form.data.amount">
          </div>
        </div>

        <!-- -->
        <div class="col-md-4">
          <div class="form-group">
            <label>Level</label>
            <gc-school-level ng-model="createCtrl.form.data.level">
            </gc-school-level>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label>Type</label>
            <gc-school-types ng-model="createCtrl.form.data.type">
            </gc-school-types>
          </div>

      </div>

    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" http-loader="editCtrl.isLoading">Create</button>
    <button class="btn btn-warning" type="button" ng-click="$close()">Cancel</button>
  </div>
</form>