<form srph-xhr="scholarshiptypes"
  request-type="post"
  request-data="createCtrl.form.data"
  request-success="createCtrl.successXHRCallback"
  request-error="createCtrl.errorXHRCallback">
  <ng-include src="'/app/scholarships-types.create/partials/modal-header.html'">
  </ng-include>

  <div class="modal-body">
    <div class="error text-danger">{{ error }}</div>

      <div class="form-group">
        <label>Name</label>
        <input placeholder="Enter type name..." type="text" class="form-control" ng-model="createCtrl.form.data.name">
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea name="description" ng-model="createCtrl.form.data.description" class="form-control" placeholder="Enter short description...">
        </textarea>
      </div>

      <div class="form-group">
        <label>Initial Allowance</label>
        <input placeholder="PHP" type="text" class="form-control" ng-model="createCtrl.form.data.initial_allowance">
      </div>
      <div class="form-group">
        <label>Probationary Scholar Allowance</label>
        <input placeholder="PHP" type="text" class="form-control" ng-model="createCtrl.form.data.probation_amount">
      </div>
    </div>
  </div>

  <ng-include src="'/app/scholarships-types.create/partials/modal-footer.html'">
  </ng-include>
</form>