<div class="content-tools pull-right">
    <ng-include src="'/app/administration-users/partials/tools-add.html'">
    </ng-include>

    <gc-column-display-dropdown
        key="users"
        columns="users.columns">
    </gc-column-display-dropdown>

    <ng-include src="'/app/administration-users/partials/tools-actions.html'">
    </ng-include>  

    <ng-include src="'/app/administration-users/partials/tools-table.html'">
    </ng-include>

    <gc-reload></gc-reload>
</div>
