<div class="btn-group">
  <a ui-sref="administration.users.create" class="btn btn-primary">
    <i class="ion-plus"></i>
    New user
  </a>
</div>

<div class="btn-group">
  <a ui-sref="administration.users.create" class="btn btn-default">
    <i class="ion-user"></i>
    View Deactivated Users
  </a>
</div>