.btn {
	font-weight: normal;
	border-radius: 3px;
}

.btn-out {
	color: #333;
	background: transparent;
}
.btn-out .caret { border-top-color: #333; }
.btn-out:hover { transition: all 0.5s; }
.btn-out:hover {
	&.btn-danger { background: linear-gradient(to bottom, #dd4b39 0%, #c13e2c 100%); }
	&.btn-success { background: linear-gradient(to bottom, #35aa47 0%, #2f973f 100%); }
	&.btn-primary { background: linear-gradient(to bottom, #4d90fe 0%, #3078eb 100%); }
	&.btn-warning { background: linear-gradient(to bottom, #fbb450 0%, #f99e1e 100%); }
}

.btn-primary {
	background: #f66b2a;
}

// .btn {
// 	font-weight: normal;
// 	background: transparent;
// 	height: 30px;
// 	color: #333;
// 	border-radius: 3px;
// }

// .btn:hover {
// 	border-color: darken(#f66b2a, 16%) !important;
// 	background: darken(#f66b2a, 8%) !important;
// 	transition: all 0.5s;
// }

// .btn-primary { border-color: #f66b2a; }
// .btn-primary:hover {
// 	border-color: darken(#f66b2a, 8%) !important;
// 	background: darken(#f66b2a, 4%) !important;
// }
// .btn-primary .caret { border-top-color: #333; }