input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  &:checked::after {
    content: url(/assets/img/checkmark.png);
    display: block;
    position: absolute;
    top: -6px;
    left: -5px;
  }
}

input[type="checkbox"].state3:after {
  content: url(/assets/img/checkmark.png);
  display: block;
  position: absolute;
  top: -6px;
  left: -5px;
}

input[type="checkbox"].state2:after{
  content: "\f1ac";
  font-family: "Ionicons";
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
//  padding: 0px 2px;
  position: absolute;
  text-align: center;
  left: -1px;
  width: 13px;
}

.dropdown-checkbox {
  position: relative;
  padding: 3px 30px;
  display: block;
  clear: both;
  margin-bottom: 0;

  input {
    margin-right: 8px;
  }
}


/* BEGIN animated checkbox styles */


.anim-checkbox {
  label {
    position: relative;

    &:before, &:after {
      font-family: FontAwesome;
      /*absolutely positioned*/
      position: absolute;
      left: -22px;
    }
    &:before {
      content: '\f096'; /*unchecked*/
    }
    &:after {
      content: '\f046'; /*checked*/
      /*checked icon will be hidden by default by using 0 max-width and overflow hidden*/
      max-width: 0;
      overflow: hidden;
      opacity: 0.5;
      /*CSS3 transitions for animated effect*/
      transition: all 0.35s;
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked + label:after {
      max-width: 25px; /*an arbitratry number more than the icon's width*/
      opacity: 1; /*for fade in effect*/
    }
  }
  /*adding some colors for fun*/
  .primary:checked+label {&:before, &:after {color: @brand-primary;}}

  .success:checked+label {&:before, &:after {color: @brand-success;}}

  .warning:checked+label {&:before, &:after {color: @brand-warning;}}

  .danger:checked+label {&:before, &:after {color: @brand-danger;}}

  .info:checked+label {&:before, &:after {color: @brand-info;}}
}

/* END animated checkbox styles */