.flash-alert{
  padding: 11px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: absolute;
  z-index: 1055;
  width: 50%;
  left: 25%;
  top: 23px;
  color: #FFF;
  display: none;
}

.alert-success {
  background: @btn-success-bg;
  color: @btn-success-color;
  display: block;
}
.alert-error {
  background: @btn-danger-bg;
  color: @btn-danger-color;
  display: block;
}
.alert-warning {
  background: @btn-warning-bg;
  color: @btn-warning-color;
  display: block;
}
.alert-info {
  background: @btn-info-bg;
  color: @btn-info-color;
  display: block;
}