//.form-control {
//
//	& {
//		border-radius: @border-radius;
//	}
//
//	&:focus,
//	&:active {
//		border: 1px solid @border-color;
//
//		box-shadow: none !important;
//		-webkit-box-shadow: none !important;
//		-moz-box-shadow: none !important;
//		-o-box-shadow: none !important;
//	}
//
//}
//
//.input-group-addon {
//	color: #FFF;
//	background: @metis-7-color;
//	border-radius: @border-radius;
//	border-color: @metis-7-highlight-color;
//}

legend {
  border-bottom: 0;
}

label {
  font-weight: inherit;
}

.form-horizontal {
  fieldset {
    display: table;
    border-collapse: collapse;
//    border-spacing: 4px 2px;
    padding: 10px;
  }
  legend {
    display: table-caption;
    margin-top: 20px;
    margin-bottom: 0;
    cursor: default;
  }
  .form-groups {
    display: table-row-group;
  }
  .form-group {
    display: table-row;
    line-height: 3em;

    > * {
      display: table-cell;
      padding-right: 8px;
      height: 30px;
      vertical-align: middle;
    }
  }

  select.form-control {
    width: auto;
  }
}