.grid {
  width: 100%;
  height: 900px;
  box-sizing: content-box;
}

// --------------------------------
// Applies a line after/before a column
// ex:
// <div class="col-md-9 col-ln-after"></div>
// <div class="col-md-3"></div>
// ||
// <div class="col-md-9"></div>
// <div class="col-md-3 col-ln-before"></div>
// --------------------------------
@colLn-paddingSize: 0;
@colLn-marginSize: 15px; // Bootstrap's padding to each column
@colLn-borderColor: #ddd;
@colLn-shadowColor: darken(@colLn-borderColor, 16%); // #eee

.col-ln-after,
.col-ln-before { position: relative; }

// ** Force display the pseudo-selectors *
.col-ln-after::after,
.col-ln-before::before {
	content: "";
	display: inline-block;

	// Positioning
	position: absolute;
	top: 0;
	bottom: 0;
}

// ** After the column *
.col-ln-after {
	// padding-right: @colLn-paddingSize; // Remove bootstrap's padding to the right
	// margin-right: @colLn-marginSize; // Replacement to padding
}

.col-ln-after::after {
	border-right: 1px solid @colLn-borderColor;
	box-shadow: 2px 0px 5px @colLn-shadowColor;
	right: floor(@colLn-marginSize / 2) * -1;
}

// ** Before the column *
.col-ln-before {
	// padding-left: @colLn-paddingSize; // Remove bootstrap's padding to the left
	// margin-left: @colLn-marginSize; // Replacement to padding
}

.col-ln-before::before {
	border-left: 1px solid @colLn-borderColor;
	box-shadow: -2px 0px 5px @colLn-shadowColor;
	left: floor(@colLn-marginSize / 2) * -1;
}

// --------------------------------