.loading, .loading:hover, .loading:active, .loading:focus{
  background-image: url('/assets/img/loader2.gif') !important;
  background-repeat: no-repeat !important;
  background-size: 60% 60% !important;
  background-position: 50% !important;
  text-indent: -1000em;
  padding-right: 15px;
  padding-left: 15px;
}

.loader {

}