//.ng-aside.horizontal.right {
//  display: inline-block;
//  float: right;
//  width: auto;
//  position: initial !important;
//}

.modal-header {
  background: #278B0B;
  color: white;
  padding: 8px 15px;
}

.modal-body {
  float: left;
  width: 100%;
//  fieldset {
//    margin: 20px 0;
//  }
  .media-body {
    margin-bottom: 15px;
  }

  .img-thumbnail { width: 120px;}
}

.modal-footer {
  background: #f5f5f5;
  clear: both;
}

// Scale up the modal
@media (min-width: @screen-sm-min) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    margin: 30px auto;
  }
  .modal-content {
    .box-shadow(0 5px 15px rgba(0,0,0,.5));
  }

  // Modal sizes
  .modal-sm { width: @modal-sm; }
}

@media (min-width: @screen-md-min) {
  .modal-lg { width: @modal-lg; }
}

