.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-width: 0;
  background-color: rgba(0,0,0,0.3);
  border-style: solid;
  border-color: #333;
  z-index: 500;
  -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
  transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;


  a.bt-menu-trigger {
    width: 38px;
    height: 66px;
    display: block;
    color: #FFF;
    font-size: 21px;
    padding: 15px 8px;
    position: fixed;
    top: 0;
    left: 0;
    background: #1a7a3d;
    z-index: 500;

    &:hover {
      color: #FFF;
    }
  }

  &.bt-menu-open {
    height: 100%;
    border-width: 50px 0px 0px 150px;
    -webkit-transition: border-width 0.3s, background-color 0.3s;
    transition: border-width 0.3s, background-color 0.3s;

    a.bt-menu-trigger {
      background: transparent;
      -webkit-transition: background-color 0.2s;
      transition: background-color 0.2s;
    }

    ul li {
      visibility: visible;
      opacity: 1;
      transform: translate3d(0,0,0);
      transition: transform 0.3s, opacity 0.3s;
    }
    ul {
      visibility: visible;
    }
  }

  ul {
    position: fixed;
    visibility: hidden;

    li {
      visibility: hidden;
      opacity: 0;
      transform: translate3d(-100%,50%,0);
      transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
    }
  }
  .navbar-nav {
    top: 0;
    padding: 15px 8px;

    a {
      color: #FFF;
    }
    a:hover {
      color: #333;
    }
  }
}


header {
  .title-bar {
    float: left;
    padding: 20px;
    margin-left: 38px;

    h3 {
      margin: 0;
    }
    h3:before {
      margin-right: 8px;
    }
  }
}

#menu li,
.nav.navbar-nav li {
  color :#fff 
}

#menu li a,
.nav.navbar-nav li a { background: transparent; }

#menu li.active a,
#menu li a:hover,
.nav.navbar-nav li.active a,
.nav.navbar-nav li a:hover {
  background: #f66b2a;
  color: #fff;
}

.navigation.bt-menu-open { border-width: 66px 0px 0px 140px; }
#menu { width: 120px; }
.navigation .navbar-nav { padding: 0px 8px; }
.navbar-nav > li > a { padding-top: 27px; padding-bottom: 21px; }
#menu li:first-child { padding-top: 5px; }
#menu { padding-top: 5px; }

.bt-menu-open .bt-hide {
  display: none !important;
}
.bt-show {
  display: none;
}
.bt-menu-open .bt-show {
  display: block;
}
.nav.navbar-nav { padding-left: 0px; }

#menu > li ul li.active > a {
  color: #333;
}

#menu:not(.affix) li:hover > ul {
  top: 0;
}

#menu li, #menu li:first-child { padding-top: 0px }

#menu, #menu ul, #menu li, #menu a {
  padding: 0;
}

#menu {
  width: 140px;
}

body:not(.sidebar-left-mini) #menu li.active > ul, #menu.affix li > ul {
  position: absolute;
  left: 100% !important;
  top: 0 !important;
}

#menu > li.active > ul > li { padding: 0; }