.floatThead-container {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

table.table {
  margin-bottom: 16px;

  & thead>tr:first-child>th {
    padding-bottom: 0 !important;
  }
  & thead>tr:first-child + tr>th {
    padding-top: 0 !important;
  }

  & thead {
    width: 100%;
    background-color: #f5f5f5;

    & th {
      font-weight: normal;
      border: 0;
      color: #949494;
      padding: 8px;

      & input {
        background-color: #fbfbfb;
        border-color: #ebebeb;
      }
    }
  }
  //    tbody:before {
  //      line-height: 60px;
  //      content: "-";
  //      color: white; /* to hide text */
  //      display: block;
  //    }

  tbody {
    overflow: scroll;
    height: 500px;
  }

  .st-sort-ascent {
    &:after {
      content: "\f10d";
      color: @brand-primary;

      display: inline-block;
      font-family: "Ionicons";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-rendering: auto;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  .st-sort-descent {
    &:after {
      content: "\f104";
      color: @brand-primary;

      display: inline-block;
      font-family: "Ionicons";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-rendering: auto;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  .lr-drop-target-before {
    border-left: 2px solid orange;
  }

  .lr-drop-target-after {
    border-right: 2px solid orange;
  }

  .st-selected > td {
    background-color: #ffffcc;
  }

  input[type="checkbox"].some-selected:after {
    content: "\f1ac";
    font-family: "Ionicons";
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
    font-weight: bold;
    position: absolute;
    text-align: center;
    left: -1px;
    width: 13px;
  }
}

.table-clickable {
  > tbody > tr {
    cursor: pointer;
  }
}

.content-tools {
  position: fixed;
  right: 20px;
  top: 18px;
  z-index: 300;

  .btn-sm{
    padding: 3px 8px;
  }
}

.paging {
  position: fixed;
  bottom: 14px;
  right: 38px;

  .paging-info {
    border-radius: 0;
    margin-left: -1px;
    margin-right: -1px;
    padding: 3px 8px;
    font-size: 12px;
    line-height: 1.5;
    position: relative;
    float: left;
    border: 1px solid #dcdcdc;
    color: #333333;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .btn {
    border-radius: 0;
  }
}

.table-hover tbody tr:hover td{
    a { color : white; text-decoration: underline;}

    background-color: #278B0B !important;

    color: white;
}


