.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
  margin-right: -1px;

  > a {
    margin-right: 0px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    border-radius: 0;
    background: #eee;
    padding: 6px 12px;

    &:hover {
      border-color: #ddd;
      cursor: pointer;
    }
  }

  &.active:after, &:focus:after, &:hover:after {
    content: "";
    height: 2px;
    background: @brand-danger;
    float: right;
    width: 100%;
    position: absolute;
    top: 0;
  }
}

.tab-content {
  padding: 8px;
}

.tab-primary {
  &.active:after, &:focus:after, &:hover:after {
    background: @brand-primary !important;;
  }
}

.tab-success {
  &.active:after, &:focus:after, &:hover:after {
    background: @brand-success !important;
  }
}

.tab-info {
  &.active:after, &:focus:after, &:hover:after {
    background: @brand-info !important;;
  }
}

.tab-warning {
  &.active:after, &:focus:after, &:hover:after {
    background: @brand-warning !important;;
  }
}

.tab-danger {
  &.active:after, &:focus:after, &:hover:after {
    background: @brand-danger !important;
  }
}