.webcam-preview {
  width: @webcam-preview-width;
  height: @webcam-preview-height;
  display: block;
  overflow: hidden;
  position: relative;
}

.webcam-counter {
  position: absolute;
  top: 45%;
  left: 50%;
  font-weight: bold;
  font-size: 32px;
  color: #FFF;
  z-index: 99;
}

.webcam-preview-modal {
  .modal-dialog {
    width: @webcam-preview-width;
    height: @webcam-preview-height;
  }
  .modal-content {
    width: 642px;
    height: 543px;
  }
  .close {
    top: 5px;
    right: 10px;
    position: absolute;
    z-index: 99;
    color: @brand-danger;
  }
}