<div class="modal-header">
  <h3 class="modal-title">Edit Transaction Account</h3>
</div>   

<form ng-submit="editCtrl.$update(editCtrl.data)">
  <div class="modal-body">
    <div class="row form-group">
      <section class="col-md-6">
        <label>Name</label>
        <input placeholder="Enter account name.." type="text" class="form-control" ng-model="editCtrl.data.name">
      </section>

      <section class="col-md-6">
        <label>Affiliation</label>
        <div gc-affiliation-typeahead
          id-variable="editCtrl.data.affiliation_id"
          collection-variable="editCtrl.data.affiliation"
          ng-model="editCtrl.data.affiliation_name">
        </div>
      </section>
    </div>
    <div class="row form-group">
      <section class="col-md-12">
        <label><strong>Special Voucher Number Format</strong></label><br>
        <input type="checkbox"  ng-checked="!!editCtr.data.fixed_voucher_number_format" ng-model="editCtrl.data.fixed_voucher_number_format" /> Use a fix voucher number format.
      </section>
    </div>
    <div class="row form-group">
      <section class="col-md-4">
        <label>Signatory</label>
        <input placeholder="Enter signatory office" type="text" class="form-control" ng-model="editCtrl.data.signatory">
      </section>

      <section class="col-md-4">
        <label>Label</label>
        <input placeholder="Enter signatory office" type="text" class="form-control" ng-model="editCtrl.data.label">
      </section>

      <section class="col-md-4">
        <label>Designation</label>
        <input placeholder="Enter signatory office" type="text" class="form-control" ng-model="editCtrl.data.designation">
      </section>
    </div>

    <div class="row form-group">
      <section class="col-md-4">
        <label>Signatory <strong>(Optional)</strong></label>
        <input placeholder="Enter signatory office" type="text" class="form-control" ng-model="editCtrl.data.signatory_2">
      </section>

      <section class="col-md-4">
        <label>Label <strong>(Optional)</strong></label>
        <input placeholder="Enter signatory office" type="text" class="form-control" ng-model="editCtrl.data.label_2">
      </section>

      <section class="col-md-4">
        <label>Designation <strong>(Optional)</strong></label>
        <input placeholder="Enter signatory office" type="text" class="form-control" ng-model="editCtrl.data.designation_2">
      </section>
    </div>
  </div>

  <div class="modal-footer">
    <aside class="clearfix">
      <button
        type="submit"
        class="btn btn-primary pull-right"
        ng-disabled="editCtrl.isLoading">
        Update Transaction Account
      </button>

      <span ng-if="editCtrl.isLoading" class="pull-right">
        <pulse-spinner></pulse-spinner>
      </span>

      <button
        type="button"
        class="btn btn-warning pull-left"
        ng-click="$close()">
        Cancel
      </button>
    </aside>
  </div>
</form>