<th>
  <input type="checkbox"
    class="form-control input-sm"
    st-control="schools.collection">
</th>

<th ng-repeat="col in schools.columns"
  ng-show="col.show">

  <input type="text"
    class="form-control input-sm"
    st-search="col.key">
    
</th>