<div class="content-tools pull-right">
    <ng-include src="'/app/scholarships-schools/partials/tools-add.html'">
    </ng-include>

    <gc-column-display-dropdown
      key="schools"
      columns="schools.columns">
    </gc-column-display-dropdown>

    <ng-include src="'/app/scholarships-schools/partials/tools-actions.html'">
    </ng-include>  

    <ng-include src="'/app/scholarships-schools/partials/tools-table.html'">
    </ng-include>
    
    <gc-reload></gc-reload>
</div>