<div class="row form-group">
  <div class="col-md-4" ng-init="semCreateCtrl.form.data.school_name = semCreateCtrl.form.data.school.name">
    <label> School </label>
    <gc-school-typeahead id-variable="semCreateCtrl.form.data.school_id" ng-model="semCreateCtrl.form.data.school_name">
    </gc-school-typeahead>
  </div>

  <div class="col-md-4" ng-init="semCreateCtrl.form.data.school_name = semCreateCtrl.form.data.school.name">
    <label> Type </label>
    <div gc-scholarship-type-dropdown-yolo ng-model="semCreateCtrl.form.data.scholarship_type_id">
    </div>
  </div>

  <div class="col-md-4">
    <label> Year Level </label>
    <input type="text" ng-model="semCreateCtrl.form.data.year_level" class="form-control">
  </div>
</div>

<div class="row form-group">
  <div class="col-md-3">
    <label> No. of Subjects </label>
    <input type="text" class="form-control" ng-model="semCreateCtrl.form.data.subject_count">
  </div>
  <div class="col-md-4">
    <label for="school_year">School Year</label>
    <gc-year-sets range="5" year-model="semCreateCtrl.form.data.school_year">
    </gc-year-sets>
  </div>
  <div class="col-md-2">
    <label for="account">Term</label>
    <gc-scholarship-term-dropdown term-model="semCreateCtrl.form.data.term">
    </gc-scholarship-term-dropdown>
  </div>
  <div class="col-md-3">
    <label>Semester Status</label>
    <select class="form-control" ng-model="semCreateCtrl.form.data.status">
      <option value="">Select a status..</option>
      <option value="waiting">Waiting</option>
      <option value="for_verification">For Verification</option>
      <option value="active">Active</option>
    </select>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-6">
    <label>Course</label>
    <gc-course-typeahead
      placeholder="Enter course.."
      ng-model="semCreateCtrl.form.data.course_name"
      id-variable="semCreateCtrl.form.data.course_id"
      collection-variable="semCreateCtrl.form.data.course">
    </gc-course-typeahead>
  </div>
  <div class="col-md-4">
    <label>School Level</label>
    <select class="form-control" ng-model="semCreateCtrl.form.data.school_level">
      <option value=""> Select a school level.. </option>
      <option value="secondary"> High School </option>
      <option value="collegiate"> College </option>
    </select>
  </div>
  <div class="col-md-2">
    <label>GWA</label>
    <input type="text" ng-model="semCreateCtrl.form.data.gwa" class="form-control">
  </div>
</div>
<div class="row form-group">
  <div class="col-md-11">
    <label>Allowance Client</label>
    <gc-resident-typeahead
      id-variable="semCreateCtrl.form.data.client_id"
      collection-variable="semCreateCtrl.form.data.client"
      ng-model="semCreateCtrl.form.data.client.full_name">
    </gc-resident-typeahead>
  </div> 
</div>

<div class="row form-group">
  <div class="col-md-11">
    <label>Date Submitted</label>
        <input type="text"
        placeholder="Fill to override the default.."
        class="form-control"
        ng-model="semCreateCtrl.form.data.date_encoded"
        datepicker-popup="yyyy-MM-dd"
        is-open="semCreateCtrl.form.custom.date_encoded"
        ng-init="semCreateCtrl.form.custom.date_encoded = false"
        ng-click="semCreateCtrl.form.custom.date_encoded = !semCreateCtrl.form.custom.date_encoded">

  </div>
</div>
  <div class="row form-group">
    <div class="col-md-6">
      <label>
        Probation <br />
        <input type="checkbox" ng-model="semEditCtrl.form.data.is_probation" ng-checked="semCreateCtrl.form.data.is_probation" >
      </label>
    </div>

  </div>

<div gc-create-grade-list gwa="semCreateCtrl.form.data.gwa" grades="semCreateCtrl.form.data.grades">
</div>

<ng-include src="'/app/scholarships.show-semester.create/partials/semester.create-btns.html'">
</ng-include>
