<div ng-hide="semAltEditCtrl.edit_mode">
  <div class="" style="margin-left: 10px;">
      <div class="pull-right">
        <button ng-click="semAltEditCtrl.toggle()">Edit</button>
      </div>
      <div class="row">
          <div class="col-md-5">
              <label><i class="ion-university"></i> <strong>School</strong></label>
              <p>{{ semAltEditCtrl.form.data.school_name }}</p>
          </div>
          <div class="col-md-2">
              <label><strong>Year</strong></label>
              <p>{{ semAltEditCtrl.form.data.year_level }}</p>
          </div>
          <div class="col-md-3">
              <label><strong>Type</strong></label>
              <p>{{ semAltEditCtrl.form.data.scholarship_type.name }}</p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <label><strong>S.Y</strong></label>        
              <p>{{ semAltEditCtrl.form.data.school_year }}</p>
          </div>
          <div class="col-md-2">
              <label><strong>Term</strong></label>        
              <p>{{ semAltEditCtrl.form.data.term }}</p>
          </div>
          <div class="col-md-2">
              <label><strong>GWA</strong></label>        
              <p>{{ semAltEditCtrl.form.data.gwa }}</p>
          </div>    
          <div class="col-md-4">
              <label><strong>Semester Status</strong></label>
              <p>{{ semAltEditCtrl.form.data.status }}</p>
          </div>      
          <div class="col-md-10">
              <label><strong>Course</strong></label>        
              <p>{{ semAltEditCtrl.form.data.course_name }}</p>
          </div>

      </div>
            <div class="row">
          <div class="col-md-10">
              <label><strong>Client</strong></label>
             <p>{{ semAltEditCtrl.form.data.client.full_name }}</p>
          </div> 
      </div>



  </div>
</div>
<div ng-show="semAltEditCtrl.edit_mode">

        <div class="pull-right">
        <button ng-click="semAltEditCtrl.toggle()"><i class="ion-close-round"></i></button>
      </div>


<div class="row form-group">
  <div class="col-md-5" ng-init="semAltEditCtrl.form.data.school_name = semAltEditCtrl.form.data.school.name">
    <label> School </label>
    <gc-school-typeahead id-variable="semAltEditCtrl.form.data.school_id" ng-model="semAltEditCtrl.form.data.school_name" transform-id-variable="{{ semAltEditCtrl.form.data.school.id }}">
    </gc-school-typeahead>
  </div>
  <div class="col-md-2">
    <label> Year </label>
    <input type="text" ng-model="semAltEditCtrl.form.data.year_level" class="form-control">
  </div>
  <div class="col-md-3" ng-init="semAltEditCtrl.form.data.scholarship_type_id = semAltEditCtrl.form.data.scholarship_type.id">
    <label> Type </label>
    <div gc-scholarship-type-dropdown-yolo ng-model="semAltEditCtrl.form.data.scholarship_type_id">
    </div>
  </div>


</div>

<div class="row form-group">
  <div class="col-md-4">
    <label for="school_year">School Year</label>
    <gc-year-sets range="30" year-model="semAltEditCtrl.form.data.school_year">
    </gc-year-sets>
  </div>
  <div class="col-md-2">
    <label for="account">Term</label>
    <gc-scholarship-term-dropdown term-model="semAltEditCtrl.form.data.term">
    </gc-scholarship-term-dropdown>
  </div>

  <div class="col-md-2">
    <label>GWA</label>
    <input type="text" class="form-control" ng-model="semAltEditCtrl.form.data.gwa" name="gwa">
  </div>

  <div class="col-md-4">
  <label>Semester Status</label>
      <select class="form-control" ng-model="semAltEditCtrl.form.data.status">
             <option ng-repeat="status in semAltEditCtrl.semester_status" value="{{ status }}" ng-selected="semAltEditCtrl.form.data.status== status">
              {{ status }}
            </option>
    </select>
  </div>
  <div class="col-md-10">
    <label>Course</label>
    <gc-course-typeahead
      placeholder="Enter course.."
      ng-model="semAltEditCtrl.form.data.course_name"
      id-variable="semAltEditCtrl.form.data.course_id"
      collection-variable="semAltEditCtrl.form.data.course">
    </gc-course-typeahead>
  </div>
  <div class="col-md-4">
        <label>Bank</label>
        <input type="text" class="form-control" ng-model="semAltEditCtrl.form.data.scholarship.resident.bank" name="bank">
  </div>  
    <div class="col-md-6">
        <label>ATM</label>
        <input type="text" class="form-control" ng-model="semAltEditCtrl.form.data.scholarship.resident.atm_number" name="atm_number">
  </div>

<div class="col-md-10">
  <label>Allowance Client</label>
        <gc-resident-typeahead
        id-variable="semAltEditCtrl.form.data.client_id"
        collection-variable="semAltEditCtrl.form.data.client"
        ng-model="semAltEditCtrl.form.data.client.full_name">
      </gc-resident-typeahead>
</div>
  <div class="col-md-12">
  <div class="pull-right">
    <button class="btn btn-default" ng-click="semAltEditCtrl.update(semAltEditCtrl.form.data)">Update</button>    
  </div>  
  
  </div>
  
</div>
</div>
<ng-include src="'/app/scholarships-semesters-list.show.semester-edit/partials/semester.edit-btns.html'">
</ng-include>

<hr>

<div gc-scholarship-release-table semester-id="{{ semAltEditCtrl.form.data.id }}" dummy="semAltEditCtrl._dummy">
</div>

<div gc-scholarship-allowance-table semester-id="{{ semAltEditCtrl.form.data.id }}" dummy="semAltEditCtrl._dummy">
</div>

<hr>
<ng-include src="'/app/scholarships-semesters-list.show-semester.edit/partials/semester.edit-subjects.html'">
</ng-include>
