<div class="btn-group">
  <a ui-sref="affiliations.create" class="btn btn-primary">
    <i class="ion-ios7-plus-empty"></i>
    Add new affiliation
  </a>

</div>

<div class="btn-group">
  <button ng-click="affiliations.generateMemberList()" class="btn btn-default">
    <i class="ion-ios7-plus-empty"></i>
    Generate Member's List
  </button>

</div>