<div class="btn-group">
  <a href="" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
    Actions <span class="caret"></span>
  </a>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
    <li><a href="" ng-click="affiliations.remove()">Remove selected</a></li>
    <li>
      <a href="#" ng-click="affiliations.$report()" ng-if="affiliations.getSelected().length == 1">
        Generate report for the selected affiliation
      </a>
    </li>
  </ul>
</div>