<div class="modal-footer">
    <button class="btn btn-primary" ng-click="editCtrl.submit()" type="submit" http-loader="editCtrl.isLoading">
        Save
    </button>

    <button class="btn btn-warning" type="button" ng-click="$dismiss('cancel')">
        Close
    </button>
</div>