<div class="modal-header">
  <h4> Copy Transaction </h4>
</div>

<form ng-submit="copyCtrl.$copy(copyCtrl.data)">
  <div class="modal-body" style="width: 100%;">
    <section class="form-group">
      <label>Client</label>
      <gc-resident-typeahead
        id-variable="copyCtrl.data.client_id"
        collection-variable="copyCtrl.data.client"
        ng-model="copyCtrl.data.client.full_name">
      </gc-resident-typeahead>
      <div class="clearfix" style="margin-top: 3px;">
        <div class="pull-right">
          <i class="ion-ios-information"></i>
          <a href="" ng-click="copyCtrl.$clientCreate()">
            Click here to register the resident (and select it as client) if it does not exist yet.
          </a>
        </div>
      </div>
    </section>

    <section class="form-group">
      <label>Beneficiary</label>
      <div class="row">
        <div class="col-md-3">
          <select class="form-control" ng-model="copyCtrl.data.beneficiary_type"
            ng-init="copyCtrl.data.beneficiary_type = 'Resident'">
            <option value="Resident">Individual</option>
            <option value="Affiliation">Group</option>
          </select>
        </div>

        <div class="col-md-9">
          <gc-resident-typeahead
            id-variable="copyCtrl.data.beneficiary_id"
            collection-variable="copyCtrl.data.beneficiary"
            ng-model="copyCtrl.data.beneficiary.full_name"
            ng-if="copyCtrl.data.beneficiary_type == 'Resident'">
          </gc-resident-typeahead>

          <div gc-affiliation-typeahead
            id-variable="copyCtrl.data.beneficiary_id"
            collection-variable="copyCtrl.data.beneficiary"
            ng-model="copyCtrl.data.beneficiary.name"
            ng-if="copyCtrl.data.beneficiary_type == 'Affiliation'">
          </div>

          <div class="clearfix" style="margin-top: 3px;">
            <div class="pull-right">
              <i class="ion-ios-information"></i>
              <a href="" ng-click="copyCtrl.$beneficiaryCreate()">
                Click here to register the
                <span ng-if="copyCtrl.data.beneficiary_type == 'Resident'">resident</span>
                <span ng-if="copyCtrl.data.beneficiary_type == 'Affiliation'">affiliation</span>
                (and select it as beneficiary) if it does not exist yet.
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="form-group">
      <label>Referrer Name</label>
      <gc-resident-typeahead
        id-variable="copyCtrl.data.referrer_id"
        collection-variable="copyCtrl.data.referrer"
        ng-model="copyCtrl.data.referrer.full_name">
      </gc-resident-typeahead>

      <div class="clearfix" style="margin-top: 3px;">
        <div class="pull-right">
          <i class="ion-ios-information"></i>
          <a href="" ng-click="copyCtrl.$referrerCreate()">Click here to register the resident (and select it as client) if it does not exist yet.</a>
        </div>
      </div>
    </section>

    <section class="form-group">
      <div class="row">

        <div class="col-md-4">
          <label>Account Type</label>
          <select class="form-control"
            ng-model="copyCtrl.data.account_type_id"
            ng-options="account.id as account.name for account in copyCtrl.account_types">
          </select>
        </div>

        <div class="col-md-4">
          <label>Category</label>
          <select class="form-control" ng-model="copyCtrl.data.category_id">
            <option value=""> {{ copyCtrl.isCategoryLoading ? 'Loading..' : 'Select a category' }} </option>
            <option ng-repeat="category in copyCtrl.categories" value="{{ category.id }}" ng-selected="category.id == copyCtrl.data.category_id">
              {{ category.name }}
            </option>
          </select>
        </div>

        <div class="col-md-4">
          <label>Sub Category </label>
          <select class="form-control" ng-model="copyCtrl.data.sub_category_id">
            <option value=""> {{ copyCtrl.isCategoryLoading ? 'Loading..' : (copyCtrl._selected == undefined ? 'Select a category first!' : 'Select a sub-category') }} </option>
            <option ng-repeat="sub_category in copyCtrl._selected.sub_categories.data" value="{{ sub_category.id }}" ng-if="copyCtrl._selected !== undefined" ng-selected="sub_category.id == copyCtrl.data.sub_category_id">
              {{ sub_category.name }}
            </option>
          </select>
        </div>
      </div>
    </section>

    <section class="form-group">
      <div class="row">
        <div class="col-md-4">
          <label>Vendor</label>
          <gc-vendor-typeahead ng-model="copyCtrl.data.vendor_name" id-model="copyCtrl.data.vendor_id">
          </gc-vendor-typeahead>
        </div>

        <div class="col-md-4">
          <label>Item</label>
          <input ng-model="copyCtrl.data.item_name" type="text" class="form-control" typeahead="item.name for item in copyCtrl.$itemRequest($viewValue)" typeahead-wait-ms="50">
        </div>

        <div class="col-md-4">
          <label>Amount</label>
          <input type="text" class="form-control" ng-model="copyCtrl.data.amount">
        </div>
      </div>
    </section>

    <section class="form-group">
      <div class="row">
        <div class="col-md-4" ng-init="copyCtrl.data.transaction_type = copyCtrl.data.type">
          <label>Transaction Type</label>
          <select class="form-control" ng-model="copyCtrl.data.transaction_type">
            <option value="income">Income</option>
            <option value="expense">Expense</option>
            <option value="expense">Non-monetary</option>
          </select>
        </div>

        <div class="col-md-4">
          <div> &nbsp; </div>
          <label>
            <input type="checkbox" ng-model="copyCtrl.data.liquidatable">
            <span style="margin-left: 5px"> Liquidatable </span>
          </label>
        </div>
      </div>
    </section>


    <section class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label>Details</label>
          <textarea class="form-control" ng-model="copyCtrl.data.details"></textarea>
        </div>

        <div class="col-md-6">
          <label>Remarks</label>
          <textarea class="form-control" ng-model="copyCtrl.data.remarks"></textarea>
        </div>
      </div>
    </section>
  </div>

  <div class="modal-footer">
    <div class="pull-left">
      <div class="input-group" style="width: 250px">
        <span class="input-group-addon">Transaction Date</span>
        <input type="text"
          placeholder="Fill to override the default.."
          class="form-control"
          ng-model="copyCtrl.form.data.created_at"
          datepicker-popup="yyyy-MM-dd"
          is-open="copyCtrl.form.custom.created_at"
          ng-init="copyCtrl.form.custom.created_at = false"
          ng-click="copyCtrl.form.custom.created_at = !copyCtrl.form.custom.created_at">
      </div>
    </div>
    <div class="pull-right">
      <button class="btn btn-default" type="button" ng-click="$dismiss()">
        Cancel
      </button>
      <button class="btn btn-primary" type="submit" http-loader="copyCtrl.isLoading">
        Copy Transaction
      </button>
    </div>
  </div>
</form>
