<ng-include src="'/app/administration-users.create/partials/modal-header.html'">
</ng-include>

<form autocomplete="off" ng-submit="onSubmit(form.data)">
<div class="modal-body" style="width: 100%">
    <div class="error text-danger">{{ error }}</div>
        <div class="row">
            <fieldset class="col-md-6">
                <legend>User info</legend>
                <div class="form-group">
                    <label for="username">Resident:</label>
                    <gc-resident-typeahead
                            id-variable="form.data.resident_id"
                            ng-model="form.data.resident_name">
                    </gc-resident-typeahead>
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input id="username" type="text" class="form-control" ng-model="form.data.username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input id="password" type="password" class="form-control" ng-model="form.data.password">
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password:</label>
                    <input id="confirm_password" type="password" class="form-control" ng-model="form.data.password_confirmation">
                </div>
                <div class="form-group">
                    <label>Group:</label>
                    <select class="form-control" ng-model="form.data.group_id">
                        <option value="">Select a group..</option>
                        <option ng-repeat="group in groups" value="{{ group.id }}">{{ group.name }}</option>
                    </select>
                </div>
            </fieldset>

            <fieldset class="col-md-6">
                <legend>Permissions</legend>
                <div class="text-left">
                    <div class="btn-group">
                        <a href="" class="btn btn-default btn-xs" ng-click="inheritAllPermissions()">Inherit from group</a>
                    </div>
                    <div class="btn-group">
                        <a href="" class="btn btn-default btn-xs" ng-click="allowAllPermissions()">Allow all</a>
                    </div>
                    <div class="btn-group">
                        <a href="" class="btn btn-default btn-xs" ng-click="resetAllPermissions()">Reset</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" ng-repeat="(component, items) in permissions">
                        <h5>{{ component }}</h5>
                          <div style="max-height:250px; overflow:scroll;">
                            <div class="checkbox m-sm-l" ng-repeat="item in items">
                            <label>
                                <input type="checkbox" ng-model="item.status" ng-true-value="1">
                                {{ item.functionality }}
                            </label>
                        </div>                          

                          </div>

                    </div>
                </div>
            </fieldset>
        </div>
</div>
    <ng-include src="'/app/administration-users.create/partials/modal-footer.html'">
    </ng-include>
</form>
