<div class="row form-group">
  <div class="col-md-4" ng-init="semAltCreateCtrl.form.data.school_name = semAltCreateCtrl.form.data.school.name">
    <label> School </label>
    <gc-school-typeahead id-variable="semAltCreateCtrl.form.data.school_id" ng-model="semAltCreateCtrl.form.data.school_name">
    </gc-school-typeahead>
  </div>

  <div class="col-md-4" ng-init="semAltCreateCtrl.form.data.school_name = semAltCreateCtrl.form.data.school.name">
    <label> Type </label>
    <div gc-scholarship-type-dropdown-yolo ng-model="semAltCreateCtrl.form.data.scholarship_type_id">
    </div>
  </div>

  <div class="col-md-4">
    <label> Year Level </label>
    <input type="text" ng-model="semAltCreateCtrl.form.data.year_level" class="form-control">
  </div>
</div>

<div class="row form-group">
  <div class="col-md-3">
    <label> No. of Subjects </label>
    <input type="text" class="form-control" ng-model="semAltCreateCtrl.form.data.subject_count">
  </div>
  <div class="col-md-4">
    <label for="school_year">School Year</label>
    <gc-year-sets range="5" year-model="semAltCreateCtrl.form.data.school_year">
    </gc-year-sets>
  </div>
  <div class="col-md-2">
    <label for="account">Term</label>
    <gc-scholarship-term-dropdown term-model="semAltCreateCtrl.form.data.term">
    </gc-scholarship-term-dropdown>
  </div>
  <div class="col-md-3">
    <label>Semester Status</label>
    <select class="form-control" ng-model="semAltCreateCtrl.form.data.status">
             <option ng-repeat="status in semAltCreateCtrl.semester_status" value="{{ status }}" ng-selected="semAltCreateCtrl.scholarship.status== status">
              {{ status }}
            </option>
    </select>
  </div>
</div>
<div class="row form-group">
    <div class="col-md-9">
    <label>Course</label>
    <gc-course-typeahead
      placeholder="Enter course.."
      ng-model="semAltCreateCtrl.form.data.course_name"
      id-variable="semAltCreateCtrl.form.data.course_id"
      collection-variable="semAltCreateCtrl.form.data.course">
    </gc-course-typeahead>
  </div>
  <div class="col-md-2">
    <label>GWA</label>
    <input type="text" ng-model="semAltCreateCtrl.form.data.gwa" class="form-control">
  </div>
</div>
<div class="row form-group">
  <div class="col-md-11">
      <label>Allowance Client</label>
        <gc-resident-typeahead
        id-variable="semAltCreateCtrl.form.data.client_id"
        collection-variable="semAltCreateCtrl.form.data.client"
        ng-model="semAltCreateCtrl.form.data.client.full_name">
      </gc-resident-typeahead>

  </div> 
</div>
<ng-include src="'/app/scholarships-semesters-list.show-semester.create/partials/semester.create-btns.html'">
</ng-include>
