<ng-include src="'/app/scholarships-allowancePolicies/partials/tools.html'">
</ng-include>

<div
  ss-loader="policies.isLoading"
  ss-loader-target=".table tbody"
  class="text-center text-warning animate-show">
  <three-bounce-spinner></three-bounce-spinner>
</div>

<aside class="row" style="margin-left: 25px; margin-right: 25px; margin-top: 25px; margin-bottom: 25px;">
  <section class="col-md-6" ng-repeat="policy in policies.collection">
    <div style="background: #fff; box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.1);">
      <div style="padding: 25px;">
        <h1> {{ policy.name }} </h1>

        <div style="margin-left: 25px; margin-right: 25px;">

          <h3> Secondary </h3>
          <div style="margin-bottom: -15px;">
            <h3> <small> Public </small> </h3>
            <div gc-allowance-constraint
              data="policy"
              type="public"
              level="secondary"
              graph="policy.allowance_policies.secondary.public">
            </div>
          </div>

          <div style="margin-bottom: 25px;">
            <h3> <small> Private </small> </h3>
            <div gc-allowance-constraint
              data="policy"
              type="private"
              level="secondary"
              graph="policy.allowance_policies.secondary.private">
            </div>
          </div>

          <h3> Collegiate </h3>
          <div style="margin-bottom: -15px;">
            <h3> <small> Public </small> </h3>
            <div gc-allowance-constraint
              data="policy"
              type="public"
              level="collegiate"
              graph="policy.allowance_policies.collegiate.public">
            </div>
          </div>

          <div style="margin-bottom: 15px;">
            <h3> <small> Private </small> </h3>
            <div gc-allowance-constraint
              data="policy"
              type="private"
              level="collegiate"
              graph="policy.allowance_policies.collegiate.private">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</aside>
