<div class="modal-header">
  <h4> Bulk Claim Releaase </h4>
</div>

<form ng-submit="$claim()">
  <div class="modal-body" style="width: 100%;">
    <section class="form-group">
      <label>Release UUID</label>
      <input type="text" ng-model="data.release"
        class="form-control"
        typeahead="release.uuid for release in $requestReleases($viewValue)"
        typeahead-on-select="data.release_id = $item.id"
        typeahead-template-url="gc-release-typeahead-$template.html">
    </section>

    <section style="margin-top: 20px">
      <div ng-if="isSemestersLoading" style="height: 250px; display: table; width: 100%">
        <div style="display: table-cell; vertical-align: middle; text-align: center;">
          <h5><small>Semesters that can claim the provided release is being loaded..</small></h5>
        </div>
      </div>
      <div ng-if="!isSemestersLoading">
        <div ng-if="!semesters.length" style="height: 250px; display: table; width: 100%">
          <div style="display: table-cell; vertical-align: middle; text-align: center;">
            <h5><small>Oops, this release has no semesters yet.</small></h5>
          </div>
        </div>
        <div style="overflow-x: scroll; width: 100%;">
          <table ng-if="!!semesters.length" class="table">
            <thead>
              <tr>
                <th> <input type="checkbox" ng-model="data.selected" ng-true-value="true" ng-false-value="false"> </th>
                <th lr-drop-target="headers"
                  ng-repeat="column in columns"
                  ng-show="column.show"
                  resizable
                  r-directions="['right']">
                  <span class="text-center" style="display: block">{{ column.label }}</span>
                </th>
              </tr>
            </thead>
    
            <tbody>
              <tr ng-repeat="semester in semesters">
                <td> <input type="checkbox" ng-model="semester._selected"> </td>
                <td ng-repeat="column in columns"
                  ss-bind-template="column.cellTemplate"
                  ng-show="column.show"></td>
              </tr>
            </body>
          </table>
        </tbody>
      </div>
    </section>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="$dismiss()">
      Cancel
    </button>
    <button class="btn btn-primary" type="submit" http-loader="isLoading">
      Bulk Claim
    </button>
  </div>
</form>
