.bg(@bg-color:@brand-primary;@color:#fff){
  background-color: @bg-color;
  color: @color !important;

  &.dker/*, >.dker*/ {
    background-color: darken(@bg-color,8%) !important;
  }

  &.dk/*, >.dk*/ {
    background-color: darken(@bg-color,4%) !important;
  }

  &.lt, >.lt {
    background-color: lighten(@bg-color,4%) !important;
  }

  &.lter, >.lter {
    background-color: lighten(@bg-color,8%) !important;
  }

  &.lt, &.lter {
    &#menu {
      i,
      li,
      .link-title {
        text-shadow: none;
//        color: darken(@bg-color, 60%) !important;
      }
    }

//    a {
//      color: @link-color;
//    }
  }
}
.bg-red {
  .bg(#B90000);
}
.bg-brick {
  .bg(#CD6723);
}

.bg-orange {
  .bg(#FF4E00);
}
.bg-green {
  .bg(#4B780A);
}

.bg-blue {
  .bg(#00CAF2);
}

.bg-black {
  .bg(#222);
}
.bg-dark {
  .bg(#444);
}
.bg-light {
  .bg(#eee,#333);
}

.bg-indigo {
  .bg(@metis-7-color);
}