<ng-include src="'/app/scholarships-awards.edit/partials/modal-header.html'">
</ng-include>

<form ng-submit="editCtrl.update(editCtrl.form.data)">
  <div class="modal-body">
    <div class="error text-danger">{{ error }}</div>

    <div class="form-group">
      <label>Name</label>
      <input placeholder="Enter school's name" type="text" class="form-control" ng-model="editCtrl.form.data.name">
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea placeholder="Enter description...." class="form-control" ng-model="editCtrl.form.data.description"></textarea>
    </div>
        <div class="form-group">
      <label> Attribution Name </label>
 <div gc-attribution-typeahead ng-model="editCtrl.form.data.attribution_name" init="editCtrl.form.data.attribution_name"> 
    </div>
  </div>
</div>
  <ng-include src="'/app/scholarships-awards.edit/partials/modal-footer.html'">
  </ng-include>
</form>