<ng-include src="'/app/residents/partials/tools.html'"></ng-include>
<ng-include src="'/app/residents/partials/loader.html'"></ng-include>

<div
  id="yolo-pls-swag"
  style="overflow: scroll; height: 82vh; width: 100%;"
  srph-infinite-scroll="residents.getPage('next')"
  disabled="residents.collection.paging.next == undefined"
  threshold="0"
  throttle="250"
  container="true">
  <table st-table="residents" class="table table-hover table-clickable" st-pipe="residents.callServer" float-thead>
  <thead gc-search-export="residents._filter">
      <tr>
        <th colspan="1" width="1%">
        </th>
        <th lr-drag-src="headers"
          lr-drop-target="headers"
          ng-repeat="col in residents.columns"
          ng-show="col.show"
          resizable
          r-directions="['right']">
            <span class="text-center" style="display: block" st-sort="{{:: col.key }}">{{:: col.label }}</span>
          </th>
      </tr>
      
      <tr>
        <th style="height: 0;">
          <input type="checkbox"
            class="form-control input-sm"
            st-control="residents.collection">
        </th>

        <th ng-repeat="col in residents.columns"
          ng-show="col.show"
          style="height: 0;">
          <input type="text"
            class="form-control input-sm"
            gc-search="col.key"
            key="{{:: col.key }}"
            st-delay="200"
            ng-if="col.key !== 'label' && col.key !== 'birthdate' && col.key !== 'is_voter' && col.key !== 'deceased_at' && col.key !== 'blacklisted_at'  && col.key !== 'gender' && col.key !=='is_scholar' && col.key !== 'civil_status'">

          <select ng-if="col.key == 'is_scholar'" gc-search-dropdown="col.key" class="form-control">
            <option value=""> All </option>
            <option value="0"> No </option>
            <option value="1"> Yes </option>
          </select>

          <div ng-if="col.key == 'birthdate'">
            <gc-search-date-range predicate="col.key">
            </gc-search-date-range>
          </div>

          <div ng-if="col.key == 'blacklisted_at'">
            <gc-search-date-range predicate="col.key">
            </gc-search-date-range>
          </div>

          <select ng-if="col.key == 'is_voter'" gc-search-dropdown="col.key" class="form-control">
            <option value=""> All </option>
            <option value="0"> No </option>
            <option value="1"> Yes </option>
          </select>

          <select ng-if="col.key == 'deceased_at'" gc-search-dropdown="col.key" class="form-control">
            <option value=""> All </option>
            <option value="0"> No </option>
            <option value="1"> Yes </option>
          </select>

          <select ng-if="col.key == 'gender'" gc-search-dropdown-equal="col.key" class="form-control">
            <option value=""> All </option>
            <option value="Male"> Male </option>
            <option value="Female"> Female </option>
          </select>

          <select ng-if="col.key == 'civil_status'" gc-search-dropdown-equal="col.key" class="form-control">
            <option value="Single">Single</option>
            <option value="Married">Married</option>
            <option value="Widowed">Widowed</option>
            <option value="Divorced">Divorced</option>
            <option value="Deceased">Deceased</option>
          </select>
        </th>
      </tr>
    </thead>
    <tbody gc-select-row>
      <tr cs-select="residents.collection" ng-repeat="resident in residents.collection" class="gc-animate" data-index="{{ $index }}" data-id="{{ resident.id }}" data-es="{{ resident.es_id }}" data-state="residents.edit">
        <td>
          <input type="checkbox" class="form-control input-sm" ng-model="resident.isSelected">
        </td>

        <td ng-repeat="col in residents.columns"
          ng-click="$eval(col.onClick)"
          ss-bind-template="col.cellTemplate"
          ng-show="col.show"></td>
      </tr>
      <tr ng-hide="residents.collection.length"><td style="padding-top: 16px;" colspan="{{ residents.columns.length + 1 }}" class="text-center"><i class="fa fa-exclamation-circle"></i> No results found</td></tr>
    </tbody>
  </table>
</div>
<ng-include src="'/app/residents/partials/pagination.html'"></ng-include>