<ng-include src="'/app/scholarships-courses/partials/tools.html'"></ng-include>

<div style="overflow: scroll; height: 82vh; width: 100%;"
  srph-infinite-scroll="courses.getPage('next')"
  disabled="courses.collection.paging.next == undefined"
  threshold="200"
  throttle="0"
  container="true">
<table st-table="courses.collection" class="table table-hover table-clickable" st-pipe="courses.callServer">
  <thead>
    <tr>
      <th colspan="1" width="1%"></th>
      <th lr-drag-src="headers"
        lr-drop-target="headers"
        ng-repeat="col in courses.columns"
        ng-show="col.show"
        resizable
        r-directions="['right']">
          <span class="text-center" style="display: block" st-sort="{{:: col.key }}">{{:: col.label }}</span>
        </th>
    </tr>

    <tr>
      <th>
        <input type="checkbox"
          class="form-control input-sm"
          st-control="courses.collection">
      </th>

      <th ng-repeat="col in courses.columns track by $index"
        ng-show="col.show">
        <input type="text"
          class="form-control input-sm"
          st-search="col.key">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr cs-select="courses.details" ng-repeat="course in courses.collection" class="gc-animate">
      <td>
        <input type="checkbox" class="form-control input-sm" ng-model="course.isSelected">
      </td>

      <td ng-repeat="col in courses.columns"
        ng-click="$eval(col.onClick)"
        ss-bind-template="col.cellTemplate"
        ng-show="col.show"></td>
    </tr>
  </tbody>
</table>
</div>
