<div class="modal-header">
  <h3 class="modal-title">New Attribution</h3>
</div>   

<form ng-submit="createCtrl.$create(createCtrl.data)">
  <div class="modal-body">
    <div class="row form-group">
      <section class="col-md-4">
        <label>Name</label>
        <input placeholder="Enter attribution..." type="text" class="form-control" ng-model="createCtrl.data.name">
      </section>

      <section class="col-md-4">
        <label>Label <i class="ion-help-circled" title="Shortcut for the attribution" tooltip="Shortcut for the attribution"></i></label>
        <input placeholder="Enter label..." type="text" class="form-control" ng-model="createCtrl.data.label">
      </section>

      <section class="col-md-4">
        <label> Color (Identifier) </label>
        <input colorpicker colorpicker-parent="true" placeholder="#000" type="text" class="form-control" ng-model="createCtrl.data.class">
      </section>
    </div>
  </div>

  <div class="modal-footer">
    <aside class="clearfix">
      <button
        type="submit"
        class="btn btn-primary pull-right"
        ng-disabled="createCtrl.isLoading">
        Create Attribution
      </button>

      <span ng-if="createCtrl.isLoading" class="pull-right">
        <pulse-spinner></pulse-spinner>
      </span>

      <button
        type="button"
        class="btn btn-warning pull-left"
        ng-click="$close()">
        Cancel
      </button>
    </aside>
  </div>
</form>