<div class="modal-header">
  <h4> Create Transaction Salary </h4>
</div>

  <div class="modal-body" style="width: 100%;">
    <section class="form-group">
      <label>Affiliation</label>
      <gc-affiliation-typeahead
        id-variable="salaryCtrl.data.affiliation_id"
        collection-variable="salaryCtrl.data.affiliation"
        ng-model="salaryCtrl.data.affiliation.name">
      </gc-affiliation-typeahead>
    </section>

    <section class="form-group">
      <div class="row">

        <div class="col-md-4">
          <label>Account Type</label>
          <select class="form-control"
            ng-model="salaryCtrl.data.account_type_id"
            ng-options="account.id as account.name for account in salaryCtrl.account_types">
          </select>
        </div>

        <div class="col-md-4">
          <label>Category</label>
          <select class="form-control" ng-model="salaryCtrl.data.category_id">
            <option value=""> {{ salaryCtrl.isCategoryLoading ? 'Loading..' : 'Select a category' }} </option>
            <option ng-repeat="category in salaryCtrl.categories" value="{{ category.id }}" ng-selected="category.id == salaryCtrl.data.category_id">
              {{ category.name }}
            </option>
          </select>
        </div>

        <div class="col-md-4">
          <label>Sub Category </label>
          <select class="form-control" ng-model="salaryCtrl.data.sub_category_id">
            <option value=""> {{ salaryCtrl.isCategoryLoading ? 'Loading..' : (salaryCtrl._selected == undefined ? 'Select a category first!' : 'Select a sub-category') }} </option>
            <option ng-repeat="sub_category in salaryCtrl._selected.sub_categories.data" value="{{ sub_category.id }}" ng-if="salaryCtrl._selected !== undefined" ng-selected="sub_category.id == salaryCtrl.data.sub_category_id">
              {{ sub_category.name }}
            </option>
          </select>
        </div>
      </div>
    </section>

    <section class="form-group">
      <div class="row">
        <div class="col-md-4">
          <label>Vendor</label>
          <gc-vendor-typeahead ng-model="salaryCtrl.data.vendor_name" id-model="salaryCtrl.data.vendor_id">
          </gc-vendor-typeahead>
        </div>

        <div class="col-md-4">
          <label>Item</label>
          <input ng-model="salaryCtrl.data.item_name" type="text" class="form-control" typeahead="item.name for item in salaryCtrl.$itemRequest($viewValue)" typeahead-wait-ms="50">
        </div>

        <div class="col-md-4" ng-init="salaryCtrl.data.transaction_type = salaryCtrl.data.type">
          <label>Transaction Type</label>
          <select class="form-control" ng-model="salaryCtrl.data.transaction_type">
            <option value="income">Income</option>
            <option value="expense">Expense</option>
            <option value="expense">Non-monetary</option>
          </select>
        </div>
      </div>
    </section>

    <section class="form-group">
      <div class="row">
        <div class="col-md-4">
          <div> &nbsp; </div>
          <label>
            <input type="checkbox" ng-model="salaryCtrl.data.liquidatable">
            <span style="margin-left: 5px"> Liquidatable </span>
          </label>
        </div>
      </div>
    </section>


    <section class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label>Details</label>
          <textarea class="form-control" ng-model="salaryCtrl.data.details"></textarea>
        </div>

        <div class="col-md-6">
          <label>Remarks</label>
          <textarea class="form-control" ng-model="salaryCtrl.data.remarks"></textarea>
        </div>
      </div>
    </section>

    <section style="margin-top: 20px">

        <div class="box">
      <header style="color: black; padding-left: 10px; padding-right: 10px;" class="clearfix">
        <h4 class="pull-left"> Members </h4>
          <button type="button"  ng-if="salaryCtrl.data.members.length" class="pull-right" ng-click="salaryCtrl.$addMemberToggle()" style="margin-top: 5px;">
            <i class="ion-plus"></i>
        </button>
      </header>  

      <div class="body">
      <div class="row">
        <div class="col-md-12">
          <span class="pull-right">TOTAL : <b>PHP {{ salaryCtrl.total_amount }} </b></span>
          
        </div>   
      </div>
      <div ng-if="!salaryCtrl.data.members.length" style="height: 250px; display: table; width: 100%">


        <div style="display: table-cell; vertical-align: middle; text-align: center;">
          <h5><small>Oops, this affiliation has no member yet.</small></h5>
        </div>
      </div>

      <table ng-if="!!salaryCtrl.data.members.length" class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Options</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="member in salaryCtrl.data.members">

            <td> {{ member.full_name }} </td>
            <td> <input type="text" ui-number-mask ng-change="salaryCtrl.computeTotal()" ng-model="member.amount" class="form-control" placeholder="Enter amount.."> </td>
            <td><button ng-click="salaryCtrl.$removeMember(member)"><i class="ion-close-round"></i></button></td>
          </tr>
          <tr ng-show="salaryCtrl.add_member_toggle == 1">
            <td>
              <gc-resident-typeahead
                   id-variable="salaryCtrl.add_member.member_id"
                   collection-variable="salaryCtrl.add_member.member"
                   ng-model="salaryCtrl.add_member.member.full_name">
              </gc-resident-typeahead>
            </td>
            <td>
              <input type="text" ui-number-mask class="form-control" ng-model="salaryCtrl.add_member.member.amount" ng-change="salaryCtrl.computeTotal()" placeholder="Enter amount..">
            </td>
            <td>
            <span style="display: inline;">
            <button type="button" ng-click="salaryCtrl.$addMember(salaryCtrl.add_member.member)"><i class="ion-checkmark"></i></button>
            <button type="button" ng-click="salaryCtrl.$addMemberToggle()"><i class="ion-close-round"></i></button>
            </span>
            </td>
          </tr>
        </tbody>
        <tfoot>
        
        </tfoot>
      </table>
      </div>
      </div>
    </section>
  </div>

  <div class="modal-footer clearfix">
  <div class="pull-left">
    <div class="input-group" style="width: 250px">
      <span class="input-group-addon">Transaction Date</span>
      <input type="text"
        placeholder="Fill to override the default.."
        class="form-control"
        ng-model="salaryCtrl.data.created_at"
        datepicker-popup="yyyy-MM-dd"
        is-open="salaryCtrl.form.custom.created_at"
        ng-init="salaryCtrl.form.custom.created_at = false"
        ng-click="salaryCtrl.form.custom.created_at = !salaryCtrl.form.custom.created_at">
    </div>
  </div>
  <div class="pull-right">
     <button class="btn btn-default" type="button" ng-click="$dismiss()">
      Cancel
    </button>
    <button class="btn btn-primary" ng-click="salaryCtrl.$salary(salaryCtrl.data)" type="submit" http-loader="salaryCtrl.isLoading">
      Create Transaction Salary
    </button> 
  </div>
  
  </div>

