<aside class="clearfix">
  <button
    type="submit"
    class="btn btn-primary pull-right"
    ng-disabled="createCtrl.isLoading">
    Register Household
  </button>

  <button
    type="button"
    class="btn btn-warning pull-left"
    ng-click="$close()">
    Cancel
  </button>
</aside>