<form srph-xhr="households"
  request-type="post"
  request-data="createCtrl.data"
  request-success="createCtrl.$successHandler"
  request-error="createCtrl.$errorHandler">

  <div class="row form-group">
    <section class="col-md-8">
      <label>Name</label>
      <input placeholder="Enter household's name.." type="text" class="form-control" ng-model="createCtrl.data.label">
    </section>

    <section class="col-md-4">
      <label> Telephone No </label>
      <input type="text" name="phone" ng-model="createCtrl.data.phone" class="form-control">
    </section>
  </div>

  <hr>

  <div class="row form-group">
    <section class="col-md-6">
      <label> Street </label>
      <input type="text" name="street" ng-model="createCtrl.data.street" class="form-control">
    </section>

    <section class="col-md-6">
      <label for="barangay">Barangay</label>
      <input id="barangay" type="text" class="form-control" ng-model="createCtrl.data.barangay" typeahead="barangay.name for barangay in createCtrl.barangays($viewValue)" typeahead-wait-ms="50" typeahead-template-url="gc-barangay-typeahead-$template.html">
    </section>
  </div>

  <div class="row form-group">
    <section class="col-md-6">
      <label for="city">City/Municipality</label>
      <input id="city" type="text" class="form-control" ng-model="createCtrl.data.cityMunicipality" typeahead="cityMunicipality.name for cityMunicipality in createCtrl.citiesMunicipalities($viewValue)" typeahead-wait-ms="50">
    </section>

    <div class="form-group col-md-6">
      <label for="district">District</label>
      <input id="district" type="text" class="form-control" ng-model="createCtrl.data.district" typeahead="district.name for district in createCtrl.districts($viewValue)" typeahead-wait-ms="50">
                  
    </div>
  </div>
  <ng-include src="'/app/households.create/partials/households.create-controls.html'">
  </ng-include>
</form>