<div class="box">
  <div class="body">
    <gc-household-resident-form collection="createCtrl.data.members">
    </gc-household-resident-form>

    <gc-household-resident-list
      collection="createCtrl.data.members"
      selected="createCtrl.custom.selected"
      owner="createCtrl.data.owner">
    </gc-household-resident-list>
  </div>
</div>