<div class="modal-header">
  New Vendor
</div>

<div class="modal-body">
  <div class="row form-group">
    <div class="col-md-6">
      <label> Vendor Name </label>
      <input type="text" class="form-control" ng-model="data.name" placeholder="Enter vendor name...">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-4">
      <label> Street </label>
      <input type="text" class="form-control" ng-model="data.street" placeholder="Enter city street..">
    </div>

    <div class="col-md-4">
      <label> Barangay </label>
      <input type="text"
        class="form-control"
        ng-model="data.barangay"
        placeholder="Enter district.."
        typeahead="barangay.name for barangay in $barangays($viewValue)"
        typeahead-wait-ms="500" typeahead-template-url="gc-barangay-typeahead-$template.html">
    </div>    
  </div>

  <div class="row form-group">
    <div class="col-md-4">
      <label> District </label>
      <input type="text"
        class="form-control"
        ng-model="data.district"
        placeholder="Enter district.."
        typeahead="district.name for district in $districts($viewValue)"
        typeahead-wait-ms="500">
    </div>

    <div class="col-md-4">
      <label> City / Municipality </label>
      <input type="text"
        class="form-control"
        ng-model="data.cityMunicipality"
        placeholder="Enter city municipality.."
        typeahead="city.name for city in $citiesMunicipalities($viewValue)"
        typeahead-wait-ms="500">
    </div>
  </div>
</div>

<div class="modal-footer clearfix">
  <button type="button" ng-click="$dismiss()" class="btn btn-default pull-left">
    Close
  </button>

  <button type="button" ng-click="$create()" class="btn btn-success" ng-disabled="isLoading">
    Create Vendor
  </button>
  </div>