<form srph-xhr="households/{{ editCtrl.form.data.id }}"
  request-type="put"
  request-data="editCtrl.form.data"
  request-success="editCtrl.successXHRCallback"
  request-error="editCtrl.successXHRCallback">
  
  
  
  <div class="row form-group">
    <section class="col-md-6">
      <label> Street </label>
      <input type="text" name="street" ng-model="editCtrl.form.data.street" class="form-control">
    </section>

    <section class="col-md-6">
      <label for="barangay">Barangay</label>
      <input id="barangay" type="text" class="form-control" ng-model="editCtrl.form.data.barangay" typeahead="barangay.name for barangay in editCtrl.barangays($viewValue)" typeahead-wait-ms="50">
    </section>
  </div>

  <div class="row form-group">
    <section class="col-md-6">
      <label for="cityMunicipality">City/Municipality</label>
      <input id="cityMunicipality" type="text" class="form-control" ng-model="editCtrl.form.data.cityMunicipality" typeahead="cityMunicipality.name for cityMunicipality in editCtrl.citiesMunicipalities($viewValue)" typeahead-wait-ms="50">
    </section>

    <div class="form-group col-md-6">
      <label for="district">District</label>
      <input id="district" type="text" class="form-control" ng-model="editCtrl.form.data.district" typeahead="district.name for district in editCtrl.districts($viewValue)" typeahead-wait-ms="50">
                  
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3">
      <label>Status</label>
      <input placeholder="Enter household's status" type="text" class="form-control" ng-model="editCtrl.form.data.status">
    </div>

    <section class="col-md-3">
      <label> Telephone No </label>
      <input type="text" name="phone" ng-model="editCtrl.form.data.phone" class="form-control">
    </section>
    <div class="col-md-6">
      <label>Notes</label>
      <textarea name="notes" class="form-control" ng-model="editCtrl.form.data.notes"></textarea>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Other Details</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <tr><td>Owner's Name</td><td>{{ editCtrl.form.data.owner_name }}</td></tr>
        <tr><td>Consumer's Name</td><td>{{ editCtrl.form.data.consumer_name }}</td></tr>
      </table>
    </div>
  </div>

  <tabset>
    <tab id="residents-tab" heading="Residents" class="tab-primary">
      <ng-include src="'/app/households.edit/partials/households.edit-residentList.html'">
      </ng-include>
    </tab>

    <tab id="transactions-tab" heading="Transaction Vouchers">
      <ng-include src="'/app/households.edit/partials/households.edit-voucherList.html'">
      </ng-include>
    </tab>
  </tabset>

  <ng-include src="'/app/households.edit/partials/households.edit-controls.html'">
  </ng-include>
</form>