<div class="box">
  <div class="body">
    <div gc-household-resident-form="{{editCtrl.form.data.id}}" collection="editCtrl.form.residents" ng-if="!editCtrl.isLoadingResidents">
    </div>

    <div gc-household-resident-list="{{editCtrl.form.data.id}}" collection="editCtrl.form.residents" owner="editCtrl.form.owner" selected="editCtrl.form.custom.selected" ng-if="!editCtrl.isLoadingResidents">
    </div>

    <span ng-if="editCtrl.isLoadingResidents">
      <wave-spinner></wave-spinner>
    </span>
  </div>
</div>