<div class="modal-body">
  <div class="row">  
    <section class="col-md-8 col-ln-after" ng-include src="'/app/households.edit/partials/households.edit-form.html'">
    </section>

    <section class="col-md-4">
      <gc-resident-selected model="editCtrl.form.custom.selected">
      </gc-resident-selected>
    </section>
  </div>
</div>