<div class="text-center">

</div>

<hr/>


<div class="row">
    <div class="col-lg-8">
        <div class="box">
            <header>
                <h5>Transaction Per Day Chart</h5>
            </header>
            <div class="body" id="trigo" style="height: 350px; padding: 0px; position: relative;">
              <div 
                ac-chart="'bar'" 
                ac-data="data" 
                ac-config="config"
                class="chart"
                style="height: 360px; width: 100%;">
              </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="box">
            <div class="body">
                <table class="table table-condensed table-hovered sortableTable tablesorter tablesorter-default" role="grid">
                    <thead>
                    <tr class="tablesorter-headerRow" role="row">
                        <th data-column="0" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">City/Munincipality
                            <i class="fa sort"></i>
                        </div></th>
                        <th data-column="1" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Population
                            <i class="fa sort"></i>
                        </div></th>
                        <th data-column="2" tabindex="0" scope="col" role="columnheader" aria-disabled="false" unselectable="on" aria-sort="none" style="-webkit-user-select: none;"><div class="tablesorter-header-inner">Total Voters
                            <i class="fa sort"></i>
                        </div></th>
                    </tr>
                    </thead>
                    <tbody aria-live="polite" aria-relevant="all">
                    <tr class="active" ng-repeat="city in cities track by $index">
                        <td>{{::city.name}}</td>
                        <td>{{ ($index * 2)}}</td>
                        <td>15</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
