<div class="container">
  <div class="modal-body" style="width: 100%;">

  <section class="form-group">
  	<label>Voucher #</label>
 	<div class="row">
 		<div class="col-md-10">
 			<input type="text" class="form-control" ng-model="voucher_number">	
 		</div>		
 		<div class="col-md-2">
 			<button ng-click="searchVoucher()" class="btn btn-primary">Search</button>
 		</div>		
 	</div>


  </section>
<hr>

<form ng-submit="update(form.data)">

    <section class="form-group">
      <label>Client</label>
      <gc-resident-typeahead
        id-variable="form.data.client_id"
        collection-variable="form.data.client"
        ng-model="form.data.client.full_name">
      </gc-resident-typeahead>
      <div class="clearfix" style="margin-top: 3px;">

      </div>
    </section>

    <section class="form-group">
      <label>Beneficiary</label>
      <div class="row">
        <div class="col-md-3">
          <select class="form-control" ng-model="form.data.beneficiary_type" ng-init="form.data.beneficiary_type = 'Resident'">
            <option value="Resident">Individual</option>
            <option value="Affiliation">Group</option>
          </select>
        </div>

        <div class="col-md-9">
          <gc-resident-typeahead
            id-variable="form.data.beneficiary_id"
            collection-variable="form.data.beneficiary"
            ng-model="form.data.beneficiary.full_name"
            ng-if="form.data.beneficiary_type == 'Resident'">
          </gc-resident-typeahead>

          <div gc-affiliation-typeahead
            id-variable="form.data.beneficiary_id"
            collection-variable="form.data.beneficiary"
            ng-model="form.data.beneficiary.name"
            ng-if="form.data.beneficiary_type == 'Affiliation'">
          </div>

          <div class="clearfix" style="margin-top: 3px;">

          </div>
        </div>
      </div>
    </section>

    <section class="form-group">
      <label>Referrer Name</label>
      <gc-resident-typeahead
        id-variable="form.data.referrer_id"
        collection-variable="form.data.referrer"
        ng-model="form.data.referrer.full_name">
      </gc-resident-typeahead>

      <div class="clearfix" style="margin-top: 3px;">

      </div>
    </section>

    <section class="form-group">
      <div class="row">

        <div class="col-md-4">
          <label>Account Type</label>
          <select class="form-control"
            ng-model="form.data.account_type_id"
            ng-options="account.id as account.name for account in account_types">
          </select>
        </div>

        <div class="col-md-4">
          <label>Category</label>
          <select class="form-control" ng-model="form.data.category_id">
            <option value=""> {{ isCategoryLoading ? 'Loading..' : 'Select a category' }} </option>
            <option ng-repeat="category in categories" value="{{ category.id }}" ng-selected="category.id == form.data.category_id">
              {{ category.name }}
            </option>
          </select>
        </div>

        <div class="col-md-4">
          <label>Sub Category </label>
          <select class="form-control" ng-model="form.data.sub_category_id">
            <option value=""> {{ isCategoryLoading ? 'Loading..' : (_selected == undefined ? 'Select a category first!' : 'Select a sub-category') }} </option>
            <option ng-repeat="sub_category in selected_categ.sub_categories.data" value="{{ sub_category.id }}" ng-if="selected_categ !== undefined" ng-selected="sub_category.id == form.data.sub_category_id">
              {{ sub_category.name }}
            </option>
          </select>
        </div>
      </div>
    </section>

    <section class="form-group">
      <div class="row">
        <div class="col-md-4">
          <label>Vendor</label>
          <gc-vendor-typeahead ng-model="form.data.vendor_name" id-model="form.data.vendor_id">
          </gc-vendor-typeahead>
        </div>

        <div class="col-md-4">
          <label>Item</label>
          <input ng-model="form.data.item_name" type="text" class="form-control" typeahead="item.name for item in $itemRequest($viewValue)" typeahead-wait-ms="50">
        </div>

        <div class="col-md-4">
          <label>Amount</label>
          <input type="text" class="form-control" ng-model="form.data.amount">
        </div>
      </div>
    </section>

    <section class="form-group">
      <div class="row">
        <div class="col-md-4" ng-init="form.data.transaction_type = form.data.type">
          <label>Transaction Type</label>
          <select class="form-control" ng-model="form.data.transaction_type">
            <option ng-selected = "'income' == form.data.type" value="income">Income</option>
            <option ng-selected = "'expense' == form.data.type" value="expense">Expense</option>
            <option ng-selected = "'non-monetary' == form.data.type" value="non-monetary">Non-monetary</option>
          </select>
        </div>

        <div class="col-md-4">
          <div> &nbsp; </div>
          <label>
            <input type="checkbox" ng-model="form.data.liquidatable">
            <span style="margin-left: 5px"> Liquidatable </span>
          </label>
        </div>
      </div>
    </section>


    <section class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label>Details</label>
          <textarea class="form-control" ng-model="form.data.details"></textarea>
        </div>

        <div class="col-md-6">
          <label>Remarks</label>
          <textarea class="form-control" ng-model="form.data.remarks"></textarea>
        </div>
      </div>

    </section>
        <section class="form-group">
      <div class="row">
    	<center>
		<button class="btn btn-primary" type="submit" >Submit</button>
	</center>	
    </div>
	
	</section>
  </div>


</div>
</form>
