<div class="modal-body show-resident" style="height: 90vh; max-height: 90vh; overflow-y: scroll; overflow-x: hidden;">
  <div gc-resident-profile data="editCtrl.data" es-id="{{ editCtrl.es_id }}"></div>
  <div gc-resident-edit-tabs id="{{ editCtrl.data.id }}" es-id="{{ editCtrl.es_id }}"></div>
</div>

<div class="modal-footer">
  <button class="btn btn-warning" ng-click="$dismiss()">Close</button>
</div>
