<div class="modal-header">
  <h3 class="modal-title">New Course</h3>
</div>

<form ng-submit="createCtrl.$create(createCtrl.data)">
  <div class="modal-body">
    <div class="row form-group">
      <section class="col-md-6">
        <label>Name</label>
        <input placeholder="Enter name..." type="text" class="form-control" ng-model="createCtrl.data.name">
      </section>

      <section class="col-md-6">
        <label>Abbreviation</label>
        <input placeholder="E.g., BSCS-IT" type="Text" class="form-control" ng-model="createCtrl.data.abbreviation">
      </section>
    </div>
  </div>

  <div class="modal-footer">
    <aside class="clearfix">
      <button
        type="submit"
        class="btn btn-primary pull-right"
        ng-disabled="createCtrl.isLoading">
        Create Course
      </button>

      <span ng-if="createCtrl.isLoading" class="pull-right">
        <pulse-spinner></pulse-spinner>
      </span>

      <button
        type="button"
        class="btn btn-warning pull-left"
        ng-click="$close()">
        Cancel
      </button>
    </aside>
  </div>
</form>
