.login {
    background: -webkit-linear-gradient(90deg, #789496 10%, #898486 90%);
    background: -moz-linear-gradient(90deg, #789496 10%, #898486 90%);
    background: -ms-linear-gradient(90deg, #789496 10%, #898486 90%);
    background: -o-linear-gradient(90deg, #789496 10%, #898486 90%);
    background: linear-gradient(90deg, #789496 10%, #898486 90%);
    font-family: 'Open Sans', sans-serif!important;
}

.login .well {
  background-color:#fff!important;
  border-radius:0!important;
  border:none!important;
}


.login .well.login-box {
    margin: auto;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    width: 300px;
    height: 320px;
}

.login .well.login-box legend {
  font-size:26px;
  text-align:center;
  font-weight:300;
}
.login .well.login-box label {
  font-weight:300;
  font-size:16px;
  
}
.login .well.login-box input[type="text"] {
  box-shadow:none;
  border-color:#ddd;
  border-radius:0;
}
.login .well.welcome-text {
    font-size:21px;
}