<div class="modal-footer">
<button class="btn btn-warning" type="button" ng-click="$close()">
    Cancel
  </button>
  <button class="btn btn-primary" type="submit" http-loader="createCtrl.isLoading">
    Next
  </button>

</div>