<div class="modal-header">
  <h3 class="modal-title">New Transaction Vendor</h3>
</div>   

<form ng-submit="editCtrl.$update(editCtrl.data)">
 <div class="modal-body">
  <div class="row form-group">
    <div class="col-md-6">
      <label> Vendor Name </label>
      <input type="text" class="form-control" ng-model="editCtrl.data.name" placeholder="Enter vendor name...">
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-4">
      <label> Street </label>
      <input type="text" class="form-control" ng-model="editCtrl.data.street" placeholder="Enter street..">
    </div>

    <div class="col-md-4">
      <label> Barangay </label>
      <input type="text"
        class="form-control"
        ng-model="editCtrl.data.barangay"
        placeholder="Enter barangay.."
        typeahead="barangay.name for barangay in editCtrl.$barangays($viewValue)"
        typeahead-wait-ms="500">
    </div>    
  </div>

  <div class="row form-group">
    <div class="col-md-4">
      <label> District </label>
      <input type="text"
        class="form-control"
        ng-model="editCtrl.data.district"
        placeholder="Enter district.."
        typeahead="district.name for district in editCtrl.$districts($viewValue)"
        typeahead-wait-ms="500">
    </div>

    <div class="col-md-4">
      <label> City / Municipality </label>
      <input type="text"
        class="form-control"
        ng-model="editCtrl.data.cityMunicipality"
        placeholder="Enter city municipality.."
        typeahead="city.name for city in editCtrl.$citiesMunicipalities($viewValue)"
        typeahead-wait-ms="500">
    </div>
  </div>
</div>

  <div class="modal-footer">
    <aside class="clearfix">
      <button
        type="submit"
        class="btn btn-primary pull-right"
        ng-disabled="editCtrl.isLoading">
        Update Vendor
      </button>

      <span ng-if="editCtrl.isLoading" class="pull-right">
        <pulse-spinner></pulse-spinner>
      </span>

      <button
        type="button"
        class="btn btn-warning pull-left"
        ng-click="$close()">
        Cancel
      </button>
    </aside>
  </div>
</form>