<div class="modal-header">
  <h4> Generate Member's List </h4>
</div>

  <div class="modal-body" style="width: 100%;">
    <section class="form-group">
      <label>Affiliation</label>
      <gc-affiliation-typeahead
        id-variable="memberCtrl.data.affiliation_id"
        collection-variable="memberCtrl.data.affiliation"
        ng-model="memberCtrl.data.affiliation.name">
      </gc-affiliation-typeahead>
    </section>
    <section class="form-group">
      <label>City/Municipality</label>
      <input type="text" class="form-control" 
        placeholder="Enter city.." 
        ng-model="memberCtrl.data.cityMunicipality_name"
        typeahead-wait-ms="500" 
        typeahead="city.name for city in memberCtrl.cities($viewValue)"
        typeahead-on-select="memberCtrl.data.cityMunicipality_id = $item.id">
    </section>
    <section class="form-group">
      <label>Barangay</label>
      <input type="text" class="form-control" 
        placeholder="Enter barangay.." 
        ng-model="memberCtrl.data.barangay_name"
        typeahead-wait-ms="500" 
        typeahead="city.name for city in memberCtrl.barangays($viewValue)"
        typeahead-on-select="memberCtrl.data.barangay_id = $item.id" typeahead-template-url="gc-barangay-typeahead-$template.html">
    </section>
    <section class="form-group">
      <label>Position</label>
      <tags-input ng-model="memberCtrl._selected_position" ng-change="memberCtrl.onQueryChange()"
   on-tag-added="memberCtrl.onQueryChange()"
   on-tag-removed="memberCtrl.onQueryChange()">
     <auto-complete source="memberCtrl.loadAttribute($query)"></auto-complete>
      </tags-input>

    </section>
    <section class="form-group">
      <label>Referrer</label>
        <gc-resident-typeahead 
          placeholder="Enter head\'s name.." 
          id-variable="memberCtrl.data.referrer_id" 
          collection-variable="memberCtrl.data.referrer" 
          ng-model="memberCtrl.data.referrer_name">
        </gc-resident-typeahead>
    </section>
    <section class="form-group">
      <label>Head</label>
        <gc-resident-typeahead 
          placeholder="Enter head\'s name.." 
          id-variable="memberCtrl.data.head_id" 
          collection-variable="memberCtrl.data.head" 
          ng-model="memberCtrl.data.head_name">
        </gc-resident-typeahead>
    </section>
    <section>
      <label>Disable Page Break <input type="checkbox" ng-model="memberCtrl.data.disable_page_break" /></label>
    </section>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="$dismiss()">
      Cancel
    </button>
    <a class="btn btn-primary" href="{{ memberCtrl.pdf(memberCtrl.data) }}" target="_blank">
      Generate
    </a>
  </div>

