<div class="modal-header">
  <h3 class="modal-title">Edit Positions</h3>
</div>   

<form ng-submit="editCtrl.$update(editCtrl.data)">
  <div class="modal-body">
    <div class="row form-group">
      <section class="col-md-6">
        <label>Name</label>
        <input placeholder="Enter position..." type="text" class="form-control" ng-model="editCtrl.data.name">
      </section>

      <section class="col-md-6">
        <label> Attribution Name {{ editCtrl.data.attribution_name }} </label>
        <div gc-attribution-typeahead ng-model="editCtrl.data.attribution_name" init="editCtrl.data.attribution_name">

      <!-- <input ng-model="editCtrl.data.attribution_name" type="text" class="form-control" typeahead="item.name for item in editCtrl.$attrRequest($viewValue)" typeahead-wait-ms="50"> -->
        </div>
      </section>
    </div>
  </div>

  <div class="modal-footer">
    <aside class="clearfix">
      <button
        type="submit"
        class="btn btn-primary pull-right"
        ng-disabled="editCtrl.isLoading">
        Update Position
      </button>

      <button
        type="button"
        class="btn btn-warning pull-left"
        ng-click="$close()">
        Cancel
      </button>
    </aside>
  </div>
</form>