<form ng-submit="editCtrl.update(editCtrl.form.data)">
  <ng-include src="'/app/scholarships-schools.edit/partials/modal-header.html'">
  </ng-include>

  <div class="modal-body">
    <div class="row">
      <!-- -->
      <div class="col-md-6">
        <div class="form-group">
          <label>Name</label>
          <input placeholder="Enter school's name" type="text" class="form-control" ng-model="editCtrl.form.data.name">
        </div>

        <div class="form-group">
          <label>Address</label>
          <input placeholder="Enter address" type="text" class="form-control" ng-model="editCtrl.form.data.address">
        </div>

        <div class="form-group">
          <label>Phone</label>
          <input placeholder="Enter phone number.." type="text" class="form-control" ng-model="editCtrl.form.data.phone">
        </div>
      </div>

      <!-- -->
      <div class="col-md-6">
        <div class="form-group">
          <label>Level</label>
          <gc-school-level ng-model="editCtrl.form.data.level">
          </gc-school-level>
        </div>

        <div class="form-group">
          <label>Types</label>
          <gc-school-types ng-model="editCtrl.form.data.type">
          </gc-school-types>
        </div>
      </div>
    </div>
  </div>
  <ng-include src="'/app/scholarships-schools.edit/partials/modal-footer.html'">
  </ng-include>
</form>
