<div class="box">
  <header class="clearfix" style="color:black;">
    <h4 class="pull-left" style="margin: 5px;"><gc-subject-form-add subjects="semAltEditCtrl.form.data.grades.data">
 
    </gc-subject-form-add> Subjects </h4>

  </header>
       
  <div class="body">    
  <div >
        <button type="button" class="pull-right">
        <i class="ion-ios-plus-empty"></i> New Subject
      </button>
  </div>
  <div>&nbsp;</div>
  <div>
        <gc-subject-form
      subjects="semAltEditCtrl.form.data.grades.data"
      gwa="semAltEditCtrl.form.data.gwa">
    </gc-subject-form>
  </div>

  </div>
</div>