<div class="clearfix">
  <button class="btn btn-success pull-right" type="button"
    ng-click="semAltEditCtrl.form.data.scholarship_type_id = semAltEditCtrl.form.data.scholarship_type.id"
    gc-submit="semesters/{{ semAltEditCtrl.form.data.id }}"
    request-type="put"
    request-data="semAltEditCtrl.form.data"
    request-success="semAltEditCtrl.successXHRCallback"
    request-error="semAltEditCtrl.errorXHRCallback"
    ng-disabled="semAltEditCtrl.isLoading">
    Update Semester
  </button>
  <a class="btn btn-primary pull-left" ui-sref="scholarships.show">
    <i class="ion-android-system-back"></i>
    Close
  </a>
</div>