<gc-affiliation-resident-form collection="createCtrl.data.members">
</gc-affiliation-resident-form>

{{ createCtrl.data.members }}
{{ createCtrl }}

<div ng-if="!(createCtrl.data.members.length)" class="outer-table">
  <div class="inner-table">
    <h4> <small> No members have yet been added. </small> </h4>
  </div>
</div>

<div ng-if="createCtrl.data.members.length">
  <gc-affiliation-resident-table
    collection="createCtrl.data.members"
    selected="createCtrl.custom.selected"
    filter="member">
  </gc-affiliation-resident-table>
</div>