
<div ng-if="!(createCtrl.data.founders.length)" class="outer-table">
  <div class="inner-table">
    <h4> <small> No founders have yet been added. </small> </h4>
  </div>
</div>

<div ng-if="createCtrl.data.founders.length">
  <gc-affiliation-resident-table
    collection="createCtrl.data.founders"
    selected="createCtrl.custom.selected"
    filtere="founder">
  </gc-affiliation-resident-table>
</div>