<tabset>
  <tab id="members-tab" heading="Members" class="tab-primary">
    <ng-include src="'/app/affiliations.create/partials/affiliations.create-tabMembers.html'">
    </ng-include>
  </tab>
  

  <tab id="officers-tab" heading="Officers" class="tab-primary">
    <ng-include src="'/app/affiliations.create/partials/affiliations.create-tabLeaders.html'">
    </ng-include>
  </tab>

  <tab id="founders-tab" heading="Founders" class="tab-primary">
    <ng-include src="'/app/affiliations.create/partials/affiliations.create-tabFounders.html'">
    </ng-include>
  </tab>

  <tab id="transactions-tab" heading="Transactions" class="tab-primary">
    <ng-include src="'/app/affiliations.create/partials/affiliations.create-tabTransactions.html'">
    </ng-include>
  </tab>
</tabset>