<div ng-if="!(createCtrl.data.leaders.length)" class="outer-table">
  <div class="inner-table">
    <h4> <small> No leaders have yet been added. </small> </h4>
  </div>
</div>

<div ng-if="createCtrl.data.leaders.length">
  <gc-affiliation-resident-table
    collection="createCtrl.data.leaders"
    selected="createCtrl.custom.selected">
  </gc-affiliation-resident-table>
</div>