<form srph-xhr="affiliations"
  request-type="post"
  request-data="createCtrl.form.data"
  request-success="createCtrl.$successHandler"
  request-error="createCtrl.$errorHandler">
  <div class="row">

    <section class="col-md-6">
      <div class="form-group">
        <label>Name</label>
        <input placeholder="Enter affiliation's name.." type="text" class="form-control" ng-model="createCtrl.form.data.name">
      </div>

      <!-- date founded -->
      <div class="form-group">
        <label>Date Founded</label>
        <input id="founded"
          name="founded"
          placeholder="Click to open datepicker"
          class="form-control"
          datepicker-popup="MM-dd-yyyy"
          is-open="createCtrl.form.custom.datepickers.founded"
          ng-model="createCtrl.form.data.founded"
          ng-init="createCtrl.form.custom.datepickers.founded = false"
          ng-click="createCtrl.form.custom.datepickers.founded = !createCtrl.form.custom.datepickers.founded">
      </div>
      <!-- date founded -->
    </section>

    <section class="col-md-6">
      <div class="form-group">
        <label>Description</label>
        <textarea
          rows="5"
          placeholder="Enter description..."
          class="form-control"
          ng-model="createCtrl.form.data.description">
        </textarea>
      </div>
    </section>

  </div>
    <section class="col-md-6">

  <div class="row form-group">
      <label> Street </label>
      <input type="text" name="street" ng-model="createCtrl.form.data.street" class="form-control">
    </section>

    <section class="col-md-6">
      <label for="barangay">Barangay</label>
         <input id="barangay" type="text" class="form-control" ng-model="createCtrl.form.data.barangay" typeahead="barangay.name for barangay in createCtrl.barangays($viewValue) | filter:$viewValue | limitTo:8" typeahead-wait-ms="500" typeahead-template-url="gc-barangay-typeahead-$template.html">
    </section>
  </div>

  <div class="row form-group">
    <section class="col-md-6">
      <label for="city">City/Municipality</label>
      <input id="city" type="text" class="form-control" ng-model="createCtrl.form.data.cityMunicipality" typeahead="cityMunicipality.name for cityMunicipality in createCtrl.citiesMunicipalities($viewValue)" typeahead-wait-ms="50">
    </section>

    <div class="form-group col-md-6">
      <label for="district">District</label>
      <input id="district" type="text" class="form-control" ng-model="createCtrl.form.data.district" typeahead="district.name for district in createCtrl.districts($viewValue)" typeahead-wait-ms="50">
                  
    </div>
  </div>

  <ng-include src="'/app/affiliations.create/partials/affiliations.create-controls.html'">
  </ng-include>
</form>