<!--<ng-include src="'/app/scholarships-schools/partials/header.html'"></ng-include>-->
<ng-include src="'/app/scholarships-schools/partials/tools.html'"></ng-include>

<div
  ss-loader="schools.isLoading"
  ss-loader-target=".table tbody"
  class="text-center text-warning animate-show">
  <three-bounce-spinner></three-bounce-spinner>
</div>

<div style="overflow: scroll; height: 82vh; width: 100%;"
  srph-infinite-scroll="schools.getPage('next')"
  disabled="schools.collection.paging.next == undefined"
  threshold="200"
  throttle="0"
  container="true">
<table st-table="schools.collection" class="table table-hover table-clickable" st-pipe="schools.callServer">
  <thead>
    <tr>
      <th colspan="1" width="1%"></th>
      <th lr-drag-src="headers"
        lr-drop-target="headers"
        ng-repeat="col in schools.columns"
        ng-show="col.show"
        resizable
        r-directions="['right']">
          <span class="text-center" style="display: block" st-sort="{{:: col.key }}">{{:: col.label }}</span>
      </th>
    </tr>
    
    <tr>
      <th>
        <input type="checkbox"
          class="form-control input-sm"
          st-control="schools.collection">
      </th>

      <th ng-repeat="column in schools.columns"
        ng-show="column.show">
        <input type="text"
          class="form-control input-sm"
          st-search="column.key">          
      </th>
    </tr>
  </thead>
  
  <tbody>
    <tr cs-select="schools.collection" ng-repeat="school in schools.collection" class="gc-animate">
      <td>
        <input type="checkbox" class="form-control input-sm" ng-model="school.isSelected">
      </td>

      <td ng-repeat="column in schools.columns"
        ng-click="$eval(column.onClick)"
        ss-bind-template="column.cellTemplate"
        ng-show="column.show"></td>
    </tr>
    <tr ng-hide="schools.collection.length"><td style="padding-top: 16px;" colspan="{{ schools.columns.length + 1 }}" class="text-center"><i class="fa fa-exclamation-circle"></i> No results found</td></tr>
  </tbody>
</table>
</div>

<ng-include src="'/app/scholarships-schools/partials/pagination.html'"></ng-include>