<div class="clearfix">
  <button class="btn btn-success pull-right" type="button" ng-disabled="semCreateCtrl.isLoading" ng-click="semCreateCtrl.submit()">
    Create Semester
  </button>
  <a class="btn btn-primary pull-left" ui-sref="scholarships.show">
    <i class="ion-android-system-back"></i>
    Cancel
  </a>
</div>