<div class="box">
  <header class="head clearfix">
    <h4 class="pull-left" style="margin: 5px;"><gc-subject-form-add subjects="semCreateCtrl.form.data.grades.data">
      <button class="btn btn-primary btn-sm" type="button">
        <i class="ion-plus-round"></i>
      </button>
    </gc-subject-form-add> Subjects </h4>
  </header>

  <div class="body">    
    <gc-subject-form
      subjects="semCreateCtrl.form.data.grades.data"
      gwa="semCreateCtrl.form.data.gwa">
    </gc-subject-form>
  </div>
</div>