<!--<ng-include src="'/app/attributions/partials/header.html'"></ng-include>-->
<ng-include src="'/app/attributions/partials/tools.html'"></ng-include>
<ng-include src="'/app/attributions/partials/loader.html'"></ng-include>

<div
  id="yolo-pls-swag"
  style="overflow: scroll; height: 82vh; width: 100%;"
  srph-infinite-scroll="attributions.getPage('next')"
  disabled="attributions.collection.paging.next == undefined"
  threshold="200"
  throttle="0"
  container="true">
<table st-table="attributions" class="table table-hover table-clickable" st-pipe="attributions.callServer">
  <thead>
    <tr>
      <th colspan="1" width="1%"></th>
      <th lr-drag-src="headers"
        lr-drop-target="headers"
        ng-repeat="col in attributions.columns"
        ng-show="col.show"
        resizable
        r-directions="['right']">
          <span class="text-center" style="display: block" st-sort="{{:: col.key }}">{{:: col.label }}</span>
      </th>
    </tr>
    
    <tr>
      <th>
        <input type="checkbox"
          class="form-control input-sm"
          st-control="attributions.collection">
      </th>

      <th ng-repeat="col in attributions.columns"
        ng-show="col.show">
        <input type="text"
          class="form-control input-sm"
          st-search="col.key"
          st-delay="200">          
      </th>
    </tr>
  </thead>
  <tbody gc-select-row>
    <tr cs-select="attributions.collection" ng-repeat="attribution in attributions.collection" data-index="{{ $index }}" data-id="{{ attribution.id }}" data-es="{{ attribution.es_id }}" data-state="attributions.edit">
      <td>
        <input type="checkbox" class="form-control input-sm" ng-model="attribution.isSelected">
      </td>

      <td ng-repeat="col in attributions.columns"
        ng-click="$eval(col.onClick)"
        ss-bind-template="col.cellTemplate"
        ng-show="col.show"></td>
    </tr>
    <tr ng-hide="attributions.collection.length"><td style="padding-top: 16px;" colspan="{{ attributions.columns.length + 1 }}" class="text-center"><i class="fa fa-exclamation-circle"></i> No results found</td></tr>
  </tbody>
</table>
</div>

<ng-include src="'/app/attributions/partials/pagination.html'"></ng-include>