<ng-include src="'/app/administration-groups.create/partials/modal-header.html'">
</ng-include>

<form autocomplete="off" ng-submit="onSubmit(form.data)">
    <div class="modal-body" style="width: 100%">
        <div class="error text-danger">{{ error }}</div>
        <div class="row">
            <fieldset class="col-md-6">
                <legend>Group info</legend>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input id="name" placeholder="Enter name" type="text" class="form-control" ng-model="form.data.name">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea id="description" placeholder="Brief description" name="description" id="" class="form-control" cols="30" rows="10" ng-model="form.data.description"></textarea>
                </div>
            </fieldset>

            <fieldset class="col-md-6">
                <legend>Permissions</legend>
                <div class="text-left">
                    <div class="btn-group">
                        <a href="" class="btn btn-default btn-xs" ng-click="allowAllPermissions()">Allow all</a>
                    </div>
                    <div class="btn-group">
                        <a href="" class="btn btn-default btn-xs" ng-click="resetAllPermissions()">Reset</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" ng-repeat="(component, items) in permissions">
                        <h5>{{ component }}</h5>
                        <div class="checkbox m-sm-l" ng-repeat="item in items">
                            <label>
                                <input type="checkbox" ng-model="item.status" ng-checked="item.status" ng-true-value="1" ng-false-value="0">
                                {{ item.functionality }}
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <ng-include src="'/app/administration-groups.create/partials/modal-footer.html'">
    </ng-include>
</form>
