/*********************************************************/
/*                 Template Layout                       */
/*********************************************************/


#wrap,
#top,
.head,
.Footer {
  .clearfix();
}

header { background-color : #2d9b0d; color: white;}
.bt-menu-trigger { background: #F09A14 !important; }

.Wrap, #wrap {
  margin: 0 auto;
  position: relative;
}

#left,
#right {
  .transition(all .3s ease-in-out);
  width: @SidebarWidth;
  z-index: 999;
}

#left {
  position: absolute;
  left: -@SidebarWidth;
}

#right {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  right: -@SidebarWidth;
}

.sidebar-left-opened #left {
  left: 0;
}

.sidebar-right-opened {
  position: relative;
  right: @SidebarWidth;
  #right {
    right: 0;
  }
  &.fixed .navbar-fixed-top {
    right: @SidebarWidth;
  }
}

@media (min-width: @screen-sm-min) {
  #left {
    position: relative;
    float: left;
    left: auto;

    .sidebar-left-hidden & {
      width: 0;
      visibility: hidden;
    }
    .sidebar-left-mini & {
      width: @miniSidebarWidth;
    }
  }

  #content {
    .transition(all .3s ease-in-out);
    .text-overflow();
  }

  .sidebar-right-opened {
       right: 0;
       margin-right: @SidebarWidth;
    .navbar-fixed-top {
       margin-right: @SidebarWidth;
    }
  }
}

@media (min-width: @screen-lg-min) {
  body.boxed {
    margin-bottom: 0;
    .Wrap, #wrap, .Footer, #top .navbar.navbar-fixed-top {
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto;
    }
    .Footer, #footer {
      position: relative;
    }
  }
}

.outer-table {
  display: table;
  height: 100%;
  width: 100%;
}

.outer-table > .inner-table {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* ================== END Template Layout ============== */
