<div class="modal-header">
  <h3 class="modal-title">New affiliation</h3>
</div>

<div class="modal-body">
  <form srph-xhr="affiliations"
  request-type="post"
  request-data="_modal_.data"
  request-success="_modal_.$successHandler"
  request-error="_modal_.$errorHandler">
  <div class="row">

    <section class="col-md-6">
      <div class="form-group">
        <label>Name</label>
        <input placeholder="Enter affiliation's name.." type="text" class="form-control" ng-model="_modal_.data.name">
      </div>

      <!-- date founded -->
      <div class="form-group">
        <label>Date Founded</label>
        <input id="founded"
          placeholder="Click to open datepicker"
          class="form-control"
          datepicker-popup="MM-dd-yyyy"
          is-open="_modal_.custom.datepickers.founded"
          ng-model="_modal_.data.founded"
          ng-init="_modal_.custom.datepickers.founded = false"
          ng-click="_modal_.custom.datepickers.founded = !_modal_.custom.datepickers.founded">
      </div>
      <!-- date founded -->
    </section>

    <section class="col-md-6">
      <div class="form-group">
        <label>Description</label>
        <textarea
          rows="5"
          placeholder="Enter description..."
          class="form-control"
          ng-model="_modal_.data.description">
        </textarea>
      </div>
    </section>

  </div>

  <div class="row form-group">
    <section class="col-md-6">
      <label> Street </label>
      <input type="text" name="street" ng-model="_modal_.data.street" class="form-control">
    </section>

    <section class="col-md-6">
      <label>Barangay</label>
      <input id="barangay" type="text" class="form-control" ng-model="_modal_.data.barangay" typeahead="barangay.name for barangay in _modal_.barangays($viewValue)" typeahead-wait-ms="50">
    </section>
  </div>

  <div class="row form-group">
    <section class="col-md-6">
      <label>City/Municipality</label>
      <input type="text" class="form-control" ng-model="_modal_.data.cityMunicipality" typeahead="cityMunicipality.name for cityMunicipality in _modal_.citiesMunicipalities($viewValue)" typeahead-wait-ms="50">
    </section>

    <div class="form-group col-md-6">
      <label>District</label>
      <input type="text" class="form-control" ng-model="_modal_.data.district" typeahead="district.name for district in _modal_.districts($viewValue)" typeahead-wait-ms="50">
    </div>
  </div>

  <ng-include src="'/app/affiliations.create/partials/affiliations.create-controls.html'">
  </ng-include>
  </form>
</div>

<div class="modal-footer"></div>