<div class="btn-group">
  <a href="" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
    Actions <span class="caret"></span>
  </a>
  
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
    <li><a href="" ng-click="residents.$report('spreadsheet')">Export List to Spreadsheet</a></li>
    <li class="separator"></li>
    <li><a href="" ng-click="residents.remove()">Remove selected</a></li>
    <li class="separator"></li>
    <li><a href="" ng-click="residents.$addToAffiliation()">Bulk Add to Affiliation</a></li>
    <li><a href="" ng-click="residents.$addToAttribution()">Bulk Add to Attribution</a></li>
    <li><a href="" ng-click="residents.$addToTransaction()">Bulk Add to Transaction</a></li>
  </ul>
</div>