<div class="btn-group">
	 <tags-input style="min-width : 200px;" ng-model="residents._selected_attributes" ng-change="residents.onQueryChange()"
	 placeholder="Filter By Attributes"
	 on-tag-added="residents.onQueryChange()"
	 on-tag-removed="residents.onQueryChange()">
     <auto-complete source="residents.loadAttribute($query)"></auto-complete>
  </tags-input>
</div>

<div class="btn-group">
	<select class="form-control" ng-model="residents._selected_affiliation" ng-change="residents.onQueryChange()">
	<option value="" disabled selected>Filter by Affiliation</option>
    <option value="null"> All </option>
    <option ng-repeat="affiliation in residents.affiliations" value="{{ affiliation.name }}">
      {{ affiliation.name }}
    </option>
  </select>
</div>


<div class="btn-group">
  <a ui-sref="residents.create" class="btn btn-primary">
    <i class="ion-plus"></i>
    Add resident
  </a>
</div>

<!-- <button type="button" ng-click="residents.$report()" class="btn btn-info">
  Generate Reports
</button> -->