<ng-include src="'/app/administration-groups/partials/tools.html'"></ng-include>
<ng-include src="'/app/administration-groups/partials/loader.html'"></ng-include>

<div
  id="yolo-pls-swag"
  style="overflow: scroll; height: 82vh; width: 100%;"
  srph-infinite-scroll="groups.getPage('next')"
  disabled="groups.collection.paging.next == undefined"
  threshold="200"
  throttle="0"
  container="true">
<table st-table="groups" class="table table-hover table-clickable" st-pipe="groups.callServer">
    <thead>
    <tr>
        <th colspan="1" width="1%"></th>
        <th lr-drag-src="headers"
          lr-drop-target="headers"
          ng-repeat="col in groups.columns"
          ng-show="col.show"
          resizable
          r-directions="['right']">
            <span class="text-center" style="display: block" st-sort="{{:: col.key }}">{{:: col.label }}</span>
          </th>
    </tr>

    <tr>
        <th>
            <input type="checkbox"
                   class="form-control input-sm"
                   st-control="groups.collection">
        </th>

        <th ng-repeat="col in groups.columns"
            ng-show="col.show">
            <input type="text"
                   class="form-control input-sm"
                   st-search="col.key"
                   st-delay="200">
        </th>
    </tr>
    </thead>
    <tbody gc-select-row>
    <tr cs-select="groups.collection" ng-repeat="group in groups.collection" class="gc-animate" data-index="{{ $index }}" data-id="{{ group.id }}" data-es="{{ group.es_id }}" data-state="groups.edit">
        <td>
            <input type="checkbox" class="form-control input-sm" ng-model="group.isSelected">
        </td>

        <td ng-repeat="col in groups.columns"
            ng-click="$eval(col.onClick)"
            ss-bind-template="col.cellTemplate"
            ng-show="col.show"></td>
    </tr>
    <tr ng-hide="groups.collection.length"><td style="padding-top: 16px;" colspan="{{ groups.columns.length + 1 }}" class="text-center"><i class="fa fa-exclamation-circle"></i> No results found</td></tr>

    </tbody>
</table>
</div>
<ng-include src="'/app/administration-groups/partials/pagination.html'"></ng-include>