<div class="modal-header">
    <h3 class="modal-title">Create a Transaction Voucher</h3>
</div>

<div class="modal-body" style="width: 100%;">
  <label for="client">Client Name</label>
  <div class="row">
    <section class="col-md-3" >
      <select class="form-control" ng-model="data.client_type" ng-init="data.client_type = 'Resident'">
        <option selected="selected" value="Resident">Individual</option>
        <option value="Affiliation">Group</option>
      </select>
    </section>
        
    <section class="col-md-9">
      <input id="client" type="text" ng-show="data.client_type == 'Resident'" ng-model="data.client_name" class="form-control" type="text" placeholder="Client Name" typeahead-wait-ms="50" typeahead="resident.full_name for resident in getResidents($viewValue)" typeahead-template-url="gc-resident-typeahead-$template.html" typeahead-on-select="onClientNameSelect($item, $model, $label)" class="form-control">
      <input ng-show="data.client_type == 'Affiliation'" id="affiliation" placeholder= "Affiliation Name" type="text" class="form-control" ng-model="data.client_name" typeahead-wait-ms="50" typeahead="affiliation.name for affiliation in affiliations | filter:$viewValue | limitTo:8" typeahead-on-select="onClientNameSelect($item, $model, $label)">

      <div class="clearfix" style="margin-top: 3px;">
        <div class="pull-right">
          <i class="ion-ios-information"></i>
          <a href="" ng-click="clientCreate()" ng-if="data.client_type == 'Resident'">Click here to register the register (and select it as client) if it does not exist yet.</a>
          <a href="" ng-click="clientCreate()" ng-if="data.client_type == 'Affiliation'">Click here to register the affiliation (and select it as affiliation) if it does not exist yet.</a>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="$close()">
    Cancel
  </button>
  <button class="btn btn-primary" type="submit" http-loader="isLoading">
    Save Voucher
  </button>
</div>