<div ng-if="!semEditCtrl.edit_mode">
  <div style="margin-left: 10px;">
    <button ng-click="semEditCtrl.toggle()" class="pull-right">Edit</button>
    <div class="row">
      <div class="col-md-5">
        <label><i class="ion-university"></i> <strong>School</strong></label>
        <p>{{ semEditCtrl.form.data.school_name }}</p>
      </div>

      <div class="col-md-2">
        <label><strong>Year</strong></label>
        <p>{{ semEditCtrl.form.data.year_level }}</p>
      </div>

      <div class="col-md-2">
        <label><strong>Type</strong></label>
        <p>{{ semEditCtrl.form.data.scholarship_type.name }}</p>
      </div>
    </div>

    <div class="row">
          <div class="col-md-3">
        <label><strong>No. of Subject</strong></label>
        <p>{{ semEditCtrl.form.data.subject_count }}</p>
      </div> 
      <div class="col-md-3">
        <label><strong>S.Y</strong></label>        
        <p>{{ semEditCtrl.form.data.school_year }}</p>
      </div>

      <div class="col-md-2">
        <label><strong>Term</strong></label>        
        <p>{{ semEditCtrl.form.data.term }}</p>
      </div>
      <div class="col-md-4">
        <label><strong>Semester Status</strong></label>
        <p>{{ semEditCtrl.form.data.status }}</p>
      </div> 

    </div>

    <div class="form-group row">
      <div class="col-md-6">
      <label><strong>Course</strong></label>
      <p>{{ semEditCtrl.form.data.course_name }}</p>    
      </div>

      <div class="col-md-2">
        <label><strong>GWA</strong></label>        
        <p>{{ semEditCtrl.form.data.gwa }}</p>
      </div>    

      <div class="col-md-4">
        <label><strong>Level</strong></label>
        <p>{{ semEditCtrl.form.data.school_level }}</p>
      </div>
    </div>
      
    <div class="form-group">
      <label><strong>Client</strong></label>
      <p>{{ semEditCtrl.form.data.client.full_name }}</p>
    </div> 
    <div class="form-group">
      <label><strong>Date Submitted</strong></label>
      <p>{{ semEditCtrl.form.data.date_encoded | timestamp | date: 'mediumDate' }}</p>
    </div> 

    <div class="form-group row">
      <div class="col-md-6">
        <label><strong>Probation</strong></label>
        <p>{{ semEditCtrl.form.data.is_probation ? 'Yes' : 'No' }}</p>
      </div>


    </div>
  </div>
</div>

<div ng-if="semEditCtrl.edit_mode">
  <button ng-click="semEditCtrl.toggle()" class="btn btn-default btn-sm pull-right" tooltip="Exit edit mode">
    <i class="ion-close-round"></i>
  </button>

  <div class="row form-group">
      <div class="col-md-5" ng-init="semEditCtrl.form.data.school_name = semEditCtrl.form.data.school.name">
      <label> School </label>
      <gc-school-typeahead id-variable="semEditCtrl.form.data.school_id" ng-model="semEditCtrl.form.data.school_name" transform-id-variable="{{ semEditCtrl.form.data.school.id }}">
      </gc-school-typeahead>
    </div>
    <div class="col-md-2">
      <label> Year </label>
      <input type="text" ng-model="semEditCtrl.form.data.year_level" class="form-control">
    </div>
    <div class="col-md-3" ng-init="semEditCtrl.form.data.scholarship_type_id = semEditCtrl.form.data.scholarship_type.id">
      <label> Type </label>
      <div gc-scholarship-type-dropdown-yolo ng-model="semEditCtrl.form.data.scholarship_type_id">
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-3">
    <label> No. of Subjects </label>
    <input type="text" class="form-control" ng-model="semEditCtrl.form.data.subject_count">
  </div>
    <div class="col-md-4">
      <label for="school_year">School Year</label>
      <gc-year-sets range="30" year-model="semEditCtrl.form.data.school_year">
      </gc-year-sets>
    </div>
    <div class="col-md-2">
      <label for="account">Term</label>
      <gc-scholarship-term-dropdown term-model="semEditCtrl.form.data.term">
      </gc-scholarship-term-dropdown>
    </div>
    <div class="col-md-3">
      <label>Semester Status</label>
      <select class="form-control" ng-model="semEditCtrl.form.data.status">
        <option ng-repeat="status in semEditCtrl.semester_status" value="{{ status }}" ng-selected="semEditCtrl.form.data.status== status">
          {{ status }}
        </option>
      </select>
    </div>

  </div>

  <div class="form-group row">
  <div class="col-md-6">
        <label>Course</label>
    <gc-course-typeahead
      placeholder="Enter course.."
      ng-model="semEditCtrl.form.data.course_name"
      id-variable="semEditCtrl.form.data.course_id">
    </gc-course-typeahead>  
  </div>

        <div class="col-md-2">
      <label>GWA</label>
      <input type="text" class="form-control" ng-model="semEditCtrl.form.data.gwa" name="gwa">
    </div>

    <div class="col-md-4">
      <label>Level</label>
      <select class="form-control" ng-model="semEditCtrl.form.data.school_level">
        <option ng-repeat="level in semEditCtrl.school_levels" value="{{ level.value }}" ng-selected="semEditCtrl.form.data.school_level == level.value">
          {{ level.label | studlyCase }}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label>Allowance Client</label>
    <gc-resident-typeahead
      id-variable="semEditCtrl.form.data.client_id"
      collection-variable="semEditCtrl.form.data.client"
      ng-model="semEditCtrl.form.data.client.full_name">
    </gc-resident-typeahead>
  </div>
 <div class="row form-group">
  <div class="col-md-11">
    <label>Date Submitted</label>
        <input type="text"
        placeholder="Fill to override the default.."
        class="form-control"
        ng-model="semEditCtrl.form.data.date_encoded"
        datepicker-popup="yyyy-MM-dd"
        is-open="semEditCtrl.form.custom.date_encoded"
        ng-init="semEditCtrl.form.custom.date_encoded = false"
        ng-click="semEditCtrl.form.custom.date_encoded = !semEditCtrl.form.custom.date_encoded">

  </div>
</div>
  <div class="row form-group">
    <div class="col-md-6">
      <label>
        Probation <br />
        <input type="checkbox" ng-model="semEditCtrl.form.data.is_probation" ng-checked="semEditCtrl.form.data.is_probation">
      </label>
    </div>

  </div>

  <div class="clearfix">
    <button class="btn btn-success pull-right" ng-click="semEditCtrl.update(semEditCtrl.form.data)" ng-disabled="semEditCtrl.isUpdating">
      Update
    </button>
  </div>  
</div>
<!--
<ng-include src="'/app/scholarships-semesters-list.show.semester-edit/partials/semester.edit-btns.html'">
</ng-include>
<hr>-->
<div gc-scholarship-release-table semester-id="{{ semEditCtrl.form.data.id }}" dummy="semEditCtrl._dummy">
</div>
<div gc-scholarship-allowance-table semester-id="{{ semEditCtrl.form.data.id }}" dummy="semEditCtrl._dummy">
</div>
<hr>
<gc-subject-form
  id="semEditCtrl.form.data.id"
  gwa="semEditCtrl.form.data.gwa">
</gc-subject-form>
