<div class="footer clearfix">
    <div class="pull-left text-muted small" ng-controller="MainController">&copy; 2014 - EDMS Build {{build}}</div>
    <!--<gc-pagination-->
            <!--custom-classes="paging pull-right btn-group btn-group-sm"-->
            <!--paging="residents.collection.paging"-->
            <!--next-callback="residents.getPage('next')"-->
            <!--prev-callback="residents.getPage('previous')">-->
    <!--</gc-pagination>-->
</div>