<div id="left" class="bg-dark dker" ng-show="toggleSidebar">
  <!--   <div class="media user-media">
  <img class="img-responsive" src="/assets/img/galactus_logo_small.png" alt="">
    </div>
 -->


  <ul id="menu">


        <!--<li class="nav-header">Menu</li>-->
        <!-- <li class="nav-divider"></li> -->

        <li ui-sref-active="active">
            <a ui-sref="dashboard">
                <i class="ion-podium"></i><span class="link-title">&nbsp;Dashboard</span>
            </a>
        </li>

        <li ui-sref-active="active" ss-has-permission="profiling.view_residents">
            <a ui-sref="residents">
                <i class="fa fa-male"></i>
                <span class="link-title">Residents</span>
            </a>
        </li>

        <li ui-sref-active="active" ss-has-permission="profiling.view_households">
            <a ui-sref="households">
                <i class="ion-ios7-home"></i>
                <span class="link-title">Households</span>
            </a>
        </li>

        <li ui-sref-active="active" ss-has-permission="profiling.view_affiliations">
            <a ui-sref="affiliations">
                <i class="fa fa-sitemap"></i>
                <span class="link-title">Affiliations</span>
            </a>
        </li>

        <li ui-sref-active="active" ss-has-permission="transaction_system.view_transactions">
            <a ui-sref="transactions">
                <i class="ion-briefcase"></i>
                <span class="link-title">Transactions</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a><i class="fa fa-angle-right"></i>&nbsp;All</a>
                </li>
                <li>
                    <a><i class="fa fa-angle-right"></i>&nbsp;Approved</a>
                </li>
                <li>
                    <a><i class="fa fa-angle-right"></i>&nbsp;Floating</a>
                </li>
                <li>
                    <a><i class="fa fa-angle-right"></i>&nbsp;Rejected</a>
                </li>
                <li>
                    <a ui-sref="transactions.categories">
                        <i class="fa fa-angle-right"></i>&nbsp; Categories
                    </a>
                </li>
                <li>
                    <a ui-sref="transactions.accounts">
                        <i class="fa fa-angel-right"></i>
                        &nbsp; Accounts
                    </a>
                </li>
            </ul>
        </li>

        <li ui-sref-active="active" ss-has-permission="scholarship_management.view_scholarships">
            <a ui-sref="scholarships">
                <i class="ion-ios7-lightbulb"></i>
                <span class="link-title">Scholarships</span>
            </a>
            <ul>
                <li ui-sref-active="active">
                    <a ui-sref="scholarship-schools"><i class="ion-ios7-people"></i>&nbsp;Schools</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="scholarship-awards"><i class="ion-ios7-people"></i>&nbsp;Awards</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="scholarship-subjects"><i class="ion-ios7-people"></i>&nbsp;Subjects</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="scholarships-courses"><i class="ion-ios7-people"></i>&nbsp;Courses</a>
                </li>
                <li ui-sref-active="active">
                  <a ui-sref="scholarship-allowances"><i class="ion-ios7-people"></i>&nbsp;Allowance</a>
                </li>
                <li ui-sref-active="active">
                  <a ui-sref="scholarship-allowancePolicies">
                    <i class="ion-ios7-people"></i>&nbsp;Allowance Policies
                  </a>
                </li>
            </ul>
        </li>

        <li ui-sref-active="active" ss-has-permission="user_management.view_users">
            <a ui-sref="administration.users">
                <i class="ion-ios7-people"></i>
                <span class="link-title">Users</span>
            </a>
        </li>

        <li ui-sref-active="active" ss-has-permission="user_management.view_users">
            <a ui-sref="administration.groups">
                <i class="ion-ios7-people"></i>
                <span class="link-title">Groups</span>
            </a>
        </li>

  </ul>
</div>
