<div class="modal-footer">
	<a ng-click="deactivateUser(form.data)" class="btn btn-danger pull-left">Deactivate User</a>
    <button class="btn btn-primary" type="submit" http-loader="editCtrl.isLoading">
        Save
    </button>

    <button class="btn btn-warning" type="button" ng-click="$dismiss('cancel')">
        Close
    </button>
</div>