<div class="modal-header">
  Generate Release
</div>

<div class="modal-body">
  	<div class="form">
  		<div class="form-group">
  			<label>Municipality</label>
  			   <input id="cityMunicipality" type="text" class="form-control" ng-model="form.data.cityMunicipality" typeahead="cityMunicipality as cityMunicipality.name for cityMunicipality in citiesMunicipalities($viewValue) | filter:$viewValue | limitTo:8" typeahead-wait-ms="500">
  		</div>
  		<div class="form-group">
  			<label>Barangay</label>
  			<input id="barangay" type="text" class="form-control" ng-model="form.data.barangay" typeahead="barangay as barangay.name for barangay in barangays($viewValue, form.data.cityMunicipality) | filter:$viewValue | limitTo:8" typeahead-wait-ms="500" typeahead-template-url="gc-barangay-typeahead-$template.html">
  		</div>
  		<div class="form-group">
  			<label>Date Submitted</label>
  			<input type="text"
		        placeholder="Start Date"
		        class="form-control"
		        ng-model="form.data.created_at_start"
		        datepicker-popup="yyyy-MM-dd"
		        is-open="form.custom.created_at_start"
		        ng-init="form.custom.created_at_start = false"
		        ng-click="form.custom.created_at_start = !form.custom.created_at_start">
        to
        <input type="text"
            placeholder="End Date"
            class="form-control"
            ng-model="form.data.created_at_end"
            datepicker-popup="yyyy-MM-dd"
            is-open="form.custom.created_at_end"
            ng-init="form.custom.created_at_end = false"
            ng-click="form.custom.created_at_end = !form.custom.created_at_end">
  		</div>  


  	</div>
</div>

<div class="modal-footer clearfix">
	  <button type="button" ng-click="$close()" class="btn btn-default pull-left">Cancel</button>
  		<a target="_blank" href="{{ getURL('pdf', form.data) }}" ng-if="type=='pdf'" class="btn btn-primary pull-right">Generate PDF</button>
  		<a target="_blank" href="{{ getURL('spreadsheet', form.data) }}" ng-if="type=='spreadsheet'" class="btn btn-success pull-right">Generate Excel</button>
</div>