<!--<ng-include src="'/app/scholarships-subjects/partials/header.html'"></ng-include>-->
<ng-include src="'/app/scholarships-subjects/partials/tools.html'"></ng-include>
<ng-include src="'/app/scholarships-subjects/partials/loader.html'"></ng-include>

<div style="overflow: scroll; height: 82vh; width: 100%;"
  srph-infinite-scroll="subjects.getPage('next')"
  disabled="subjects.collection.paging.next == undefined"
  threshold="200"
  throttle="0"
  container="true">
<table st-table="subjects.collection" class="table table-hover table-clickable" st-pipe="subjects.callServer">
  <thead>
    <tr>
      <th colspan="1" width="1%"></th>
      <th lr-drag-src="headers"
        lr-drop-target="headers"
        ng-repeat="col in subjects.columns"
        ng-show="col.show"
        resizable
        r-directions="['right']">
          <span class="text-center" style="display: block" st-sort="{{:: col.key }}">{{:: col.label }}</span>
      </th>
    </tr>
    
    <tr>
      <th>
        <input type="checkbox"
          class="form-control input-sm"
          st-control="subjects.collection">
      </th>

      <th ng-repeat="col in subjects.columns"
        ng-show="col.show">
        <input type="text"
          class="form-control input-sm"
          st-search="col.key">          
      </th>
    </tr>
  </thead>
  
  <tbody>
    <tr cs-select="subjects.collection" ng-repeat="subject in subjects.collection" class="gc-animate">
      <td>
        <input type="checkbox" class="form-control input-sm" ng-model="subject.isSelected">
      </td>

      <td ng-repeat="col in subjects.columns"
        ng-click="$eval(col.onClick)"
        ss-bind-template="col.cellTemplate"
        ng-show="col.show"></td>
    </tr>
    <tr ng-hide="subjects.collection.length"><td style="padding-top: 16px;" colspan="{{ subjects.columns.length + 1 }}" class="text-center"><i class="fa fa-exclamation-circle"></i> No results found</td></tr>

  </tbody>
</table>
</div>

<ng-include src="'/app/scholarships-subjects/partials/pagination.html'"></ng-include>