<div class="modal-header">
  <h3> Bulk Add Residents to Attribution </h3>
</div>

<form ng-submit="$bulkAdd()">
  <div class="modal-body">

    <div class="alert alert-danger">
      <h5>
        <small style="font-size: 85%;">
          <i class="ion-ios-information-outline" style="color: red"></i>
          By default, the residents will be added to an attribution with
          same date (<kbd>From</kbd> &amp; <kbd>To</kbd>).
        </small>
      </h5>
    </div>

    <div class="row form-group">
      <div class="col-md-4">
        <label> Attribution Name </label>
        <div gc-attribution-typeahead ng-model="data.attribute_id">
        </div>
      </div>

      <div class="col-md-4">
        <label> From </label>

        <div class="input-group">
          <input
            type="text"
            class="form-control"
            datepicker-popup="dd-MM-yyyy"
            is-open="_from"
            ng-model="data.from"
            ng-init="_from = false"
            ng-click="_from = !_from"
            placeholder="From (11-23-1996)..">
          <span class="input-group-addon">
            <i class="ion-android-calendar"></i>
          </span>
        </div>
      </div>

      <div class="col-md-4">
        <label> To </label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            datepicker-popup="dd-MM-yyyy"
            is-open="_to"
            ng-model="data.to"
            ng-init="_to = false"
            ng-click="_to = !_to"
            placeholder="To (11-23-1997)..">
          <span class="input-group-addon">
            <i class="ion-android-calendar"></i>
          </span>
      </div>
      </div>
    </div>
  </div>

  <div class="modal-footer clearfix">
    <button class="btn btn-success pull-left" type="submit" ng-disabled="isLoading">
      Add residents to this attribution
    </button>

    <button class="btn btn-default pull-right" type="button" ng-click="$dismiss()">
      Close
    </button>
  </div>
</form>