<div class="modal-header">
  <h3> Bulk Add Residents to Transaction </h3>
</div>

<form ng-submit="$bulkAdd()">
  <div class="modal-body">

    <div class="alert alert-danger">
      <h5 style="margin-top: 0; margin-bottom: 0;">
        <i class="ion-ios-information-outline" style="color: red; margin-right: 5px;"></i>
        <small style="font-size: 85%; line-height: 10px;">
          All residents will have the same input.
        </small>
      </h5>
    </div>

    <div class="form-group">
      <label> Referrer</label>
      <div
        gc-resident-typeahead
        ng-model="data.referrer_name"
        id-variable="data.referrer_id"
        placeholder="Enter referrer's name..">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-4">
        <label> Account Type </label>
        <div gc-transaction-account-type-dropdown ng-model="data.account_type_id">
        </div>
      </div>

      <div class="col-md-4">
        <label> Category </label>
        <div gc-transaction-category-dropdown ng-model="data.sub_category_id"  >
        </div>
      </div>

      <div class="col-md-4">
        <label>Transaction Type</label>
        <select class="form-control" ng-model="data.transaction_type" name="" id="">
          <option value="income">Income</option>
          <option value="expense">Expense</option>
          <option value="non-monetary">Non-Monetary</option>
        </select>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-4">
        <label> Item </label>
        <div gc-transaction-item-typeahead ng-model="data.item_name">
        </div>
      </div>

      <div class="col-md-4">
        <label> Amount </label>
        <input type="text" class="form-control" ng-model="data.amount">
      </div>

      <div class="col-md-">
        <div> &nbsp; </div>
        <label>
          <input type="checkbox" ng-model="data.liquidatable">
          <span style="margin-left: 5px'"> Liquidatable </span>
        </label>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-6">
        <label> Details </label>
        <textarea ng-model="data.details" class="form-control"></textarea>
      </div>

      <div class="col-md-6">
        <label> Remarks </label>
        <textarea ng-model="data.remarks" class="form-control"></textarea>
      </div>
    </div>
  </div>

  <div class="modal-footer clearfix">
    <button class="btn btn-success pull-left" type="submit" ng-disabled="isLoading">
      Add residents to this transaction
    </button>

    <button class="btn btn-default pull-right" type="button" ng-click="$dismiss()">
      Close
    </button>
  </div>
</form>