<div class="modal-header">
  <h3> Bulk Add Affiliations </h3>
</div>

<form ng-submit="$request()">
  <div class="modal-body">
    <div class="alert alert-danger">
      <h5 style="margin-top: 0; margin-bottom: 0;">
        <i class="ion-ios-information-outline" style="color: red; margin-right: 5px;"></i>
        <small style="font-size: 85%; line-height: 10px;">
          By default, the resident will be a
          <kbd>member</kbd> and <kbd>non-founder</kbd>,
          and have the same <kbd>Referrer</kbd> and <kbd>Head</kbd>
          to every affiliation in the list.
        </small>
      </h5>
    </div>

    <div class="row form-group">
      <div class="col-md-6">
        <label> Position </label>
        <select class="form-control" disabled="disabled" ng-model="data.position_id">
          <option value="1"> Member </option>
        </select>
      </div>

      <div class="col-md-4">
        <label> Founder </label>
        <input type="checkbox" class="form-control" disabled="disabled" ng-model="data.founder">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-6">
        <label> Referrer </label>
        <div gc-resident-typeahead ng-model="data.referrer_name" id-variable="data.referrer_id" placeholder="Enter referrer's name..">
        </div>
      </div>

      <div class="col-md-6">
        <label> Head </label>
        <div gc-resident-typeahead ng-model="data.head_name" id-variable="data.head_id" placeholder="Enter head's name..">
        </div>
      </div>
    </div>

    <hr>
  
    <div class="row form-group">
      <div class="col-md-4" ng-repeat="affiliation in data.affiliations">
        <label> Affiliation Name </label>
        <div gc-affiliation-typeahead ng-model="affiliation.name" id-variable="affiliation.id"></div>
      </div>
    </div>

    <label>
      <button type="button" ng-click="$add()" class="btn btn-primary btn-sm">
        <i class="ion-plus"></i>
      </button>
      Add another affiliation
    </label>
  </div>

  <div class="modal-footer clearfix">
    <button type="submit" class="btn btn-success pull-left"> Add affiliations to resident </button>
    <button type="button" class="btn btn-default pull-right" ng-click="$dimiss()"> Close </button>
  </div>
</form>