<div class="modal-footer">
  <button class="btn btn-primary" type="submit">
    Update
  </button>
  
  <button class="btn btn-warning" type="button" ng-click="$close()">
    Cancel
  </button>
</div>