<div class="modal-body">
  <div class="row">
    <section class="col-md-7 col-ln-after">
      <ng-include src="'/app/scholarships.show/partials/semesters-residentProfile.html'">
      </ng-include>

            <ng-include src="'/app/scholarships.show/partials/semesters-awards.html'">
      </ng-include>
      <hr ng-hide="showCtrl.form.data.status == 'waiting'">

      <div class="pull-right clearfix form-group" >
        <a ng-if="showCtrl.origin_scholar" class="btn btn-primary" ui-sref="scholarships.show.semester-create">
          Add new semester
        </a>
        <a ng-if="!showCtrl.origin_scholar" class="btn btn-primary" ui-sref="semesters-list.show.semester-create">
          Add new semester
        </a>

      </div> 

      <ng-include src="'/app/scholarships.show/semesters.html'"
        ng-controller="SemestersCtrl as semesters" ng-init="semesters.initialize(showCtrl.origin_scholar)">
      </ng-include>
    </section>
    <section class="col-md-5"  ui-view="semester">
      <ng-include src="'/app/scholarships.show/partials/scholarship-temporaryContent.html'">
      </ng-include>
    </section>
  </div>
</div>