<button 
  class="btn btn-primary"
  ng-switch="showCtrl.form.data.status"
  srph-xhr="{{ showCtrl.statusLink }}"
  request-type="post">
  Set Status to
  <span ng-switch-when="waiting">For Verification</span>
  <span ng-switch-when="for_verification">Activated</span>
  <span ng-switch-when="active">Closed</span>
  <span ng-switch-when="closed">Denied</span>
  <span ng-switch-when="denied">Stopped</span>
  <span ng-switch-when="stop">Activate</span>
</button>