<div class="outer-table">
  <div class="inner-table">
    <h1 style="font-size: 160px; margin-bottom: -20px;"> <small> <i class="ion-ios7-information"></i> </h1>
    <h4> <small> Create a new semester, or select a semester to view! </small> </h4>
  </div>
</div>