<div class="box">
  <header class="clearfix" style="color: black;">
    <h4 style="margin-left:5px;"> Awards </h4>    
  </header>
  <div class="body">    
    <div class="clearfix form-group" ng-if="!showCtrl.add_award_toggle">
      <button type="button" ng-click="showCtrl.startAddAward()" class="btn btn-success pull-right">
        <i class="ion-ios-plus-empty"></i> New Award
      </button>
    </div>
    <div ng-if="showCtrl.add_award_toggle">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label> Award </label>
            <select class="form-control" ng-model="showCtrl.award_input.award_id">
              <option ng-repeat="award in showCtrl.list_awards" value="{{ award.id }}"> {{ award.name }} </option>
            </select>
          </div>
          <div class="form-group">
            <label> Year </label>
            <gc-year-sets range="5" year-model="showCtrl.award_input.year">
            </gc-year-sets>
          </div>
        </div>
        <div class="col-md-6">
          <label> Remarks / Description </label>
          <textarea ng-model="showCtrl.award_input.remarks" placeholder="Enter remarks.." class="form-control" rows="5">
          </textarea>
        </div>
      </div>
      <div class="clearfix">
        <button type="submit" ng-click="showCtrl.addAward(showCtrl.award_input)" class="btn btn-success pull-left" ng-disabled="showCtrl.addAwardLoading">
          <i class="ion-checkmark"></i> Create
        </button>

        <button ng-click="showCtrl.cancelAddAward()" class="btn btn-default pull-right" ng-disabled="showCtrl.addAwardLoading">
          <i class="ion-close"></i> Cancel
        </button>
      </div>
      <hr>
    </div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Remarks</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="award in showCtrl.awards">
            <td>{{ award.name }}</td>
            <td>{{ award.year }}</td>
            <td>{{ award.remarks }}</td>
            <td>
              <button type="button" class="btn btn-xs btn-danger" ng-click="showCtrl.removeAward($index)" ng-disabled="award._isDeleting">
                <i class="ion-trash-a"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>