<div class="clearfix form-group">
  <div class="btn-group pull-right text-right">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
     Options
     <i class="caret"></i>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-show="showCtrl.form.data.status == 'active'"  >
        <a href="" ng-click="showCtrl.$transfer()"> Transfer Scholarship </a>
      </li>
      <li>
        <a href="api/v1/scholarships/{{ showCtrl.form.data.id }}/id" request-data="{ 'status': schowCtrl.form.data.status }" target="_blank">
          Generate ID
        </a>
      </li>
      <li>
        <a href="" ng-click="showCtrl.toggle()">Edit Info</a>
      </li>
    </ul>
  </div>

  <span  class="pull-right" style="margin-right: 10px;">

    <div class="btn-group" ng-hide="showCtrl.form.data.status != 'for_verification'">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-disabled="showCtrl.loading">
        Review Scholarship
        <i class="caret"></i>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="" srph-xhr="scholarships/{{ showCtrl.form.data.id }}/status/" request-data="{ 'status': 'active' }" request-type="put" request-success="showCtrl.$successSetStatus" request-error="showCtrl.$error" ng-click="showCtrl.loading = true"> Approve </a></li>
        <li><a href="" srph-xhr="scholarships/{{ showCtrl.form.data.id }}/status/" request-data="{ 'status': 'denied' }" request-type="put" request-success="showCtrl.$successSetStatus" request-error="showCtrl.$error" ng-click="showCtrl.loading = true"> Deny </a></li>
      </ul>
    </div>
    <div ng-hide="showCtrl.form.data.status == 'graduated' || showCtrl.form.data.status == 'denied' || showCtrl.form.data.status == 'for_verification'" class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
     Set As
     <i class="caret"></i>
    </button>
    <ul  class="dropdown-menu">
         <li >
          <a href="" srph-xhr="scholarships/{{ showCtrl.form.data.id }}/status" request-data="{ 'status': 'waiting' }" request-type="put" request-success="showCtrl.$successSetStatus" request-error="showCtrl.$error" ng-click="showCtrl.loading = true" ng-class="{ 'btn-disabled': showCtrl.loading }" >
          Waiting
          </a>
      </li>
      <li >
          <a href="" srph-xhr="scholarships/{{ showCtrl.form.data.id }}/status" request-data="{ 'status': 'for_verification' }" request-type="put" request-success="showCtrl.$successSetStatus" request-error="showCtrl.$error" ng-click="showCtrl.loading = true" ng-class="{ 'btn-disabled': showCtrl.loading }" >
    Set to For Verification
  </a>
      </li>
      <li >
          <a href="" srph-xhr="scholarships/{{ showCtrl.form.data.id }}/status" request-data="{ 'status': 'active' }" request-type="put" request-success="showCtrl.$successSetStatus" request-error="showCtrl.$error" ng-click="showCtrl.loading = true" ng-class="{ 'btn-disabled': showCtrl.loading }">
              Activate
          </a>
      </li>
      <li >
            <a href="" srph-xhr="scholarships/{{ showCtrl.form.data.id }}/status" request-data="{ 'status': 'closed' }" request-type="put" request-success="showCtrl.$successSetStatus" request-error="showCtrl.$error" ng-click="showCtrl.loading = true" ng-class="{ 'btn-disabled': showCtrl.loading }">
               Close
            </a>
      </li>
      <li >
         <a href="" srph-xhr="scholarships/{{ showCtrl.form.data.id status" request-data="{ 'status': 'stop' }" request-type="put" request-success="showCtrl.$successSetStatus" request-error="showCtrl.$error" ng-click="showCtrl.loading = true" ng-class="{ 'btn-disabled': showCtrl.loading }" >
           Stop
         </a>
      </li>
      <li >
          <a href="" srph-xhr="scholarships/{{ showCtrl.form.data.id }}/status" request-data="{ 'status': 'graduated' }" request-type="put" request-success="showCtrl.$successSetStatus" request-error="showCtrl.$error" ng-click="showCtrl.loading = true" ng-class="{ 'btn-disabled': showCtrl.loading }"  >
            Graduate
          </a>
      </li>
    </ul>
    </div>


  </span>
  <div class="row">
     <div class="col-md-2" style="margin-top:30px;">
      <img class="pull-left" ng-src="{{ showCtrl.form.data.resident.profilePic }}" holder-fix fallback-src="fallback.gif" ng-show="showCtrl.form.data.resident.profilePic" style="width:100px; height:100px; margin-right: 10px; border-radius: 50%">
      <img class="pull-left" ng-hide="showCtrl.form.data.resident.profilePic" src="holder.js/100x100" holder-fix style="margin-right: 10px; border-radius: 50%">
      <a ui-sref="residents.edit({ id: showCtrl.form.data.resident.id })" ng-click="$close()" style="margin-left: 8px; font-size:12px;">View Resident</a>
  </div>
  <div class="col-md-9">
      <h4>{{ showCtrl.form.data.resident.full_name }}</h4>
  <h5>{{ showCtrl.form.data.school.name }}</h5>

  <h6 style="font-style: italic;">
    {{ showCtrl.form.data.resident.street }} {{ showCtrl.form.data.resident.barangay }} {{ showCtrl.form.data.resident.cityMunicipality }}
  </h6>   
  <div style="margin-bottom: 10px;">
    <span>
      <strong>Birthday : </strong> {{ showCtrl.form.data.resident.birthdate | date:'MMM d, yyyy'}}
    </span>
    <span style="padding-left: 10px;">
      <strong>Age : </strong> {{ showCtrl.form.data.resident.birthdate | timestamp | age}}
    </span>
  </div>
  <span gc-scholarship-status="showCtrl.form.data.status">
  </span>
  <span class="label label-primary">
    (Applied on {{ showCtrl.form.data.applied_at | timestamp | date: 'mediumDate' }})
  </span>
   <span class="label label-default" ng-if="!!showCtrl.form.data.transferred_at.length">
    (Transferred on {{ showCtrl.form.data.transferred_at | timestamp | date: 'mediumDate' }} - )
  </span>
  <br>
  <span  ng-if="!!showCtrl.form.data.transfered_to">
    <i>Transferred to</i> <a href="/scholarships/{{ showCtrl.form.data.transfered_to.id }}">{{ showCtrl.form.data.transfered_to.resident.full_name  }}</a>
  </span>
<hr>

  <div class="row">
    <div class="col-md-4">
      <p ng-hide="showCtrl.edit_mode">
        <strong>Scholar Contact #</strong> 
        <br>{{ showCtrl.form.data.resident.mobile }}
        
        </p>
       <div class="form-group" ng-show="showCtrl.edit_mode">
    <label><strong>Scholar Contact #</strong></label>
    <input type="text" ng-model="showCtrl.form.data.resident.mobile" class="form-control"/>
  </div>
    </div>
    <div class="col-md-5">
         
  <p ng-hide="showCtrl.edit_mode">
    <strong>Parent/Guardian Contact #</strong>
    <br>{{ showCtrl.form.data.parents_contact_no }}
  </p>
    <div class="form-group" ng-show="showCtrl.edit_mode">
    <label><strong>Parent/Guardian Contact #</strong></label>
    <input type="text" ng-model="showCtrl.form.data.parents_contact_no" class="form-control"/>
  </div>
    </div>

    <div class="col-md-3">
        
      <p ng-hide="showCtrl.edit_mode" ng-if="!!showCtrl.form.data.others_contact_no">
    <strong>Other Contact #</strong>
    <br>
      {{ showCtrl.form.data.others_contact_no }}
  
  </p>
    <div class="form-group" ng-show="showCtrl.edit_mode">
    <label><strong>Other Contact #</strong></label>
    <input type="text" name="others_contact_no" ng-model="showCtrl.form.data.others_contact_no" class="form-control"/>
  </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
        <p ng-hide="showCtrl.edit_mode">
        <strong>Bank</strong> 
        <br>{{ showCtrl.form.data.resident.bank }}
        
        </p>
       <div class="form-group" ng-show="showCtrl.edit_mode">
           <label><strong>Bank</strong></label>
           <input type="text" ng-model="showCtrl.form.data.resident.bank" class="form-control"/>
      </div>
    </div> 
    <div class="col-md-4">
            <p ng-hide="showCtrl.edit_mode">
        <strong>ATM</strong> 
        <br>{{ showCtrl.form.data.resident.atm_number }}
        
        </p>
       <div class="form-group" ng-show="showCtrl.edit_mode">
           <label><strong>ATM</strong></label>
           <input type="text" ng-model="showCtrl.form.data.resident.atm_number" class="form-control"/>
      </div>
    </div> 
 
  </div>


  <p ng-hide="showCtrl.edit_mode" ng-if="!!showCtrl.form.data.father_name">
    <strong>Father Name</strong>: {{ showCtrl.form.data.father_name }}

  </p>
  <div class="form-group" ng-show="showCtrl.edit_mode">
    <label><strong>Father Name</strong></label>
         <gc-resident-typeahead
         ng-if="!showCtrl.form.data.father_name"
        id-variable="showCtrl.form.data.father_id"
        collection-variable="showCtrl.form.data.father"
        ng-model="showCtrl.form.data.father.full_name"></gc-resident-typeahead>
        <div  ng-if="showCtrl.form.data.father_name" style="font-size:15px;">
          <span>{{ showCtrl.form.data.father_name }}</span> <i ng-click="showCtrl.removeRelative(showCtrl.form.data.father_id, 'father')" style="color:red; cursor:pointer;" class="fa fa-times-circle"></i>
        </div>
  </div>
  <p ng-hide="showCtrl.edit_mode" ng-if="!!showCtrl.form.data.mother_name">
    <strong>Mother Name</strong>: {{ showCtrl.form.data.mother_name }}
  </p>
  <div class="form-group" ng-show="showCtrl.edit_mode">
    <label><strong>Mother Name</strong></label>
      <gc-resident-typeahead
       ng-if="!showCtrl.form.data.mother_name"
        id-variable="showCtrl.form.data.mother_id"
        collection-variable="showCtrl.form.data.mother"
        ng-model="showCtrl.form.data.mother.full_name"></gc-resident-typeahead> 
       <div  ng-if="showCtrl.form.data.mother_name" style="font-size:15px;">
          <span>{{ showCtrl.form.data.mother_name }}</span> <i ng-click="showCtrl.removeRelative(showCtrl.form.data.mother_id, 'mother')" style="color:red; cursor:pointer;" class="fa fa-times-circle"></i>
        </div>
  </div>
  <p ng-hide="showCtrl.edit_mode" ng-if="!!showCtrl.form.data.guardian_name">
    <strong>Guardian Name</strong>: {{ showCtrl.form.data.guardian_name }}
    
  </p>
    <div class="form-group" ng-show="showCtrl.edit_mode">
    <label><strong>Guardian Name</strong></label>
         <gc-resident-typeahead
        id-variable="showCtrl.form.data.guardian_id"
        collection-variable="showCtrl.form.data.guardian"
        ng-model="showCtrl.form.data.guardian.full_name">
  </div>

 <p ng-hide="showCtrl.edit_mode" ng-if="!!showCtrl.form.data.referrer_name">
    <strong>Referrer Name</strong>: {{ showCtrl.form.data.referrer_name }}
    
  </p>
    <div class="form-group" ng-show="showCtrl.edit_mode">
    <label><strong>Referrer Name</strong></label>
         <gc-resident-typeahead
        id-variable="showCtrl.form.data.referrer_id"
        collection-variable="showCtrl.form.data.referrer"
        ng-model="showCtrl.form.data.referrer.full_name">
        </gc-resident-typeahead>
  </div>
  <p ng-hide="showCtrl.edit_mode" style="">
    <strong>Remarks</strong>
    <span>
      {{ showCtrl.form.data.comment }}
    </span>
  </p>
  <div class="form-group" ng-show="showCtrl.edit_mode">
    <label><strong>Remarks</strong></label>
    <textarea ng-model="showCtrl.form.data.comment" class="form-control"></textarea> 
  </div>

  <div class="forn-group" ng-show="showCtrl.edit_mode">
    <button ng-click="showCtrl.update(showCtrl.form.data)" >Update</button>
</form>
    <button ng-click="showCtrl.toggle()">Cancel</button>
  </div>

  </div>
  </div>
 


</div>
