<div class="modal-header">
  Generate Resident Reports
</div>

<div class="modal-body">
  <label tooltip="Columns to be included in the report"> Columns: </label>
  <div class="row">
    <div class="col-md-6" ng-repeat="column in columns">
      <label> <input type="checkbox" ng-model="selected[column.key]"> {{ column.label }} </label>
    </div>
  </div>
</div>

<div class="modal-footer clearfix">
  <button type="button" ng-click="$close()" class="btn btn-default pull-left">Cancel</button>
  <a target="_blank" href="{{ getURL() }}" class="btn btn-success pull-right">Generate {{ type | studlyCase }}</button>
</div>