<div
  ss-loader="semestersAlt.isLoading"
  ss-loader-target=".sem-table"
  class="text-center text-warning animate-show">
  <three-bounce-spinner></three-bounce-spinner>
</div>

<table st-table="semestersAlt.collection" class="table table-hover table-clickable sem-table" st-pipe="semestersAlt.callServer">
  <thead>
    <tr>
      <th lr-drag-src="headers"
        lr-drop-target="headers"
        ng-repeat="col in semestersAlt.columns"
        st-sort="{{col.key}}"
        ng-bind="col.label"
        ng-show="col.show"></th>
    </tr>
    
    <tr>
      <th ng-repeat="col in semestersAlt.columns"
        ng-show="col.show">
        <input type="text"
          class="form-control input-sm"
          st-search="col.key"
          ng-if="col.key == 'school.name'">

        <input type="text"
          class="form-control input-sm"
          gc-search-equal="col.key"
          ng-if="col.key == 'gwa'">

        <select gc-search-dropdown-equal="col.key" ng-if="col.key == 'term'" class="form-control">
          <option value="">All</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>

        <select gc-search-dropdown-equal="col.key" ng-if="col.key == 'school.type'" class="form-control">
          <option value="">All</option>
          <option value="private">Private</option>
          <option value="public">Public</option>
        </select>


        <input type="text"
          class="form-control input-sm"
          gc-search-equal="col.key"
          ng-if="col.key == 'school.year_level'">

        <div gc-scholarship-type-dropdown ng-if="col.key == 'scholarship_type.name'" st-search="col.key">
        </div>
      </th>
    </tr>
  </thead>
  
  <tbody>
    <tr cs-select="semestersAlt.collection" ng-repeat="semester in semestersAlt.collection">
      <td ng-repeat="col in semestersAlt.columns"
        ng-click="$eval(col.onClick)"
        ss-bind-template="col.cellTemplate"
        ng-show="col.show"></td>
    </tr>
  </tbody>
</table>