<ng-include src="'/app/affiliations.edit/partials/modal-header.html'">
</ng-include>

<ng-include src="'/app/affiliations.edit/partials/modal-body.html'">
</ng-include>

<div class="modal-footer"></div>