<div class="modal-header">
  Cash Flow Reports
</div>

<div class="modal-body">
  <div class="row form-group">
    <section class="col-md-6">
      <label> From </label>
      <div class="input-group">
        <input class="form-control" ng-model="report.from" datepicker-popup="MM-dd-yyyy" show-weeks="false" is-open="report.datepickers.from" ng-click="$event.preventDefault(); report.datepickers.from = true">
        <span class="input-group-addon"><i class="ion-calendar"></i></span>
      </div>
    </section>

    <section class="col-md-6">
      <label> To </label>
      <div class="input-group">
        <input class="form-control" ng-model="report.to" datepicker-popup="MM-dd-yyyy" show-weeks="false" is-open="report.datepickers.to" ng-click="$event.preventDefault(); report.datepickers.to = true">
        <span class="input-group-addon"><i class="ion-calendar"></i></span>
      </div>
    </section>
  </div>

  <div class="row form-group">
    <div class="col-md-6">
      <label> Account Type </label>
      <select ng-model="report.account_type_id" class="form-control" multiple="multiple">
        <option ng-repeat="account in filtered_account_types" value="{{ account.id }}"> {{ account.name }} </option>
      </select>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label> Transaction Type </label>
        <select ng-model="report.transaction_type" class="form-control">
          <option value="">Both</option>
          <option value="expense">Expense</option>
          <option value="income">Income</option>
        </select>
      </div>

      <div>
        <label>
          <input type="checkbox" ng-model="report.summary">
          Summary
        </label>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer clearfix">
  <button type="button" ng-click="$close()" class="btn btn-default pull-left">Cancel</button>
  <a target="_blank" href="api/v1/transactions/cashflow/pdf?from={{_date(report.from)}}&to={{_date(report.to)}}&account_type_id={{_format(report.account_type_id)}}&transaction_type={{report.transaction_type}}&summary={{report.summary}}" class="btn btn-danger pull-right">Generate PDF</button>
  <a target="_blank" href="api/v1/transactions/cashflow/spreadsheet?from={{_date(report.from)}}&to={{_date(report.to)}}&account_type_id={{_format(report.account_type_id)}}&transaction_type={{report.transaction_type}}&summary={{report.summary}}" class="btn btn-success pull-right">Generate Spreadsheet</button>
</div>
