//
// Variables
// --------------------------------------------------


// Sticky Footer values
// --------------------------------------------------

@footerheight: 0;  // if you don't want use sticky footer add 0
@icon-font-path: '/assets/fonts';


// Layout values
// --------------------------------------------------
@minScreenHeight: 653px;
@topHeight: 34px;
@contentHeaderHeight: 42px;

@SidebarWidth: 150px;
@miniSidebarWidth: 50px;
@searchBarLeftBorderWidth: 2;
@searchBarWidth: @SidebarWidth - @searchBarLeftBorderWidth; // 218
@miniSideBarSearchBarWidth: @miniSidebarWidth - @searchBarLeftBorderWidth; // 98

@contentWidth:2*@SidebarWidth;
@fullWidth:100%;

@modal-lg:                    1200px;
@modal-md:                    900px;
@modal-sm:                    500px;

@webcam-preview-width: 640px;
@webcam-preview-height: 480px;

//COLORS

@header-color              : #fff;
@header-highlight-color    : #f2f2f2;

@header-dark-color         : #333;
@header-dark-highlight-color: #222;


@menu-color                : #FFF;
@menu-highlight-color      : #800000;

@metis-1-color             : #ee465a;
@metis-1-highlight-color   : #c11a39;

@metis-2-color             : #9fd256;
@metis-2-highlight-color   : #6fac34;

@metis-3-color             : #fbb450;
@metis-3-highlight-color   : #f89406;

@metis-4-color             : #A264E7;
@metis-4-highlight-color   : #62309A;

@metis-5-color             : #777;
@metis-5-highlight-color   : #555;

@metis-6-color             : #00b4f5;
@metis-6-highlight-color   : #008dc5;

@metis-7-color 				: #4285f4;
@metis-7-highlight-color	: darken(@metis-7-color, 8%);


@border-radius-none: 0;
@border-radius-a: 2px;
@border-radius-b: 4px;
@border-radius-c: 6px;
@border-radius-d: 20px;

@pad-xs:10px;
@pad-sm:15px;
@pad-md:25px;
@pad-lg:40px;

@mar-xs:@pad-xs;
@mar-sm:@pad-sm;
@mar-md:@pad-md;
@mar-lg:@pad-lg;

@link-color: @metis-7-color;
@border-color: #4285f4;
@border-radius: 0;
@box-shadow: none;

@btn-border-radius: @border-radius-a;
@btn-primary-bg: @metis-7-color;
@btn-primary-hover-bg: darken(@metis-7-color, 4%);
@btn-primary-active-bg: @metis-7-highlight-color;

@color-gray: #dcdcdc;
@btn-default-bg: lighten(@color-gray, 16%);
@btn-default-border-color: @color-gray;
@btn-default-hover-bg: darken(@btn-default-bg, 4%);
@btn-default-active-bg: darken(@btn-default-bg, 8%);

@color-mac-gray-dk: #686667;
@color-mac-gray: #eaeaea;
@color-mac-white: #fff;