<!--<ng-include src="'/app/affiliations/partials/header.html'"></ng-include>-->
<ng-include src="'/app/affiliations/partials/tools.html'"></ng-include>
<ng-include src="'/app/affiliations/partials/loader.html'"></ng-include>

<div
  id="yolo-pls-swag"
  style="overflow: scroll; height: 82vh; width: 100%;"
  srph-infinite-scroll="affiliations.getPage('next')"
  disabled="affiliations.collection.paging.next == undefined"
  threshold="200"
  throttle="0"
  container="true">
<table st-table="affiliations" class="table table-hover table-clickable" st-pipe="affiliations.callServer">
  <thead>
    <tr>
      <th colspan="1" width="1%"></th>
      <th lr-drag-src="headers"
        lr-drop-target="headers"
        ng-repeat="col in affiliations.columns"
        ng-show="col.show"
        resizable
        r-directions="['right']">
          <span class="text-center" style="display: block" st-sort="{{:: col.key }}">{{:: col.label }}</span>
        </th>
    </tr>
    
    <tr>
      <th>
        <input type="checkbox"
          class="form-control input-sm"
          st-control="affiliations.collection">
      </th>

      <th ng-repeat="col in affiliations.columns"
        ng-show="col.show">
        <input type="text"
          class="form-control input-sm"
          st-search="col.key"
          st-delay="200">          
      </th>
    </tr>
  </thead>
  <tbody gc-select-row>
    <tr cs-select="affiliations.collection" ng-repeat="affiliation in affiliations.collection" class="gc-animate" data-index="{{ $index }}" data-id="{{ affiliation.id }}" data-es="{{ affiliation.es_id }}" data-state="affiliations.edit">
      <td>
        <input type="checkbox" class="form-control input-sm" ng-model="affiliation.isSelected">
      </td>

      <td ng-repeat="col in affiliations.columns"
        ng-click="$eval(col.onClick)"
        ss-bind-template="col.cellTemplate"
        ng-show="col.show"></td>
    </tr>
    <tr ng-hide="affiliations.collection.length"><td style="padding-top: 16px;" colspan="{{ affiliations.columns.length + 1 }}" class="text-center"><i class="fa fa-exclamation-circle"></i> No results found</td></tr>
  </tbody>
</table>
</div>
<ng-include src="'/app/affiliations/partials/pagination.html'"></ng-include>