<form ng-submit="createCtrl.create(createCtrl.form.data)">
  <ng-include src="'/app/scholarships-schools.create/partials/modal-header.html'">
  </ng-include>

  <div class="modal-body">
    <div class="error text-danger">{{ error }}</div>

      <div class="row">

        <!-- -->
        <div class="col-md-6">        
          <div class="form-group">
            <label>Name</label>
            <input placeholder="Enter school's name" type="text" class="form-control" ng-model="createCtrl.form.data.name">
          </div>

          <div class="form-group">
            <label>Address</label>
                <input placeholder="Enter school's address" type="text" class="form-control" ng-model="createCtrl.form.data.address">
          </div>

          <div class="form-group">
            <label>Phone</label>
              <input placeholder="871-14-52" type="text" class="form-control" ng-model="createCtrl.form.data.phone">
          </div>
        </div>

        <!-- -->
        <div class="col-md-6">
          <div class="form-group">
            <label>Level</label>
            <gc-school-level ng-model="createCtrl.form.data.level">
            </gc-school-level>
          </div>

          <div class="form-group">
            <label>Types</label>
            <gc-school-types ng-model="createCtrl.form.data.type">
            </gc-school-types>
          </div>
        </div>

    </div>

  </div>

  <ng-include src="'/app/scholarships-schools.create/partials/modal-footer.html'">
  </ng-include>
</form>