<div class="btn-group">
  <a href="" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      <i class="fa fa-cog"></i> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
    <li>
      <a href="" gc-reset-table-settings="groups" defaults="GROUPS_COLUMNS" columns="groups.columns">
        Reset Table Columns
      </a>
    </li>
  </ul>
</div>