<div class="content-tools pull-right">
  <ng-include src="'/app/administration-groups/partials/tools-add.html'">
  </ng-include>

  <gc-column-display-dropdown
      key="groups"
      columns="groups.columns">
  </gc-column-display-dropdown>

  <ng-include src="'/app/administration-groups/partials/tools-actions.html'">
  </ng-include>  

  <ng-include src="'/app/administration-groups/partials/tools-table.html'">
  </ng-include>

  <gc-reload></gc-reload>
</div>
