<ng-include src="'/app/transactions/partials/header.html'"></ng-include>
<ng-include src="'/app/transactions/partials/tools.html'"></ng-include>
<ng-include src="'/app/transactions/partials/loader.html'"></ng-include>

<div
  id="yolo-pls-swag"
  style="overflow: scroll; height: 82vh; width: 100%;"
  srph-infinite-scroll="transactions.getPage('next')"
  disabled="transactions.collection.paging.next == undefined"
  threshold="200"
  throttle="0"
  container="true">
<table st-table="transactions" class="table table-hover table-clickable" st-pipe="transactions.callServer">
  <thead>
    <tr>
      <th colspan="1" width="1%"></th>
      <th lr-drag-src="headers"
        lr-drop-target="headers"
        ng-repeat="col in transactions.columns"
        ng-show="col.show"
        resizable
        r-directions="['right']">
          <span class="text-center" style="display: block" st-sort="{{:: col.key }}">{{:: col.label }}</span>
      </th>
    </tr>

    <tr>
      <th>
        <input type="checkbox"
          class="form-control input-sm"
          st-control="transactions.collection">
      </th>

      <th ng-repeat="col in transactions.columns"
        ng-show="col.show">
        <input type="text"
          class="form-control input-sm"
          st-search="col.key" id="search-{{col.key}}"
          ng-if="col.key !== 'settled_at' && col.key !== 'created_at' && col.key !== 'liquidatable'">

        <div ng-if="col.key == 'liquidatable'">
          <select gc-search-dropdown="col.key" class="form-control">
            <option value="">Both</option>
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
        </div>

        <div ng-if="col.key == 'settled_at'">
          <gc-search-date-range predicate="col.key" before="col.field1" after="col.field2">
          </gc-search-date-range>
        </div>
        <div ng-if="col.key == 'created_at'">
          <gc-search-date-range predicate="col.key" before="col.field1" after="col.field2">
          </gc-search-date-range>
        </div>
      </th>
    </tr>
  </thead>
  <tbody gc-select-row>
    <tr>
      <td colspan="{{ transactions.columns.length + 1 }}" class="text-center" ng-if="!!transactions.unliquidatedCount" ng-style="{ background: '#f9edbe', border: '1px solid #f0c36d', 'pointer-events': 'none' }">
        You have [<strong>{{ transactions.unliquidatedCount }}</strong>] unliquidated transactions!
      </td>
    </tr>
    <tr cs-select="transactions.details" ng-repeat="transaction in transactions.collection" class="gc-animate" data-index="{{ $index }}" data-id="{{ transaction.id }}" data-es="{{ transaction.es_id }}" data-state="transactions.edit">
      <td ng-style="{ background: !!transaction.liquidatable && !transaction.liquidated_at.length ? 'rgb(255, 199, 96)' : '' }">
        <input type="checkbox" class="form-control input-sm" ng-model="transaction.isSelected">
      </td>

      <td ng-repeat="col in transactions.columns"
        ng-click="$eval(col.onClick)"
        ng-style="{ background: !!transaction.liquidatable && !transaction.liquidated_at.length ? '#f9edbe' : '' }"
        ss-bind-template="col.cellTemplate"
        ng-show="col.show"></td>
    </tr>
  </tbody>
</table>
</div>

<ng-include src="'/app/transactions/partials/pagination.html'"></ng-include>
