<ng-include src="'/app/scholarships-releases/partials/tools.html'"></ng-include>

<div
  ss-loader="releases.isLoading"
  ss-loader-target=".table tbody"
  class="text-center text-warning animate-show">
  <three-bounce-spinner></three-bounce-spinner>
</div>

<div style="overflow: scroll; height: 82vh; width: 100%;"
  srph-infinite-scroll="releases.getPage('next')"
  disabled="releases.collection.paging.next == undefined"
  threshold="200"
  throttle="0"
  container="true">
<table st-table="releases.collection" class="table table-hover table-clickable" st-pipe="releases.callServer">
  <thead>
    <tr>
      <th colspan="1" width="1%"></th>
      <th lr-drag-src="headers"
        lr-drop-target="headers"
        ng-repeat="col in releases.columns"
        ng-show="col.show"
        resizable
        r-directions="['right']">
          <span class="text-center" style="display: block" st-sort="{{:: col.key }}">{{:: col.label }}</span>
        </th>
    </tr>
    
    <tr>
      <th>
        <input type="checkbox"
          class="form-control input-sm"
          st-control="releases.collection">
      </th>

      <th ng-repeat="col in releases.columns"
        ng-show="col.show">
        <input type="text"
          class="form-control input-sm"
          st-search="col.key"
          ng-if="col.key == 'amount'"> 

        <select ng-if="col.key == 'fixed_amount'" gc-search-dropdown-equal="col.key" class="form-control">
          <option value=""> All </option>
          <option value="1"> Yes </option>
          <option value="0"> No </option>
        </select>

        <select ng-if="col.key == 'scholarship_types.scholarship_types.id'" gc-search-dropdown-equal="col.key" class="form-control">
          <option value=""> All </option>
          <option ng-repeat="type in releases.types" value="{{ type.id }}">
            {{ type.name }}
          </option>
        </select>

        <select ng-if="col.key == 'term'" gc-search-dropdown-equal="col.key" class="form-control">
          <option value=""> All </option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>

        <div ng-if="col.key == 'school_year'">
          <div gc-search-year-range="col.key" range="15">
          </div>
        </div>
      </th>
    </tr>
  </thead>
  
  <tbody>
    <tr cs-select="releases.collection" ng-repeat="release in releases.collection" class="gc-animate">
      <td>
        <input type="checkbox" class="form-control input-sm" ng-model="release.isSelected">
      </td>

      <td ng-repeat="col in releases.columns"
        ng-click="$eval(col.onClick)"
        ss-bind-template="col.cellTemplate"
        ng-show="col.show"></td>
    </tr>
    <tr ng-hide="releases.collection.length"><td style="padding-top: 16px;" colspan="{{ releases.columns.length + 1 }}" class="text-center"><i class="fa fa-exclamation-circle"></i> No results found</td></tr>

  </tbody>
</table>
</div>

<gc-pagination
  custom-classes="paging pull-right btn-group btn-group-sm"
  paging="releases.collection.paging"
  next-callback="releases.getPage('next')"
  prev-callback="releases.getPage('previous')">
</gc-pagination>