<ng-include src="'/app/scholarships.create/partials/heading.html'"></ng-include>

<form ng-submit="createCtrl.create(createCtrl.form.data)">
  <div class="modal-body">
  
    <p>First fill up the scholar's personal informations</p>
    <div class="error text-danger">{{ createCtrl.error }}</div>
    <div class="form-group">
      <label for="resident">Resident</label>
      <gc-resident-typeahead id-variable="createCtrl.form.data.resident_id" ng-model="createCtrl.form.data.resident_name">
      </gc-resident-typeahead>
      <a href="" ng-click="createCtrl.createResident()" style="margin-top: 3px;">
        Click here to register the resident if it does not exist yet.
      </a>
    </div>

       <div class="form-group">
          <label>Status</label>
          <gc-scholarship-status-dropdown status-model="createCtrl.form.data.status">
          </gc-scholarship-status-dropdown>
        </div>


    <div class="row form-group">
      <div class="col-md-4">
          <label>Scholar Contact #</label>
          <input type="text" ng-model="createCtrl.form.data.scholar_contact_no" class="form-control"/>
      </div>
      <div class="col-md-5">
          <label>Parent/Guardian Contact #</label>
          <input type="text" ng-model="createCtrl.form.data.parents_contact_no" class="form-control"/>
      </div>
      <div class="col-md-3">
          <label>Other Contact #</label>
          <input type="text" name="others_contact_no" ng-model="createCtrl.form.data.others_contact_no" class="form-control"/>
      </div>
    </div>
  <div class="form-group" >
   <label>Father Name</label>
      <gc-resident-typeahead
        id-variable="createCtrl.form.data.father_id"
        collection-variable="createCtrl.form.data.father"
        ng-model="createCtrl.form.data.father.full_name">
        </gc-resident-typeahead>
  </div>
  <div class="form-group">
    <label>Mother Name</label>
      <gc-resident-typeahead
        id-variable="createCtrl.form.data.mother_id"
        collection-variable="createCtrl.form.data.mother"
        ng-model="createCtrl.form.data.mother.full_name">
        </gc-resident-typeahead>
  </div>
    <div class="form-group">
    <label>Guardian Name</label>
      <gc-resident-typeahead
        id-variable="createCtrl.form.data.guardian_id"
        collection-variable="createCtrl.form.data.guardian"
        ng-model="createCtrl.form.data.guardian.full_name">
        </gc-resident-typeahead>
  </div>
    <div class="form-group">
    <label>Referrer Name</label>
      <gc-resident-typeahead
        id-variable="createCtrl.form.data.referrer_id"
        collection-variable="createCtrl.form.data.referrer"
        ng-model="createCtrl.form.data.referrer.full_name">
        </gc-resident-typeahead>
  </div>
  <div class="form-group">
    <label>Remarks</label>
    <textarea ng-model="createCtrl.form.data.comment" class="form-control"></textarea> 
  </div>
  </div>
  <ng-include src="'/app/scholarships.create/partials/footer.html'"></ng-include>
</form>