<div class="modal-footer clearfix">
  <div class="pull-left">
    <div class="input-group" style="width: 250px">
      <span class="input-group-addon">Transaction Date</span>
      <input type="text"
        placeholder="Fill to override the default.."
        class="form-control"
        ng-model="createCtrl.form.data.created_at"
        datepicker-popup="yyyy-MM-dd"
        is-open="createCtrl.form.custom.created_at"
        ng-init="createCtrl.form.custom.created_at = false"
        ng-click="createCtrl.form.custom.created_at = !createCtrl.form.custom.created_at">
    </div>
  </div>
  <div class="pull-right">
    <button class="btn btn-default" type="button" ng-click="$dismiss()">
      Cancel
    </button>
    <button class="btn btn-primary" type="submit" http-loader="createCtrl.isLoading">
      Proceed Transaction
    </button>
  </div>
</div>
