<div class="clearfix">
  <button class="btn btn-success pull-right" type="button"
    ng-click="semEditCtrl.form.data.scholarship_type_id = semEditCtrl.form.data.scholarship_type.id"
    gc-submit="semesters/{{ semEditCtrl.form.data.id }}"
    request-type="put"
    request-data="semEditCtrl.form.data"
    request-success="semEditCtrl.successXHRCallback"
    request-error="semEditCtrl.errorXHRCallback"
    ng-disabled="semEditCtrl.isLoading">
    Update Semester
  </button>
  <a class="btn btn-primary pull-left" ui-sref="scholarships.show">
    <i class="ion-android-system-back"></i>
    Close
  </a>
</div>