<div class="content-tools pull-right">
    <gc-column-display-dropdown
        key="allowances"
        columns="allowances.columns">
    </gc-column-display-dropdown>

    <ng-include src="'/app/scholarships-allowances/partials/tools-table.html'">
    </ng-include>
</div>
