<div class="clearfix">
  <button class="btn btn-success pull-right" type="button"
    gc-submit="semesters"
    request-type="post"
    request-data="semCreateCtrl.form.data"
    request-success="semCreateCtrl.successXHRCallback"
    request-error="semCreateCtrl.errorXHRCallback">
    Create Semester
  </button>
  <a class="btn btn-primary pull-left" ui-sref="semesters-list.show">
    <i class="ion-android-system-back"></i>
    Cancel
  </a>
</div>