a {
	& {
		color: @link-color;
	}

	&:hover {
		text-decoration: none;
		color: lighten(@link-color, 8%);
		// font-weight: 700;

		transition: color 0.5s;
		-webkit-transition: color 0.5s;
		-moz-transition: color 0.5s;
		-o-transition: color 0.5s;
	}
}