<ng-include src="'/app/scholarships-semesters-list/partials/tools.html'"></ng-include>
<ng-include src="'/app/scholarships-semesters-list/partials/loader.html'"></ng-include>
<style type="text/css">

.under_probation {
  background-color: rgb(223, 76, 76) !important;
  color: white !important;
}
</style>
<div
  id="yolo-pls-swag"
  style="overflow: scroll; height: 82vh; width: 100%;"
  srph-infinite-scroll="semestersList.getPage('next')"
  disabled="semestersList.collection.paging.next == undefined"
  threshold="0"
  throttle="250"
  container="true">
  <table st-table="semestersList" class="table table-hover table-clickable" st-pipe="semestersList.callServer" float-thead>
  <thead gc-search-export="semestersList._filter">
      <tr>
        <th colspan="1" width="1%">
        </th>
        <th lr-drag-src="headers"
          lr-drop-target="headers"
          ng-repeat="col in semestersList.columns"
          ng-show="col.show"
          resizable
          r-directions="['right']">
            <span class="text-center" style="display: block" st-sort="{{:: col.key }}">{{:: col.label }}</span>
          </th>
      </tr>
      
      <tr>
        <th style="height: 0;">
          <input type="checkbox"
            class="form-control input-sm"
            st-control="semestersList.collection">
        </th>

        <th ng-repeat="col in semestersList.columns"
          ng-show="col.show"
          style="height: 0;">
          <input type="text"
            class="form-control input-sm"
            gc-search="col.key"
            key="{{:: col.key }}"
            st-delay="200"
         >


      </tr>
    </thead>
    <tbody gc-select-row>
      <tr cs-select="semestersList.collection" ng-repeat="semester in semestersList.collection" class="gc-animate" data-index="{{ $index }}" data-id="{{ semester.id }}" data-es="{{ semester.es_id }}" ng-class="{under_probation: semester.is_probation == true}"  data-state="semestersList.edit">
        <td>
          <input type="checkbox" class="form-control input-sm" ng-model="semester.isSelected">
        </td>

        <td ng-repeat="col in semestersList.columns"
          ng-click="$eval(col.onClick)"
          ss-bind-template="col.cellTemplate"
          ng-show="col.show"></td>
      </tr>
      <tr ng-hide="semestersList.collection.length"><td style="padding-top: 16px;" colspan="{{ semestersList.columns.length + 1 }}" class="text-center"><i class="fa fa-exclamation-circle"></i> No results found</td></tr>
    </tbody>
  </table>
</div>
<ng-include src="'/app/scholarships-semesters-list/partials/pagination.html'"></ng-include>