.container {
	margin-top: 15px;
	margin-bottom: 15px;
}

.nav-tree ul {
	padding-left: 15px;
}

.nav-tree label {
	cursor: pointer;
}

.login-panel {
	height: 50%;
	width: 300px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
}

/*.ngProgressLiteBar {
    background: $default;
}

.ngProgressLite .ngProgressLiteBarShadow {
    box-shadow: 0 0 10px , 0 0 5px $default;
}*/

.st-selected td,
.table-striped > tbody > tr.st-selected:nth-child(odd) > td {
	background: #428bca;
}