<div class="modal-header clearfix">
  <h4 class="pull-left" style="margin-top: 5px; margin-bottom: 0;">Create Transaction </h4>
  <button type="button" ng-click="createCtrl.$reset()" class="btn btn-primary pull-right">
    Reset all fields
  </button>
</div>

<form ng-submit="createCtrl.$create(createCtrl.form.data)">
  <div class="modal-body" style="width: 100%;">

    <section class="form-group">
      <label>Beneficiary</label>
      <div class="row">
        <div class="col-md-3">
          <select class="form-control" ng-model="createCtrl.form.data.beneficiary_type" ng-init="createCtrl.form.data.beneficiary_type = 'Resident'">
            <option value="Resident">Individual</option>
            <option value="Affiliation">Group</option>
          </select>
        </div>

        <div class="col-md-9">
          <gc-resident-typeahead
            id-variable="createCtrl.form.data.beneficiary_id"
            collection-variable="createCtrl.form.data.beneficiary"
            ng-model="createCtrl.form.data.beneficiary.full_name"
            ng-if="createCtrl.form.data.beneficiary_type == 'Resident'">
          </gc-resident-typeahead>

          <div gc-affiliation-typeahead
            id-variable="createCtrl.form.data.beneficiary_id"
            collection-variable="createCtrl.form.data.beneficiary"
            ng-model="createCtrl.form.data.beneficiary.name"
            ng-if="createCtrl.form.data.beneficiary_type == 'Affiliation'">
          </div>

          <div class="clearfix" style="margin-top: 3px;">
            <div class="pull-right">
              <i class="ion-ios-information"></i>
              <a href="" ng-click="createCtrl.$beneficiaryCreate()">
                Click here to register the
                <span ng-if="createCtrl.form.data.beneficiary_type == 'Resident'">resident</span>
                <span ng-if="createCtrl.form.data.beneficiary_type == 'Affiliation'">affiliation</span>
                (and select it as beneficiary) if it does not exist yet.
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="form-group">
      <label>Referrer Name</label>
      <gc-resident-typeahead
        id-variable="createCtrl.form.data.referrer_id"
        collection-variable="createCtrl.form.data.referrer"
        ng-model="createCtrl.form.data.referrer.full_name">
      </gc-resident-typeahead>

      <div class="clearfix" style="margin-top: 3px;">
        <div class="pull-right">
          <i class="ion-ios-information"></i>
          <a href="" ng-click="createCtrl.$referrerCreate()">Click here to register the resident (and select it as client) if it does not exist yet.</a>
        </div>
      </div>
    </section>

    <section class="form-group">
      <div class="row">

        <div class="col-md-4">
          <label>Account Type</label>
          <select class="form-control"
            ng-model="createCtrl.form.data.account_type_id"
            ng-options="account.id as account.name for account in createCtrl.account_types">
          </select>
        </div>

        <div class="col-md-4">
          <label>Category</label>
          <select class="form-control" ng-model="createCtrl.form.data.category_id">
            <option value=""> {{ createCtrl.isCategoryLoading ? 'Loading..' : 'Select a category' }} </option>
            <option ng-repeat="category in createCtrl.categories" value="{{ category.id }}" ng-selected="category.id == createCtrl.form.data.category_id">
              {{ category.name }}
            </option>
          </select>
        </div>

        <div class="col-md-4">
          <label>Sub Category </label>
          <select class="form-control" ng-model="createCtrl.form.data.sub_category_id">
            <option value=""> {{ createCtrl.isCategoryLoading ? 'Loading..' : (createCtrl._selected == undefined ? 'Select a category first!' : 'Select a sub-category') }} </option>
            <option ng-repeat="sub_category in createCtrl._selected.sub_categories.data" value="{{ sub_category.id }}" ng-if="createCtrl._selected !== undefined" ng-selected="sub_category.id == createCtrl.form.data.sub_category_id">
              {{ sub_category.name }}
            </option>
          </select>
        </div>
      </div>
    </section>

    <section class="form-group">
      <div class="row">
        <div class="col-md-4">
          <label>Vendor</label>
          <gc-vendor-typeahead ng-model="createCtrl.form.data.vendor_name" id-model="createCtrl.form.data.vendor_id">
          </gc-vendor-typeahead>
        </div>

        <div class="col-md-4">
          <label>Item</label>
          <input ng-model="createCtrl.form.data.item_name" type="text" class="form-control" typeahead="item.name for item in createCtrl.$itemRequest($viewValue)" typeahead-wait-ms="50">
        </div>

        <div class="col-md-4">
          <label>Amount</label>
          <input type="text" class="form-control" ng-model="createCtrl.form.data.amount" ui-number-mask>
        </div>
      </div>
    </section>

    <section class="form-group">
      <div class="row">
        <div class="col-md-4" ng-init="createCtrl.form.data.transaction_type = createCtrl.form.data.type">
          <label>Transaction Type</label>
          <select class="form-control" ng-model="createCtrl.form.data.transaction_type">
            <option value="income">Income</option>
            <option value="expense">Expense</option>
            <option value="non-monetary">Non-monetary</option>
             <option value="transfer-income">Transfer Income</option>
            <option value="transfer-expense">Transfer Expense</option>
          </select>
        </div>
                <div class="col-md-6" ng-if="createCtrl.form.data.transaction_type == 'transfer-income' || createCtrl.form.data.transaction_type == 'transfer-expense' ">
          
          <label>
              Select Account {{ createCtrl.form.data.transaction_type == "transfer-income" ? "Origin" : "Destination"}}
          </label>
                   <select class="form-control" ng-model="createCtrl.form.data.transfer_account_id">
            <option ng-repeat="account in createCtrl.account_types" value="{{ account.id }}" ng-selected="createCtrl.form.data.account_type_id == account.id">
              {{ account.name }}
            </option>
          </select>
        </div>

        <div class="col-md-4">
          <div> &nbsp; </div>
          <label>
            <input type="checkbox" ng-model="createCtrl.form.data.liquidatable">
            <span style="margin-left: 5px"> Liquidatable </span>
          </label>
        </div>
      </div>
    </section>


    <section class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label>Details</label>
          <textarea class="form-control" ng-model="createCtrl.form.data.details"></textarea>
        </div>

        <div class="col-md-6">
          <label>Remarks</label>
          <textarea class="form-control" ng-model="createCtrl.form.data.remarks"></textarea>
        </div>
      </div>
    </section>
  </div>

  <div class="modal-footer">
    <div class="pull-left">
      <div class="input-group" style="width: 250px">
        <span class="input-group-addon">Transaction Date</span>
        <input type="text"
          placeholder="Fill to override the default.."
          class="form-control"
          ng-model="createCtrl.form.data.created_at"
          datepicker-popup="yyyy-MM-dd"
          is-open="createCtrl.form.custom.created_at"
          ng-init="createCtrl.form.custom.created_at = false"
          ng-click="createCtrl.form.custom.created_at = !createCtrl.form.custom.created_at">
      </div>
    </div>
    <div class="pull-right">
      <button class="btn btn-default" type="button" ng-click="$dismiss()">
        Cancel
      </button>

      <button class="btn btn-primary" type="submit" http-loader="createCtrl.isLoading">
        Create Transaction
      </button>
    </div>
  </div>
</form>
