<div class="modal-header">
  Update Transaction
</div>

<form ng-submit="detailsCtrl.$update(detailsCtrl.form.data.id, detailsCtrl.form.data)">
  <div class="modal-body" style="width: 100%;">
    <section class="form-group">
      <label for="client">Beneficiary</label>
      <div class="row">
        <div class="col-md-3" >
          <select class="form-control" ng-model="detailsCtrl.form.data.beneficiary_type" ng-init="detailsCtrl.form.data.beneficiary_type = 'Resident'">
            <option value="Resident">Individual</option>
            <option value="Affiliation">Group</option>
          </select>
        </div>

        <div class="col-md-9">
          <gc-resident-typeahead
            id-variable="detailsCtrl.form.data.beneficiary_id"
            collection-variable="detailsCtrl.form.data.beneficiary"
            ng-model="detailsCtrl.form.data.beneficiary.full_name"
            ng-if="detailsCtrl.form.data.beneficiary_type == 'Resident'">
          </gc-resident-typeahead>

          <div gc-affiliation-typeahead
            id-variable="detailsCtrl.form.data.beneficiary_id"
            collection-variable="detailsCtrl.form.data.beneficiary"
            ng-model="detailsCtrl.form.data.beneficiary.name"
            ng-if="detailsCtrl.form.data.beneficiary_type == 'Affiliation'">
          </div>

          <div class="clearfix" style="margin-top: 3px;">
            <div class="pull-right">
              <i class="ion-ios-information"></i>
              <a href="" ng-click="detailsCtrl.$beneficiaryCreate()">
                Click here to register the
                <span ng-if="detailsCtrl.form.data.beneficiary_type == 'Resident'">resident</span>
                <span ng-if="detailsCtrl.form.data.beneficiary_type == 'Affiliation'">affiliation</span>
                (and select it as beneficiary) if it does not exist yet.
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="form-group">
      <label>Referrer Name</label>
      <gc-resident-typeahead
        id-variable="detailsCtrl.form.data.referrer_id"
        collection-variable="detailsCtrl.form.data.referrer"
        ng-model="detailsCtrl.form.data.referrer.full_name">
      </gc-resident-typeahead>

      <div class="clearfix" style="margin-top: 3px;">
        <div class="pull-right">
          <i class="ion-ios-information"></i>
          <a href="" ng-click="detailsCtrl.$referrerCreate()">
            Click here to register the resident (and select it as client) if it does not exist yet.
          </a>
        </div>
      </div>
    </section>

    <section class="form-group">
      <div class="row">

        <div class="col-md-4">
          <label>Account Type</label>
          <select class="form-control"
            ng-model="detailsCtrl.form.data.account_type_id"
            ng-options="account.id as account.name for account in detailsCtrl.account_types">
          </select>
        </div>

        <div class="col-md-4">
          <label>Category</label>
          <select class="form-control" ng-model="detailsCtrl.form.data.category_id">
            <option value=""> {{ detailsCtrl.isCategoryLoading ? 'Loading..' : 'Select a category' }} </option>
            <option ng-repeat="category in detailsCtrl.categories" value="{{ category.id }}" ng-selected="category.id == detailsCtrl.form.data.category_id">
              {{ category.name }}
            </option>
          </select>
        </div>

        <div class="col-md-4">
          <label>Sub Category </label>
          <select class="form-control" ng-model="detailsCtrl.form.data.sub_category_id">
            <option value=""> {{ detailsCtrl.isCategoryLoading ? 'Loading..' : (detailsCtrl._selected == undefined ? 'Select a category first!' : 'Select a sub-category') }} </option>
            <option ng-repeat="sub_category in detailsCtrl._selected.sub_categories.data" value="{{ sub_category.id }}" ng-if="detailsCtrl._selected !== undefined" ng-selected="sub_category.id == detailsCtrl.form.data.sub_category_id">
              {{ sub_category.name }}
            </option>
          </select>
        </div>
      </div>
    </section>

    <section class="form-group">
      <div class="row">

        <div class="col-md-4">
          <label>Vendor</label>
          <gc-vendor-typeahead ng-model="detailsCtrl.form.data.vendor_name" id-model="detailsCtrl.form.data.vendor_id">
          </gc-vendor-typeahead>
        </div>

        <div class="col-md-4">
          <label>Item</label>
          <input ng-model="detailsCtrl.form.data.item_name" type="text" class="form-control" typeahead="item.name for item in detailsCtrl.$itemRequest($viewValue)" typeahead-wait-ms="50">
        </div>

        <div class="col-md-4">
          <label>Amount</label>
          <input type="text" class="form-control" ng-model="detailsCtrl.form.data.amount" ui-number-mask>
        </div>
      </div>
    </section>

    <section class="form-group">
      <div class="row">
        <div class="col-md-4" ng-init="detailsCtrl.form.data.transaction_type = detailsCtrl.form.data.type">
          <label>Transaction Type</label>
          <select class="form-control" ng-model="detailsCtrl.form.data.transaction_type">
            <option value="income">Income</option>
            <option value="expense">Expense</option>
            <option value="non-monetary">Non-monetary</option>
            <option value="transfer-income">Transfer Income</option>
            <option value="transfer-expense">Transfer Expense</option>
          </select>
        </div>

            <div class="col-md-6" ng-if="detailsCtrl.form.data.transaction_type == 'transfer-income' || detailsCtrl.form.data.transaction_type == 'transfer-expense' ">
          
          <label>
              Select Account {{ detailsCtrl.form.data.transaction_type == "transfer-income" ? "Origin" : "Destination"}}
          </label>
                   <select class="form-control" ng-model="detailsCtrl.form.data.transfer_account_id">
            <option ng-repeat="account in detailsCtrl.account_types" value="{{ account.id }}" ng-selected="detailsCtrl.form.data.account_type_id == account.id">
              {{ account.name }}
            </option>
          </select>
        </div>
      </div>
    </section>

    <section class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label>Details</label>
          <textarea class="form-control" ng-model="detailsCtrl.form.data.details"></textarea>
        </div>

        <div class="col-md-6">
          <label>Remarks</label>
          <textarea class="form-control" ng-model="detailsCtrl.form.data.remarks"></textarea>
        </div>
      </div>
    </section>
  </div>

  <div class="modal-footer clearfix">
    <button type="button"
      class="btn btn-success pull-left"
      ng-click="detailsCtrl.$settle()"
      ng-if="!detailsCtrl.form.data.settled_at.length || detailsCtrl.form.data.settled_at == null">
      <i class="ion-checkmark-circled" style="color: green;"></i>
      Settle
    </button>

    <button class="btn btn-default" type="button" ng-click="$dismiss()">
      Cancel
    </button>

    <button class="btn btn-primary" type="submit" http-loader="detailsCtrl.isLoading">
      Update Transaction
    </button>
  </div>
</form>
