<div class="modal-header">
  <h1> List of Liquidation Items </h1>
</div>

<div class="modal-body">
  <div ng-if="!!items.length">
    <table class="table">
      <thead>
        <tr>
          <td> Label </td>
          <td> Amount </td>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="item in items">
          <td> {{ item.label }} </td>
          <td> {{ item.amount | money }} </td>
        </tr>
      </tbody>
    </table>

    <h5> <small> Total: </small> {{ total }} </h5>
  </div>
  <div ng-if="!items.length" class="text-center" style="height: 200px;">
    <h5><small>This transaction has no liquidation items.</small></h5>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default pull-left" ng-click="$close()">
    close
  </button>
</div>
