<div class="modal-header">
  Liquidation
</div>

<div class="modal-body">
  <div class="row form-group">
    <div class="col-md-6">
      <label> Item </label>
      <input ng-model="data.item_name" type="text" class="form-control" typeahead="item.name for item in $itemRequest($viewValue)" typeahead-on-select="data.item_id = $item.id" typeahead-wait-ms="50" ng-disabled="true">
    </div>

    <div class="col-md-6">
      <label> Total Amount </label>
      <input ng-model="data.amount" type="text" class="form-control" placeholder="Enter amount.." ng-disabled="true">
    </div>
  </div>

  <div class="box">
    <header style="color: black;" class="clearfix">
      <h4 style="padding-left: 10px; padding-right: 10px; display: inline-block" class="pull-left"> Liquidation Items </h4>
      <button type="button" class="btn btn-info btn-sm pull-left" ng-click="$addItem()" style="margin-top: 5px;">
        <i class="ion-plus-circled"></i>
      </button>

      <h6 class="pull-right" style="padding-right: 10px;">
        {{ total }}
      </h6> 

      <h6 class="pull-right" style="padding-right: 5px;">
        Total Amount
      </h6>
    </header>

    <div class="body">
      <div ng-if="!!items.length">
        <table class="table">
          <thead>
            <tr>
              <th>Label</th>
              <th>Amount</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="item in items">
              <td>
                <input ng-model="item.label" type="text" class="form-control" placeholder="Enter label.." ng-if="item.editing">
                <p class="form-control-static">
                  <strong ng-if="!item.editing">
                    {{ item.label == undefined || item.label == '' ? '( None )' : item.label }}
                  </strong>
                </p>
              </td>
              <td>
                <input type="text" class="form-control" ng-model="item.amount" placeholder="Enter amount.." ng-if="item.editing">
                <p class="form-control-static" ng-if="!item.editing">
                  <strong>
                    {{ item.amount == undefined || item.amount == '' ? '0' : item.amount }}
                  </strong>
                </p>
              </td>
              <td>
                <div ng-if="item.editing">
                  <button type="button" class="btn btn-warning btn-sm" ng-click="$cancelItem($index)">
                    <i class="ion-close" syle="color: #fff;"></i>
                  </button>

                  <button type="button" class="btn btn-success btn-sm" ng-click="$saveItem($index)">
                    <i class="ion-checkmark"></i>
                  </button>
                </div>

                <div ng-if="!item.editing">
                  <button type="button" class="btn btn-danger btn-sm" ng-click="$rmItem($index)">
                    <i class="ion-trash-a" syle="color: #fff;"></i>
                  </button>

                  <button type="button" class="btn btn-info btn-sm" ng-click="$editItem($index)">
                    <i class="ion-edit"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-if="!items.length"> 
        <h5 class="text-center"> <small>
          This transaction has no liquidation item yet.&nbsp;
          <a href="#" ng-click="$addItem()">Why don't you create one?</a>
        </small> </h5>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer clearfix">
  <button ng-click="$liquidate()" class="btn btn-primary pull-left" ng-disabled="isLoading">Liquidate</button>
  <button ng-click="$close()" class="btn btn-default pull-right" ng-disabled="isLoading">Cancel</button>
</div>