<div class="modal-header">
  Refund
</div>

<div class="modal-body">
  <div class="row form-group">
    <div class="col-md-6">
      <label> Beneficiary Type </label>
      <select class="form-control" ng-model="data.beneficiary_type" ng-disabled="isLoading">
        <option>Select beneficiary type..</option>
        <option value="Resident">Individual</option>
        <option value="Affiliation">Group</option>
      </select>
    </div>

    <div class="col-md-6">
      <label> Beneficiary </label>
      <gc-resident-typeahead
        id-variable="data.beneficiary_id"
        collection-variable="data.beneficiary"
        ng-model="data.beneficiary.full_name"
        ng-if="data.beneficiary_type == 'Resident'">
      </gc-resident-typeahead>

      <div gc-affiliation-typeahead
        id-variable="data.beneficiary_id"
        collection-variable="data.beneficiary"
        ng-model="data.beneficiary.name"
        ng-if="data.beneficiary_type == 'Affiliation'">
      </div>
    </div>
  </div>
</div>

<div class="modal-footer clearfix">
  <button ng-click="$refund()" class="btn btn-danger pull-left" ng-disabled="isLoading">Refund</button>
  <button ng-click="$close()" class="btn btn-default pull-right" ng-disabled="isLoading">Cancel</button>
</div>