<div class="btn-group" ss-has-permissions="profiling.manage_attributions">
  <a ui-sref="attributions.create" class="btn btn-primary">
    <i class="ion-ios7-plus-empty"></i>
    Add new Attribute
  </a>
</div>