<ng-include src="'/app/transactions-categories/partials/tools.html'"></ng-include>

<div style="overflow: scroll; height: 82vh; width: 100%;"
  srph-infinite-scroll="categories.getPage('next')"
  disabled="categories.collection.paging.next == undefined"
  threshold="200"
  throttle="0"
  container="true">
<table st-table="categories.collection" class="table table-hover table-clickable" st-pipe="categories.callServer">
  <thead>
    <tr>
      <th colspan="1" width="1%"></th>
      <th lr-drag-src="headers"
        lr-drop-target="headers"
        ng-repeat="col in categories.columns"
        ng-show="col.show"
        resizable
        r-directions="['right']">
          <span class="text-center" style="display: block" st-sort="{{:: col.key }}">{{:: col.label }}</span>
      </th>
    </tr>
    
    <tr>
      <th>
        <input type="checkbox"
          class="form-control input-sm"
          st-control="categories.collection">
      </th>

      <th ng-repeat="col in categories.columns track by $index"
        ng-show="col.show">
        <input type="text"
          class="form-control input-sm"
          st-search="col.key">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr cs-select="categories.details" ng-repeat="category in categories.collection" class="gc-animate">
      <td>
        <input type="checkbox" class="form-control input-sm" ng-model="category.isSelected">
      </td>

      <td ng-repeat="col in categories.columns"
        ng-click="$eval(col.onClick)"
        ss-bind-template="col.cellTemplate"
        ng-show="col.show"></td>
    </tr>
  </tbody>
</table>
</div>