<ng-include src="'/app/administration-users-deactivated/partials/tools.html'"></ng-include>
<ng-include src="'/app/administration-users-deactivated/partials/loader.html'"></ng-include>

<div
  id="yolo-pls-swag"
  style="overflow: scroll; height: 82vh; width: 100%;"
  srph-infinite-scroll="users.getPage('next')"
  disabled="users.collection.paging.next == undefined"
  threshold="200"
  throttle="0"
  container="true">
<table st-table="users" class="table table-hover table-clickable" st-pipe="users.callServer">
    <thead>
    <tr>
        <th colspan="1" width="1%"></th>
        <th lr-drag-src="headers"
          lr-drop-target="headers"
          ng-repeat="col in users.columns"
          ng-show="col.show"
          resizable
          r-directions="['right']">
            <span class="text-center" style="display: block" st-sort="{{:: col.key }}">{{:: col.label }}</span>
          </th>
    </tr>

    <tr>
        <th>
            <input type="checkbox"
                   class="form-control input-sm"
                   st-control="users.collection">
        </th>

        <th ng-repeat="col in users.columns"
            ng-show="col.show">
            <input type="text"
                   class="form-control input-sm"
                   st-search="col.key"
                   st-delay="200">
        </th>
    </tr>
    </thead>
    <tbody gc-select-row>
    <tr cs-select="users.collection" ng-repeat="user in users.collection" class="gc-animate" data-index="{{ $index }}" data-id="{{ user.id }}" data-es="{{ user.es_id }}" data-state="users.edit">
        <td>
            <input type="checkbox" class="form-control input-sm" ng-model="user.isSelected">
        </td>

        <td ng-repeat="col in users.columns"
            ng-click="$eval(col.onClick)"
            ss-bind-template="col.cellTemplate"
            ng-show="col.show"></td>
    </tr>
    <tr ng-hide="users.collection.length"><td style="padding-top: 16px;" colspan="{{ users.columns.length + 1 }}" class="text-center"><i class="fa fa-exclamation-circle"></i> No results found</td></tr>

    </tbody>
</table>
</div>
<ng-include src="'/app/administration-users/partials/pagination.html'"></ng-include>