<!--<ng-include src="'/app/scholarships-types/partials/header.html'"></ng-include>-->
<ng-include src="'/app/scholarships-types/partials/tools.html'"></ng-include>

<div
  ss-loader="types.isLoading"
  ss-loader-target=".table tbody"
  class="text-center text-warning animate-show">
  <three-bounce-spinner></three-bounce-spinner>
</div>

<div
  id="yolo-pls-swag"
  style="overflow: scroll; height: 82vh; width: 100%;"
  srph-infinite-scroll="types.getPage('next')"
  disabled="types.collection.paging.next == undefined"
  threshold="200"
  throttle="0"
  container="true">
<table st-table="types.collection" class="table table-hover table-clickable" st-pipe="types.callServer">
  <thead>
    <tr>
      <th colspan="1" width="1%"></th>
      <th lr-drag-src="headers"
        lr-drop-target="headers"
        ng-repeat="col in types.columns"
        ng-show="col.show"
        resizable
        r-directions="['right']">
          <span class="text-center" style="display: block" st-sort="{{:: col.key }}">{{:: col.label }}</span>
      </th>
    </tr>
    
    <tr>
      <th>
        <input type="checkbox"
          class="form-control input-sm"
          st-control="types.collection">
      </th>

      <th ng-repeat="col in types.columns"
        ng-show="col.show">
        <input type="text"
          class="form-control input-sm"
          st-search="col.key"> 
      </th>
    </tr>
  </thead>
  
  <tbody gc-select-row>
    <tr cs-select="types.collection" ng-repeat="type in types.collection" class="gc-animate" data-index="{{ $index }}" data-id="{{ type.id }}" data-es="{{ type.es_id }}" data-state="types.edit">
      <td>
        <input type="checkbox" class="form-control input-sm" ng-model="type.isSelected">
      </td>

      <td ng-repeat="col in types.columns"
        ng-click="types.show(type.id)"
        ss-bind-template="col.cellTemplate"
        ng-show="col.show"></td>
    </tr>
    <tr ng-hide="types.collection.length"><td style="padding-top: 16px;" colspan="{{ types.columns.length + 1 }}" class="text-center"><i class="fa fa-exclamation-circle"></i> No results found</td></tr>
  </tbody>
</table>
</div>

<ng-include src="'/app/scholarships-types/partials/pagination.html'"></ng-include>