<div class="modal-header">
  <h3 class="modal-title">Edit Transaction Category</h3>
</div>   

<form ng-submit="editCtrl.$update(editCtrl.data)">
  <div class="modal-body">
    <div class="row form-group">
      <section class="col-md-6">
        <label>Name</label>
        <input placeholder="Enter category name.." type="text" class="form-control" ng-model="editCtrl.data.name">
      </section>
    </div>

    <div class="box">
      <header style="color: black; padding-left: 10px; padding-right: 10px;" class="clearfix">
        <h4 class="pull-left"> Sub Categories </h4>
          <button type="button" class="btn btn-info btn-sm pull-right" ng-click="editCtrl.$addItem()" style="margin-top: 5px;">
            <i class="ion-plus-circled"></i>
        </button>
      </header>

      <div class="body">
        <div ng-if="!!editCtrl.data.sub_categories.data.length">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="sub in editCtrl.data.sub_categories.data">
                <td>
                  <input type="text" placeholder="Enter sub category name.." ng-model="sub.name" class="form-control" ng-if="sub.editing">
                  <p class="form-control-static" ng-if="!sub.editing">
                    <strong>{{ sub.name == undefined || sub.name == '' ? '( None )' : sub.name }}</strong>
                  </p>
                </td>
                <td>
                  <div ng-if="sub.editing">
                    <button type="button" class="btn btn-warning btn-sm" ng-click="editCtrl.$cancelItem($index)">
                      <i class="ion-close" syle="color: #fff;"></i>
                    </button>

                    <button type="button" class="btn btn-success btn-sm" ng-click="editCtrl.$saveItem($index)">
                      <i class="ion-checkmark"></i>
                    </button>
                  </div>

                  <div ng-if="!sub.editing">
                    <button type="button" class="btn btn-danger btn-sm" ng-click="editCtrl.$rmItem($index)">
                      <i class="ion-trash-a" syle="color: #fff;"></i>
                    </button>

                    <button type="button" class="btn btn-info btn-sm" ng-click="editCtrl.$editItem($index)">
                      <i class="ion-edit"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div ng-if="!editCtrl.data.sub_categories.data.length">
          <h5> Oops, this category has no sub category yet! </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <aside class="clearfix">
      <button
        type="submit"
        class="btn btn-primary pull-right"
        ng-disabled="editCtrl.isLoading">
        Update Transaction Account
      </button>

      <span ng-if="editCtrl.isLoading" class="pull-right">
        <pulse-spinner></pulse-spinner>
      </span>

      <button
        type="button"
        class="btn btn-warning pull-left"
        ng-click="$close()">
        Cancel
      </button>
    </aside>
  </div>
</form>