<div class="modal-header">
  <h3> Bulk Add Residents to Affiliation </h3>
</div>

<form ng-submit="$bulkAdd()">
  <div class="modal-body">

    <div class="alert alert-danger">
      <h5 style="margin-top: 0; margin-bottom: 0;">
        <i class="ion-ios-information-outline" style="color: red; margin-right: 5px;"></i>
        <small style="font-size: 85%; line-height: 10px;">
          By default, all residents will have the same <kbd>position</kbd>, <kbd>founder</kbd> status,
          <kbd>Referrer</kbd> and <kbd>Head</kbd>.
        </small>
      </h5>
    </div>

    <div class="row form-group">
      <div class="col-md-6">
        <label> Affiliation Name </label>
        <div
          gc-affiliation-typeahead
          ng-model="data.affiliation_name"
          id-variable="data.affiliation_id"
          placeholder="Enter affiliation name..">
        </div>
      </div>
      <div class="col-md-4">
        <label> Position </label>
        <div
          gc-affiliation-position-dropdown-deferred="data.position_id" affiliation-id="data.affiliation_id">
        </div>
      </div>
      <div class="col-md-2">
        <label> Founder </label>
        <input type="checkbox" class="form-control" ng-model="data.founder">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-6">
        <label> Referrer </label>
        <div gc-resident-typeahead ng-model="data.referrer_name" id-variable="data.referrer_id" placeholder="Enter referrer's name..">
        </div>
      </div>
      <div class="col-md-6">
        <label> Head </label>
        <div gc-resident-typeahead ng-model="data.head_name" id-variable="data.head_id" placeholder="Enter head's name..">
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer clearfix">
    <button class="btn btn-success pull-left" type="submit" ng-disabled="isLoading">
      Add residents to this affiliation
    </button>

    <button class="btn btn-default pull-right" type="button" ng-click="$close()">
      Close
    </button>
  </div>
</form>