<form style="margin: auto; top: 0; left: 0; right: 0; bottom: 0; position: absolute; height: 313px; border: 1px solid #ddd; width: 400px; padding: 10px;"
  srph-xhr="account/password"
  request-type="put"
  request-data="form"
  request-success="success"
  request-error="error">
  <header class="text-center" style="margin-top: -15px;margin-bottom: 15px; height: 50px;"><h4 style="padding: 15px;">Change Password</h4></header>
  <div class="form-group">
    <label> Old Password </label>
    <input type="password" name="old_password" ng-model="form.old_password" class="form-control">
  </div>
  <div class="form-group">
    <label> New Password </label>
    <input type="password" name="password" ng-model="form.password" class="form-control">
  </div>

  <div class="form-group">
    <label> Password Confirmation </label>
    <input type="password" name="password_confirmation" ng-model="form.password_confirmation" class="form-control">
  </div>

  <button class="btn btn-primary" type="submit">
    Save
  </button>
</form>