<!--<ng-include src="'/app/affiliations-positions.index/partials/header.html'"></ng-include>-->
<ng-include src="'/app/affiliations-positions.index/partials/tools.html'"></ng-include>

<div
  ss-loader="positions.isLoading"
  ss-loader-target=".table tbody"
  class="text-center text-warning animate-show">
  <three-bounce-spinner></three-bounce-spinner>
</div>

<div
  id="yolo-pls-swag"
  style="overflow: scroll; height: 82vh; width: 100%;"
  srph-infinite-scroll="positions.getPage('next')"
  disabled="positions.collection.paging.next == undefined"
  threshold="200"
  throttle="0"
  container="true">
<table st-table="positions" class="table table-hover table-clickable" st-pipe="positions.callServer">
  <thead>
    <tr>
      <th colspan="1" width="1%"></th>
      <th lr-drag-src="headers"
        lr-drop-target="headers"
        ng-repeat="col in positions.columns"
        st-sort="{{col.key}}"
        ng-show="col.show"
        resizable
        r-directions="['right']">
          <span class="text-center" style="display: block" st-sort="{{:: col.key }}">{{:: col.label }}</span>
        </th>
    </tr>
    
    <tr>
      <th>
        <input type="checkbox"
          class="form-control input-sm"
          st-control="positions.collection">
      </th>

      <th ng-repeat="col in positions.columns"
        ng-show="col.show">
        <input type="text"
          class="form-control input-sm"
          st-search="col.key"
          st-delay="200">          
      </th>
    </tr>
  </thead>
  <tbody gc-select-row>
    <tr cs-select="positions.collection" ng-repeat="position in positions.collection" data-index="{{ $index }}" data-id="{{ position.id }}" data-es="{{ position.es_id }}" data-state="positions.edit">
      <td>
        <input type="checkbox" class="form-control input-sm" ng-model="position.isSelected">
      </td>

      <td ng-repeat="col in positions.columns"
        ng-click="$eval(col.onClick)"
        ss-bind-template="col.cellTemplate"
        ng-show="col.show"></td>
    </tr>
    <tr ng-hide="positions.collection.length"><td style="padding-top: 16px;" colspan="{{ positions.columns.length + 1 }}" class="text-center"><i class="fa fa-exclamation-circle"></i> No results found</td></tr>
  </tbody>
</table>
</div>
<ng-include src="'/app/affiliations-positions.index/partials/pagination.html'"></ng-include>