<div class="modal-header">
  Create New Release
</div>

<div class="modal-body">
  <div class="row form-group">
    <section class="col-md-6">
      <label> School Year </label>
      <gc-year-sets range="5" year-model="createCtrl.data.school_year">
      </gc-year-sets>
    </section>

    <section class="col-md-6">
      <label> Term </label>
      <select ng-model="createCtrl.data.term" class="form-control" ng-init="createCtrl.data.term = 1">
        <option value="{{ _term }}" ng-repeat="_term in [1, 2, 3]">
          {{ _term }}
        </option>
      </select>
    </section>
  </div>

  <div class="row form-group">
    <div class="col-md-6">
      <label> Scholarship Types </label>

      <select ng-model="createCtrl.data.scholarship_types" class="form-control" multiple="multiple">
        <option ng-repeat="type in createCtrl.types" value="{{ type.id }}">
          {{ type.name }}
        </option>
      </select>
    </div>

    <div class="col-md-6">
      <div>
        <label style="display: block;">&nbsp;</label>
        <label>
          <input type="checkbox" ng-model="createCtrl.data.fixed_amount" ng-true-value="1" ng-false-value="0" ng-init="createCtrl.data.fixed_amount = 0">
          <span style="margin-left: 5px;"> Fixed Amount </span>
        </label>
      </div>

      <div ng-if="createCtrl.data.fixed_amount">
        <label> Amount </label>
        <input type="number" step="1" ng-model="createCtrl.data.amount" class="form-control">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label> Expiration Date </label>
      <input
          placeholder="Click to open datepicker"
          class="form-control"
          datepicker-popup="dd-MM-yyyy"
          is-open="_expiring_at"
          ng-model="createCtrl.data.expiring_at"
          ng-init="_expiring_at = false"
          ng-click="_expiring_at = !_expiring_at">
    </div>
  </div>
</div>

<div class="modal-footer clearfix">
  <button type="button" ng-click="$close()" class="btn btn-default pull-left">Cancel</button>
  <button type="button" ng-click="createCtrl.create()" class="btn btn-success pull-right"> Release </button>
</div>