/* ==========================================================================
metisAdmin: Base
========================================================================== */
body {
 font-family: "Proxima Nova";
 // font-family: "Gotham";
//  font-family: "Open Sans";

  .transition(all .3s ease-in-out);

  &.fixed {
    #wrap {
      margin-top: 44px;
    }
    #top {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1030;
    }
    #left {
      position: fixed;
      left: 0;
      height: 100%;
    }
    #menu {
      height: 100%;
    }
    #content {
      margin-left: @SidebarWidth;
    }
  }
}

