/* BEGIN CONTENT STYLES */

#content {
  position: relative;
  width: 100%;
  height: 82vh;
  overflow: auto;
}

.inner-content {

  header {
    padding: 16px 20px;
    position: relative;

    .title {
      margin: 0;
      display: inline-block;

      &:before {
        margin-right: 6px;
      }
    }
    .btn-sm.dropdown-toggle {
      padding: 3px 8px;
    }
  }
}