/* ==========================================================================
   Footer
   ========================================================================== */
.footer, #footer {
  margin: 0 auto;
  color: #f4f4f4;

  padding: 8px 38px;


  p {
    padding: 1.2rem 0;
    margin: 0;
    text-align: center;
  }

  p.powered {
    font-size: 10px;
    padding: 0;
  }
}

/* END Footer
   ========================================================================== */