/* BEGIN TOP bar */
#top {
  .navbar {
    margin-bottom: 0;
    border-top: 3px solid #CD0067;
  }
  .navbar-brand {
//    width: 100%;
    height: auto;
    color: rgb(214, 214, 214);
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 16px;
    display: inline-block;

    img {
      max-width: 100%;
      height: auto;
    }
  }
  .nav-menu {
    vertical-align: middle;
    display: inline-block;
    padding: 8px;
    color: #FFF;
  }
  .user-nav {
    padding: 8px 16px;
  }
}

.topnav {
  margin: 10px 0;
  text-align: right;
  @media (min-width: @screen-tablet) {
    float: right;
  }
}

/* END TOP bar */