<div class="modal-header">
  <h3 class="modal-title">Transfer Scholarship</h3>
</div>

<form ng-submit="transferCtrl.create(transferCtrl.form.data)">
  <div class="modal-body">
    <div class="error text-danger">{{ transferCtrl.error }}</div>
    <div class="form-group">
      <label for="resident">Resident</label>
      <gc-resident-typeahead id-variable="transferCtrl.form.data.resident_id" ng-model="transferCtrl.form.data.resident_name">
      </gc-resident-typeahead>
    </div>

    <div class="form-group">
      <div gc-resident-sibling id="transferCtrl.scholarship.resident.id">
      </div>
    </div>

    <div class="form-group">
      <label> School </label>
      <gc-school-typeahead id-variable="transferCtrl.form.data.school_id" ng-model="transferCtrl.form.data.school_name">
      </gc-school-typeahead>
    </div>

    <div class="form-group">
      <label> Type </label>
      <gc-scholarship-types ng-model="transferCtrl.form.data.scholarship_type_id">
      </gc-scholarship-types>
    </div>

    <div class="form-group">
      <label>School Year</label>
      <gc-year-sets range="30" year-model="transferCtrl.form.data.school_year">
      </gc-year-sets>
    </div>

    <div class="form-group">
      <label>Status</label>
      <gc-scholarship-status-dropdown status-model="transferCtrl.form.data.status">
      </gc-scholarship-status-dropdown>
    </div>
  </div>
  
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" http-loader="transferCtrl.isLoading">
      Create
    </button>
    <button class="btn btn-warning" type="button" ng-click="$close()">
      Cancel
    </button>
  </div>
</form>