<div class="modal-header">
  <h3 class="modal-title">Transfer Scholarship</h3>
</div>

<form ng-submit="transferCtrl.create(transferCtrl.form.data)">
  <div class="modal-body">
    <div class="error text-danger">{{ transferCtrl.error }}</div>
    <div class="form-group">
      <label for="resident">Resident</label>
      <gc-resident-typeahead id-variable="transferCtrl.form.data.resident_id" ng-model="transferCtrl.form.data.resident_name">
      </gc-resident-typeahead>
    </div>

    <div class="form-group">
      <div gc-resident-sibling id="transferCtrl.scholarship.resident.id">
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-4">
      <label> Type </label>
      <gc-scholarship-types ng-model="transferCtrl.form.data.scholarship_type_id">
      </gc-scholarship-types>
      </div>
      <div class="col-md-4">
        <label>School Year</label>
        <gc-year-sets range="30" year-model="transferCtrl.form.data.school_year">
        </gc-year-sets>
      </div> 
      <div class="col-md-4">
        <div class="form-group">
          <label>Status</label>
          <gc-scholarship-status-dropdown status-model="transferCtrl.form.data.status">
          </gc-scholarship-status-dropdown>
        </div>

      </div> 
    </div>
    <div class="row form-group">
      <div class="col-md-4">
          <label>Scholar Contact #</label>
          <input type="text" ng-model="transferCtrl.form.data.scholar_contact_no" class="form-control"/>
      </div>
      <div class="col-md-5">
          <label>Parent/Guardian Contact #</label>
          <input type="text" ng-model="transferCtrl.form.data.parents_contact_no" class="form-control"/>
      </div>
      <div class="col-md-3">
          <label>Other Contact #</label>
          <input type="text" name="others_contact_no" ng-model="transferCtrl.form.data.others_contact_no" class="form-control"/>
      </div>
    </div>
     <div class="form-group" >
   <label>Father Name</label>
      <gc-resident-typeahead
        id-variable="transferCtrl.form.data.father_id"
        collection-variable="transferCtrl.form.data.father"
        ng-model="transferCtrl.form.data.father.full_name">
  </div>
  <div class="form-group">
    <label>Mother Name</label>
      <gc-resident-typeahead
        id-variable="transferCtrl.form.data.mother_id"
        collection-variable="transferCtrl.form.data.mother"
        ng-model="transferCtrl.form.data.mother.full_name">
  </div>
    <div class="form-group">
    <label>Guardian Name</label>
      <gc-resident-typeahead
        id-variable="transferCtrl.form.data.guardian_id"
        collection-variable="transferCtrl.form.data.guardian"
        ng-model="transferCtrl.form.data.guardian.full_name">
  </div>

  <div class="form-group">
    <label>Remarks</label>
    <textarea ng-model="transferCtrl.form.data.comment" class="form-control"></textarea> 
  </div>
  </div>
  
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" http-loader="transferCtrl.isLoading">
      Create
    </button>
    <button class="btn btn-warning" type="button" ng-click="$close()">
      Cancel
    </button>
  </div>
</form>