<!--<ng-include src="'/app/households/partials/header.html'"></ng-include>-->
<ng-include src="'/app/households/partials/tools.html'"></ng-include>
<ng-include src="'/app/households/partials/loader.html'"></ng-include>

<div
  id="yolo-pls-swag"
  style="overflow: scroll; height: 82vh; width: 100%;"
  srph-infinite-scroll="households.getPage('next')"
  disabled="households.collection.paging.next == undefined"
  threshold="200"
  throttle="0"
  container="true">
<table st-table="households" class="table table-hover table-clickable" st-pipe="households.callServer">
  <thead>
    <tr>
      <th colspan="1" width="1%"></th>
      <th lr-drag-src="headers"
        lr-drop-target="headers"
        ng-repeat="col in households.columns"
        st-sort="{{:: col.key }}"
        ng-bind="col.label"
        ng-show="col.show"></th>
    </tr>
    
    <tr>
      <th>
        <input type="checkbox"
          class="form-control input-sm"
          st-control="households.collection">
      </th>

      <th ng-repeat="col in households.columns"
        ng-show="col.show">
        <input type="text"
          class="form-control input-sm"
          st-search="col.key"
          st-delay="200">          
      </th>
    </tr>
  </thead>
  <tbody gc-select-row>
    <tr cs-select="households.collection" ng-repeat="household in households.collection" class="gc-animate" data-index="{{ $index }}" data-id="{{ household.id }}" data-es="{{ household.es_id }}" data-state="households.edit">
      <td>
        <input type="checkbox" class="form-control input-sm" ng-model="household.isSelected">
      </td>

      <td ng-repeat="col in households.columns"
        ng-click="households.show(household.id)"
        ss-bind-template="col.cellTemplate"
        ng-show="col.show"></td>
    </tr>
    <tr ng-hide="households.collection.length"><td style="padding-top: 16px;" colspan="{{ households.columns.length + 1 }}" class="text-center"><i class="fa fa-exclamation-circle"></i> No results found</td></tr>
  </tbody>
</table>
</div>

<ng-include src="'/app/households/partials/pagination.html'"></ng-include>