
.content {
	border: 1px solid #000;
	height: 500px;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
}

.section {
	text-align: center;
}

.top-content {
	width: 100%;
	font-size: 10px;
}

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear:both;
}

.clearfix {
	*zoom: 1;
}

h1 {
	margin-top: 0;	
	font-weight: normal;
	margin-bottom: 10px;
}

.top-first-header {
	margin-right: 150px;
	font-size: 30px;
}

.top-second-header {
	font-size: 27px;
}

.tran {
	font-size: 18px;
	font-family: 'Helvetica';
	margin-bottom: 0;
	font-weight: normal;
}
.column {
	width: 50%;
	height: 50px;
}

.data-right {
	width: 25%;
	height: 50px;
	margin-top: -5px;
}
.data-left {
	width: 75%;
	height: 50px;
}

.item {
	font-style: italic;
	font-size: 15px;
	margin-left: 10px;
	font-family: 'Helvetica';
	font-weight: normal;
}
.name-item {
	font-size: 15px;
	font-family: 'Helvetica';
}
.name-data {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 127px;
	font-family: 'Helvetica';
	font-size: 15px;
}
.price {
	margin-top: -35px;
}
.name-data-add {
	margin-top: 15px;
	margin-left: 127px;
	font-family: 'Helvetica';
	font-weight: normal;
}
.total {
	margin-top: 170px;
	font-family: 'Tahoma';
}

.tot {
	margin-left: 210px;
}

#extra {
	margin-top: 225px;
}

#line-sign {
	width: 225%;
	margin-top: 20px;
}

.rec {
	margin-right: 120px;
}

#rec-name {
	margin-top: 5px;
	font-weight: bold;
}

#rec-underline {
	margin-top: 0;
	width: 145%;
}

.footer-content {
	font-family: 'Tahoma';
}