<div class="modal-body">
  <div class="row">
    <section class="" ng-class="{ 'col-md-7': semesterShowCtrl.form.data.status !== 'waiting', 'col-ln-after': semesterShowCtrl.form.data.status !== 'waiting', 'col-md-12': semesterShowCtrl.form.data.status == 'waiting' }">
      <ng-include src="'/app/scholarships-semesters-list.show/partials/semesters-residentProfile.html'">
      </ng-include>
            <ng-include src="'/app/scholarships-semesters-list.show/partials/semesters-awards.html'">
      </ng-include>

      <hr ng-hide="semesterShowCtrl.form.data.status == 'waiting'">

      <div class="pull-right clearfix form-group" ng-hide="semesterShowCtrl.form.data.status == 'waiting'">
        <button ui-sref="semesters-list.show.semester-create">
          <i class="ion-ios-plus-empty"></i> New Semester
        </button>
      </div> 

      <ng-include src="'/app/scholarships-semesters-list.show/semesters.html'"
        ng-controller="SemestersAltCtrl as semestersAlt"
        ng-hide="semesterShowCtrl.form.data.status == 'waiting'">
      </ng-include>
    </section>
    <section class="col-md-5" ng-hide="semesterShowCtrl.form.data.status == 'waiting'" ui-view="semester">
      <ng-include src="'/app/scholarships-semesters-list.show/partials/scholarship-temporaryContent.html'">
      </ng-include>
    </section>
  </div>
</div>