<div class="clearfix form-group">
  <div class="btn-group pull-right text-right">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
     Options
     <i class="caret"></i>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-show="semesterShowCtrl.form.data.status == 'active'"  >
        <a href="" ng-click="semesterShowCtrl.$transfer()"> Transfer Scholarship </a>
      </li>
      <li>
        <a href="api/v1/scholarships/{{ semesterShowCtrl.form.data.id }}/id" request-data="{ 'status': schowCtrl.form.data.status }" target="_blank">
          Generate ID
        </a>
      </li>
      <li>
        <a href="" ng-click="semesterShowCtrl.toggle()">Edit Info</a>
      </li>
    </ul>
  </div>

  <span  class="pull-right" style="margin-right: 10px;">

    <div class="btn-group" ng-hide="semesterShowCtrl.form.data.status != 'for_verification'">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-disabled="semesterShowCtrl.loading">
        Review Scholarship
        <i class="caret"></i>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="" srph-xhr="scholarships/{{ semesterShowCtrl.form.data.id }}/status/" request-data="{ 'status': 'active' }" request-type="put" request-success="semesterShowCtrl.$success" request-error="semesterShowCtrl.$error" ng-click="semesterShowCtrl.loading = true"> Approve </a></li>
        <li><a href="" srph-xhr="scholarships/{{ semesterShowCtrl.form.data.id }}/status/" request-data="{ 'status': 'denied' }" request-type="put" request-success="semesterShowCtrl.$success" request-error="semesterShowCtrl.$error" ng-click="semesterShowCtrl.loading = true"> Deny </a></li>
      </ul>
    </div>
    <div ng-hide="semesterShowCtrl.form.data.status == 'graduated' || semesterShowCtrl.form.data.status == 'denied' || semesterShowCtrl.form.data.status == 'closed' || semesterShowCtrl.form.data.status == 'for_verification'" class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
     Set As
     <i class="caret"></i>
    </button>
    <ul ng-switch="semesterShowCtrl.form.data.status" class="dropdown-menu">
      <li ng-switch-when="stop">
          <a href="" srph-xhr="scholarships/{{ semesterShowCtrl.form.data.id }}/status" request-data="{ 'status': 'active' }" request-type="put" request-success="semesterShowCtrl.$success" request-error="semesterShowCtrl.$error" ng-click="semesterShowCtrl.loading = true" ng-class="{ 'btn-disabled': semesterShowCtrl.loading }">
              Activate
          </a>
      </li>
      <li ng-switch-when="active">
            <a href="" srph-xhr="scholarships/{{ semesterShowCtrl.form.data.id }}/status" request-data="{ 'status': 'closed' }" request-type="put" request-success="semesterShowCtrl.$success" request-error="semesterShowCtrl.$error" ng-click="semesterShowCtrl.loading = true" ng-class="{ 'btn-disabled': semesterShowCtrl.loading }">
               Close
            </a>
      </li>
      <li ng-switch-when="closed">
         <a href="" srph-xhr="scholarships/{{ semesterShowCtrl.form.data.id status" request-data="{ 'status': 'stop' }" request-type="put" request-success="semesterShowCtrl.$success" request-error="semesterShowCtrl.$error" ng-click="semesterShowCtrl.loading = true" ng-class="{ 'btn-disabled': semesterShowCtrl.loading }" >
           Stop
         </a>
      </li>
      <li ng-switch-when="active">
          <a href="" srph-xhr="scholarships/{{ semesterShowCtrl.form.data.id }}/status" request-data="{ 'status': 'graduated' }" request-type="put" request-success="semesterShowCtrl.$success" request-error="semesterShowCtrl.$error" ng-click="semesterShowCtrl.loading = true" ng-class="{ 'btn-disabled': semesterShowCtrl.loading }"  >
            Graduate
          </a>
      </li>
    </ul>
    </div>


  </span>
  <div class="row">
     <div class="col-md-2" style="margin-top:30px;">
      <img class="pull-left" ng-src="{{ semesterShowCtrl.form.data.resident.profilePic }}" holder-fix fallback-src="fallback.gif" ng-show="semesterShowCtrl.form.data.resident.profilePic" style="width:100px; height:100px; margin-right: 10px; border-radius: 50%">
      <img class="pull-left" ng-hide="semesterShowCtrl.form.data.resident.profilePic" src="holder.js/100x100" holder-fix style="margin-right: 10px; border-radius: 50%">
      <a ui-sref="residents.edit({ id: semesterShowCtrl.form.data.resident.id })" ng-click="$close()" style="margin-left: 8px; font-size:12px;">View Resident</a>
  </div>
  <div class="col-md-9">
      <h4>{{ semesterShowCtrl.form.data.resident.full_name }}</h4>
  <h5>{{ semesterShowCtrl.form.data.school.name }}</h5>
  <div>
    <span style="font-size: 9px; font-style: italic;">
      {{ semesterShowCtrl.form.data.resident.street }}, {{ semesterShowCtrl.form.data.resident.barangay }}
    </span>
  </div>
  <span gc-scholarship-status="semesterShowCtrl.form.data.status">
  </span>
  <span class="label label-primary">
    (Applied on {{ semesterShowCtrl.form.data.created_at | timestamp | date: 'mediumDate' }})
  </span>
  <span class="label label-default" ng-if="!!semesterShowCtrl.form.data.transferred_at.length">
    (Transferred on {{ semesterShowCtrl.form.data.transferred_at | timestamp | date: 'mediumDate' }})
  </span>
    <br>
  <span  ng-if="!!showCtrl.form.data.transfered_to">
    <i>Transferred to</i> <a href="/scholarships/{{ showCtrl.form.data.transfered_to.id }}">{{ showCtrl.form.data.transfered_to.resident.full_name  }}</a>
  </span>
  
  <hr>

 
   <div class="row">
    <div class="col-md-4">
      <p ng-hide="semesterShowCtrl.edit_mode">
        <strong>Scholar Contact #</strong> 
        <br>{{ semesterShowCtrl.form.data.resident.mobile }}
        
        </p>
       <div class="form-group" ng-show="semesterShowCtrl.edit_mode">
    <label><strong>Scholar Contact #</strong></label>
    <input type="text" ng-model="semesterShowCtrl.form.data.resident.mobile" class="form-control"/>
  </div>
    </div>
    <div class="col-md-5">
         
  <p ng-hide="semesterShowCtrl.edit_mode">
    <strong>Parent/Guardian Contact #</strong>
    <br>{{ semesterShowCtrl.form.data.parent_contact_no }}
  </p>
    <div class="form-group" ng-show="semesterShowCtrl.edit_mode">
    <label><strong>Parent/Guardian Contact #</strong></label>
    <input type="text" ng-model="semesterShowCtrl.form.data.parent_contact_no" class="form-control"/>
  </div>
    </div>

    <div class="col-md-3">
        
      <p ng-hide="semesterShowCtrl.edit_mode" ng-if="!!semesterShowCtrl.form.data.others_contact_no">
    <strong>Other Contact #</strong>
    <br>
      {{ semesterShowCtrl.form.data.others_contact_no }}
  
  </p>
    <div class="form-group" ng-show="semesterShowCtrl.edit_mode">
    <label><strong>Other Contact #</strong></label>
    <input type="text" name="others_contact_no" ng-model="semesterShowCtrl.form.data.others_contact_no" class="form-control"/>
  </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
        <p ng-hide="semesterShowCtrl.edit_mode">
        <strong>Bank</strong> 
        <br>{{ semesterShowCtrl.form.data.resident.bank }}
        
        </p>
       <div class="form-group" ng-show="semesterShowCtrl.edit_mode">
           <label><strong>Bank</strong></label>
           <input type="text" ng-model="semesterShowCtrl.form.data.resident.bank" class="form-control"/>
      </div>
    </div> 
    <div class="col-md-4">
            <p ng-hide="semesterShowCtrl.edit_mode">
        <strong>ATM</strong> 
        <br>{{ semesterShowCtrl.form.data.resident.atm_number }}
        
        </p>
       <div class="form-group" ng-show="semesterShowCtrl.edit_mode">
           <label><strong>ATM</strong></label>
           <input type="text" ng-model="semesterShowCtrl.form.data.resident.atm_number" class="form-control"/>
      </div>
    </div> 
 
  </div>
  <p ng-hide="semesterShowCtrl.edit_mode" ng-if="!!semesterShowCtrl.form.data.father_name">
    <strong>Father Name</strong>: {{ semesterShowCtrl.form.data.father_name }}
  </p>
  <div class="form-group" ng-show="semesterShowCtrl.edit_mode">
    <label><strong>Father Name</strong></label>
      <gc-resident-typeahead
        id-variable="semesterShowCtrl.form.data.father_id"
        collection-variable="semesterShowCtrl.form.data.father"
        ng-model="semesterShowCtrl.form.data.father.full_name">
  </div>
  <p ng-hide="semesterShowCtrl.edit_mode" ng-if="!!semesterShowCtrl.form.data.mother_name">
    <strong>Mother Name</strong>: {{ semesterShowCtrl.form.data.mother_name }}
  </p>
  <div class="form-group" ng-show="semesterShowCtrl.edit_mode">
    <label><strong>Mother Name</strong></label>
        <gc-resident-typeahead
        id-variable="semesterShowCtrl.form.data.mother_id"
        collection-variable="semesterShowCtrl.form.data.mother"
        ng-model="semesterShowCtrl.form.data.mother.full_name">
  </div>
  <p ng-hide="semesterShowCtrl.edit_mode" ng-if="!!semesterShowCtrl.form.data.guardian_name">
    <strong>Guardian Name</strong>: {{ semesterShowCtrl.form.data.guardian_name }}
    
  </p>
    <div class="form-group" ng-show="semesterShowCtrl.edit_mode">
    <label><strong>Guardian Name</strong></label>
         <gc-resident-typeahead
        id-variable="semesterShowCtrl.form.data.guardian_id"
        collection-variable="semesterShowCtrl.form.data.guardian"
        ng-model="semesterShowCtrl.form.data.guardian.full_name">
  </div>

  <p ng-hide="semesterShowCtrl.edit_mode" style="">
    <strong>Remarks</strong>
    <span>
      {{ semesterShowCtrl.form.data.comment }}
    </span>
  </p>
  <div class="form-group" ng-show="semesterShowCtrl.edit_mode">
    <label><strong>Remarks</strong></label>
    <textarea ng-model="semesterShowCtrl.form.data.comment" class="form-control"></textarea> 
  </div>

  <div class="forn-group" ng-show="semesterShowCtrl.edit_mode">
    <button type="submit" ng-click="semesterShowCtrl.update(semesterShowCtrl.form.data)">Update</button>
    <button ng-click="semesterShowCtrl.toggle()">Cancel</button>
  </div>

  </div>
  </div>
 


</div>


