<div class="box">
  <header class="clearfix" style="color: black;">
    <h4 style="margin-left:5px;"> Awards </h4>    
  </header>
  <div class="body">    
    <div>
      <button type="button" ng-click="semesterShowCtrl.addAwardToggle()" class="pull-right">
        <i class="ion-ios-plus-empty"></i> New Awards
      </button>
    </div>
    <div>&nbsp;</div>
    <div>
       <ul class="">
          <li ng-repeat="award in semesterShowCtrl.awards">{{ award.name }} {{ award.year }} - <p>{{ award.remarks }}</p></li>
        </ul>
        <div ng-show="semesterShowCtrl.add_award_toggle">
        <hr>
          <div class="form-inline">
            <div class="form-group">
            <select class="form-control" ng-model="semesterShowCtrl.award_input.award_id">
            <option ng-repeat="award in semesterShowCtrl.list_awards" value="{{ award.id }}">
            {{ award.name }}
            </option>
            </select>
          </div>
          <div class="form-group">
        <gc-year-sets range="5" year-model="semesterShowCtrl.award_input.year">
    </gc-year-sets>
          </div>
          <div class="form-group">
            <textarea ng-model="semesterShowCtrl.award_input.remarks" placeholder="Remarks/Description" class="form-control"></textarea>
          </div>
          </div>
          
        <button type="submit" ng-click="semesterShowCtrl.addAward(semesterShowCtrl.award_input)" class="btn btn-success"><i class="ion-checkmark"></i></button>
        <button ng-click="semesterShowCtrl.addAwardToggle()" class="btn btn-default"><i class="ion-close"></i></button>
      </div>
    </div>
  </div>
</div>