<div class="content-tools pull-right">
    <ng-include src="'/app/affiliations-positions.index/partials/tools-add.html'">
    </ng-include>

    <gc-column-display-dropdown
        key="affiliations-positions"
        columns="positions.columns">
    </gc-column-display-dropdown>

    <ng-include src="'/app/affiliations-positions.index/partials/tools-actions.html'">
    </ng-include>  

    <ng-include src="'/app/affiliations-positions.index/partials/tools-table.html'">
    </ng-include>

    <gc-reload></gc-reload>
</div>
