<div class="content-tools pull-right">
    <ng-include src="'/app/scholarships-subjects/partials/tools-add.html'">
    </ng-include>

    <gc-column-display-dropdown
        key="subjects"
        columns="subjects.columns">
    </gc-column-display-dropdown>

    <ng-include src="'/app/scholarships-subjects/partials/tools-actions.html'">
    </ng-include>  

    <ng-include src="'/app/scholarships-subjects/partials/tools-table.html'">
    </ng-include>

    <gc-reload></gc-reload>
</div>
