<!-- <div class="content-tools pull-right">
  <div class="btn-group" style="width: 150px">
  	<select class="form-control" ng-model="scholarships.__year" ng-change="scholarships.onYearChange()">
      <option value=""> All Years </option>
      <option ng-repeat="set in ysets" value="{{ set + (set + 1) }}">
        {{ set + (set + 1) }}
      </option>
    </select>
  </div>

  <div class="btn-group" style="width: 150px">
    <select class="form-control" ng-model="scholarships.__sem" ng-change="scholarships.onSemChange()">
     <option value=""> All Semesters </option>
     <option value="1">1</option>
     <option value="1">2</option>
   </select>
 </div>
 -->
 <div class="content-tools pull-right">
 <div class="btn-group">
   <tags-input style="min-width : 200px;" ng-model="scholarships._selected_attributes" ng-change="scholarships.onQueryChange()"
   placeholder="Filter By Attributes"
   on-tag-added="scholarships.onQueryChange()"
   on-tag-removed="scholarships.onQueryChange()">
     <auto-complete source="scholarships.loadAttribute($query)"></auto-complete>
  </tags-input>
</div>

<div class="btn-group">
  <select class="form-control" ng-model="scholarships._selected_affiliation" ng-change="scholarships.onQueryChange()">
  <option value="" disabled selected>Filter by Affiliation</option>
    <option value="null"> All </option>
    <option ng-repeat="affiliation in scholarships.affiliations" value="{{ affiliation.name }}">
      {{ affiliation.name }}
    </option>
  </select>
</div>
    <ng-include src="'/app/scholarships/partials/tools-add.html'">
    </ng-include>

  <button type="button" ng-click="scholarships.$reset()" class="btn btn-warning">
    Inactivate Scholarship
  </button>

    <gc-column-display-dropdown
        key="scholarships"
        columns="scholarships.columns">
    </gc-column-display-dropdown>

    <ng-include src="'/app/scholarships/partials/tools-actions.html'">
    </ng-include>

    <ng-include src="'/app/scholarships/partials/tools-table.html'">
    </ng-include>

    <gc-reload></gc-reload>
</div>
