<div class="btn-group">
  <a href="" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
    Actions <span class="caret"></span>
  </a>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
  	<li> <a href="" ng-click="scholarships.$report('spreadsheet')" target="_blank"> Export List to Excel </a> </li>
    <li> <a href="/api/v1/scholarships/masterlist/spreadsheet?filters={{ scholarships._filter_.filters }}" target="_blank"> Generate Masterlist </a> </li>
    <li><a href="" ng-click="scholarships.remove()">Delete</a></li>
    <li><a href="" ng-click="scholarships.$bulkStatus()">Bulk Set Status</a></li>
    <li><a href="" ng-click="scholarships.$reset()">Inactivate Scholarship</a></li> 
  </ul>
</div>
