<div class="btn-group">
  <a href="" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
    Actions <span class="caret"></span>
  </a>
  
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
  <li>
  	<a href="" ng-click="semestersList.$report('spreadsheet')">
  		Export List to Excel
  	</a>
  </li>
  <li class="separator"></li>
    <li><a href="" ng-click="semestersList.remove()">Remove selected</a></li>
    <li class="separator"></li>

  </ul>
</div>