<div class="modal-header clearfix">
    <h3 class="modal-title pull-left">Transaction Details</h3>
    <h5 class="pull-right" tooltip="Date created">
      <i class="ion-edit" style="color: rgb(99, 200, 244);"></i>
      {{ detailsCtrl.form.data.created_at | timestamp | date: 'mediumDate' }}
    </h5>
</div>

<div class="modal-body">
  <div class="row" style="padding:15px;">
    <div class="col-md-6">

      <div class="form-group" ng-if="detailsCtrl.form.data.client_type == 'Affiliation'">
        <p class="form-control-static" style="padding-bottom: 0px; border-bottom: 1px dashed #ddd; display: inline-block;">
          <strong>{{ detailsCtrl.form.data.client.name }}</strong>
        </p>
        <label style="display: block;"> Client (Affiliation) </label>
      </div>
      <div class="form-group" ng-if="detailsCtrl.form.data.client_type == 'Resident'">
        <h3 style="margin-left: 18px;"> Client </h3>
        <div class="clearfix">
          <img ng-src="{{ detailsCtrl.form.data.client.profilePic }}" width="100" height="100" holder-fix fallback-src="fallback.gif" ng-hide="!detailsCtrl.form.data.client.profilePic" class="pull-left" style="border-radius: 50%;">
          <img class="pull-left" src="holder.js/100x100" holder-fix ng-show="!detailsCtrl.form.data.client.profilePic" class="pull-left" style="border-radius: 50%;">

          <div class="pull-left" style="margin-left: 10px; margin-top: 10px;">
           <h4 style="margin-bottom: 2px;"><strong>{{ detailsCtrl.form.data.client.full_name }}</strong><br /></h4>
           <h4 style="margin-bottom: 2px; margin-top: 0;"><small>{{ detailsCtrl.form.data.client.barangay }}, {{ detailsCtrl.form.data.client.district }}</small></h4>
           <h4 style="margin-bottom: 2px; margin-top: 0;"><small>{{ detailsCtrl.form.data.client.cityMunicipality }}</small></h4>
          </div>
        </div>
      </div>

      <div class="form-group">
        <p class="form-control-static" style="padding-bottom: 0px; border-bottom: 1px dashed #ddd; display: inline-block;">
          <strong>{{ detailsCtrl.form.data.voucher.uuid }}</strong>
        </p>
        <label style="display: block;">Voucher #</label>
      </div>
      <div class="form-group">
        <div style="padding-bottom: 0px; border-bottom: 1px dashed #ddd; display: inline-block;">
          <div class="row">
            <div class="col-md-6"> <h4 style="margin-bottom: 0;"> {{ detailsCtrl.form.data.category.name }} </h4> </div>
            <div class="col-md-6"> <h4 style="margin-bottom: 0;"> {{ detailsCtrl.form.data.sub_category.name }} </h4> </div>
          </div>

          <div class="row">
            <div class="col-md-6"> <h5 style="margin-top: 0;"> <small>(Category)</small> </h5> </div>
            <div class="col-md-6"> <h5 style="margin-top: 0;"> <small>(Sub-Category)</small> </h5> </div>
          </div>
        </div>
        <label style="display: block;"> Particulars </label>
      </div>

      <div class="form-group">
        <p class="form-control-static" style="padding-bottom: 0px; border-bottom: 1px dashed #ddd; display: inline-block;">
          PHP {{ detailsCtrl.form.data.amount | money }}
        </p>
        <label style="display: block;"> <strong>Amount</strong> </label>
      </div>

      <div>
        <div>
          <span ng-if="!!detailsCtrl.form.data.settled_at.length && !detailsCtrl.form.data.settled_at !== null">
            <i class="ion-checkmark-circled" style="color: green;"></i>&nbsp;
            Settled on <strong>{{ detailsCtrl.form.data.settled_at | timestamp | date: 'mediumDate' }}</strong>
          </span>

          <span ng-if="!detailsCtrl.form.data.settled_at.length || detailsCtrl.form.data.settled_at == null">
            <i class="ion-close-circled" style="color: red;"></i> Unsettled
          </span>
        </div>

        <div>
          <span ng-if="!!detailsCtrl.form.data.liquidatable">
            <span ng-if="!!detailsCtrl.form.data.liquidated_at.length && detailsCtrl.form.data.liquidated_at !== null">
              <i class="ion-checkmark-circled" style="color:blue;"></i>&nbsp;
              Liquidated on <strong>{{ detailsCtrl.form.data.liquidated_at | timestamp | date: 'mediumDate' }}</strong>
              &nbsp;(<a href="#" ng-click="detailsCtrl.$viewLiquidation()">View details</a>)
            </span>
            <span ng-if="!detailsCtrl.form.data.liquidated_at.length || detailsCtrl.form.data.liquidated_at == null">
              <i class="ion-close-circled" style="color: red;"></i> Not yet liquidated
            </span>
          </span>

          <span ng-if="!detailsCtrl.form.data.liquidatable">
            <i class="ion-alert-circled" style="color: rgb(255, 136, 20);"></i> Non-Liquidatable
          </span>
        </div>
      </div>

      <div ng-if="!!detailsCtrl.form.data.refund && detailsCtrl.form.data.refund !== null && detailsCtrl.form.data.refund !== ''">
        <i class="ion-checkmark-circled" style="color: rgb(255, 136, 20);"></i> Refunded
      </div>
      <div ng-if="!detailsCtrl.form.data.refund">
        <span ng-if="detailsCtrl.form.data.type == 'expense' && !!detailsCtrl.form.data.settled_at.length && !detailsCtrl.form.data.liquidated_at.length && !detailsCtrl.form.data.refund">
          <i class="ion-checkmark-circled" style="color: green;"></i> Refundable
        </span>

        <span ng-if="detailsCtrl.form.data.type !== 'expense' || !detailsCtrl.form.data.settled_at.length || detailsCtrl.form.data.refund">
          <i class="ion-close-circled" style="color: rgb(255, 136, 20);"></i> Non-Refundable
        </span>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group" ng-if="detailsCtrl.form.data.beneficiary_type == 'Affiliation'">
        <p class="form-control-static" style="padding-bottom: 0px; border-bottom: 1px dashed #ddd; display: inline-block;">
          <strong>{{ detailsCtrl.form.data.beneficiary.name }}</strong>
        </p>
        <label style="display: block;">Beneficiary (Affiliation) </label>
      </div>

      <div class="form-group" ng-if="detailsCtrl.form.data.beneficiary_type == 'Resident'">
        <h3 style="margin-left: 18px;"> Beneficiary </h3>
        <div class="clearfix">
          <img ng-src="{{ detailsCtrl.form.data.beneficiary.profilePic }}" width="100" height="100" ng-hide="!detailsCtrl.form.data.beneficiary.profilePic" class="pull-left" style="border-radius: 50%;" fallback-src>

          <img class="pull-left" src="holder.js/100x100" holder-fix ng-show="!detailsCtrl.form.data.beneficiary.profilePic" class="pull-left" style="border-radius: 50%;">

          <div class="pull-left" style="margin-left: 10px; margin-top: 10px;">
           <h4 style="margin-bottom: 2px;"><strong>{{ detailsCtrl.form.data.beneficiary.full_name }}</strong><br /></h4>
           <h4 style="margin-bottom: 2px; margin-top: 0;"><small>{{ detailsCtrl.form.data.beneficiary.barangay }}, {{ detailsCtrl.form.data.beneficiary.district }}</small></h4>
           <h4 style="margin-bottom: 2px; margin-top: 0;"><small>{{ detailsCtrl.form.data.beneficiary.cityMunicipality }}</small></h4>
          </div>
        </div>
      </div>

      <div class="form-group">
        <p class="form-control-static" style="padding-bottom: 0px; border-bottom: 1px dashed #ddd; display: inline-block;">
          <strong>{{ detailsCtrl.form.data.item.name }}</strong>
        </p>
        <label style="display: block;"> Item </label>
      </div>

      <div class="form-roup">
        <h5 style="margin-bottom: 0; margin-top: 0;"> <small> {{ detailsCtrl.form.data.vendor.barangay }}, {{ detailsCtrl.form.data.vendor.district }} </small> </h5>
        <h5 style="margin-bottom: 0; margin-top: 0;"> <small> {{ detailsCtrl.form.data.vendor.cityMunicipality }} </small> </h5>
        <p class="form-control-static" style="padding-bottom: 0px; border-bottom: 1px dashed #ddd;">
          <strong> {{ detailsCtrl.form.data.vendor.name }} </strong>
        </p>
        <label style="display: block;"> Vendor </label>
      </div>

      <div class="form-group">
        <p class="form-control-static" style="padding-bottom: 0px; border-bottom: 1px dashed #ddd; display: inline-block;">
          <span ng-if="!!detailsCtrl.form.data.remarks.length"><strong>{{ detailsCtrl.form.data.remarks }}</strong></span>
          <h5 style="margin-top: 0; margin-bottom: 0;" ng-if="!detailsCtrl.form.data.remarks.length"><small>(None)</small></h5>
        </p>
        <label style="display: block;"> Remarks </label>
      </div>

      <div class="form-group">
        <p class="form-control-static" style="padding-bottom: 0px; border-bottom: 1px dashed #ddd; display: inline-block;">
          <span ng-if="!!detailsCtrl.form.data.details.length"><strong>{{ detailsCtrl.form.data.details }}</strong></span>
          <h5 style="margin-top: 0; margin-bottom: 0;" ng-if="!detailsCtrl.form.data.details.length"><small>(None)</small></h5>
        </p>
        <label style="display: block;"> Details </label>
      </div>

      <div class="form-group">
        <p class="form-control-static" style="padding-bottom: 0px; border-bottom: 1px dashed #ddd; display: inline-block;">
          <strong>{{ detailsCtrl.form.data.type | capitalize  }}</strong>
        </p>
        <label style="display: block;"> Transaction Type </label>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <a ui-sref="transactions.voucher-show({ voucher_id: detailsCtrl.form.data.voucher.id })"
    class="pull-left btn btn-primary"
    ng-click="$close()">
    View Voucher
  </a>

  <button class="btn btn-default pull-left" href="#" type="button" ng-click="$close()">
    Close
  </button>


<button type="button"
    class="btn btn-primary"
    ng-click="detailsCtrl.$edit()"
     ng-disabled="detailsCtrl.isSettleLoading"
     ng-if="!detailsCtrl.form.data.settled_at.length || detailsCtrl.form.data.settled_at == null"
     >
    Edit Transaction
  </button> 

<button type="button"
    class="btn btn-primary"
    ng-click="detailsCtrl.$edit()"
     ng-disabled="detailsCtrl.isSettleLoading"
     ng-if="!!detailsCtrl.form.data.settled_at.length && detailsCtrl.form.data.settled_at !== null"
     ss-has-permission="transaction_system.override_edit"
     >
    Edit Transaction
  </button> 
  <button type="button"
    class="btn btn-info"
    ng-click="detailsCtrl.$liquidate()"
    ng-if="!!detailsCtrl.form.data.liquidatable && (!detailsCtrl.form.data.liquidated_at.length || detailsCtrl.form.data.liquidated_at == null) && (!!detailsCtrl.form.data.settled_at.length && detailsCtrl.form.data.settled_at !== null)"> 
    Liquidate
  </button>

  <button class="btn btn-warning"
    ng-click="detailsCtrl.$refund()"
    ng-if="!!detailsCtrl.form.data.settled_at.length && detailsCtrl.form.data.type == 'expense' && !detailsCtrl.form.data.liquidated_at.length && !detailsCtrl.form.data.refund">
    Refund
  </button>

  <button type="button"
    class="btn btn-success"
    ng-click="detailsCtrl.$settle()"
    ng-if="!detailsCtrl.form.data.settled_at.length || detailsCtrl.form.data.settled_at == null">
    <i class="ion-checkmark-circle" style="color: green;"></i>
    Settle
  </button>
</div>
