<div class="modal-header">
  Update Release
</div>

<div class="modal-body">
  <div class="row form-group">
    <section class="col-md-6">
      <label> School Year </label>
      <gc-year-sets range="5" year-model="editCtrl.data.school_year" disabled="true">
      </gc-year-sets>
    </section>

    <section class="col-md-6">
      <label> Term </label>
      <select ng-model="editCtrl.data.term" class="form-control" disabled="disabled">
        <option value="{{ _term }}" ng-repeat="_term in [1, 2, 3]" ng-selected="editCtrl.data.term == _term">
          {{ _term }}
        </option>
      </select>
    </section>
  </div>

  <div class="row form-group">
    <div class="col-md-6">
      <label> Scholarship Types </label>

      <select ng-model="editCtrl.data.scholarship_types" class="form-control" multiple="multiple" disabled="disabled">
        <option ng-repeat="type in editCtrl.types" value="{{ type.id }}">
          {{ type.name }}
        </option>
      </select>
    </div>

    <div class="col-md-6">
      <div>
        <label style="display: block;">&nbsp;</label>
        <label>
          <input type="checkbox" ng-model="editCtrl.data.fixed_amount" ng-true-value="1" disabled="disabled">
          <span style="margin-left: 5px;"> Fixed Amount </span>
        </label>
      </div>

      <div ng-if="editCtrl.data.fixed_amount">
        <label> Amount </label>
        <input type="number" step="1" ng-model="editCtrl.data.amount" class="form-control" disabled="disabled">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label> Expiration Date </label>
      <input
          placeholder="Click to open datepicker"
          class="form-control"
          disabled="disabled">
    </div>
  </div>
</div>

<div class="modal-footer clearfix">
  <button type="button" ng-click="$close()" class="btn btn-default pull-left">Close</button>
</div>