<div style="margin-top: 50px; width: 768px; margin-left: auto; margin-right: auto;">
  <div style="width: 250px; margin-left: auto; margin-right: auto;" class="form-group">
    <select class="form-control" ng-model="selected">
      <option>Select a module..</option>
      <option ng-repeat="module in modules" value="{{ module }}">
        {{ $moduleTitle(module) }}
      </option>
    </select>
  </div>

  <div ng-repeat="module in modules">
    <div ng-if="selected == module" gc-history-table="{{ apis[module] }}"></div>
  </div>
</div>