<ng-include src="'/app/scholarships-awards.create/partials/modal-header.html'">
</ng-include>

<form ng-submit="createCtrl.create(createCtrl.form.data)">
  <div class="modal-body">
    <div class="error text-danger">{{ error }}</div>

    <div class="form-group">
      <label>Name</label>
      <input placeholder="Enter award name..." type="text" class="form-control" ng-model="createCtrl.form.data.name">
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea placeholder="Enter description...." class="form-control" ng-model="createCtrl.form.data.description"></textarea>
    </div>
    <div class="form-group">
      <label> Attribution Name </label>
      <input type="text" class="form-control" ng-select="createCtrl.$onChangeAttribute(createCtrl.form.data.attributions)" typeahead-on-select="createCtrl.$onChangeAttribute(createCtrl.form.data.attributions)" ng-model="createCtrl.form.data.attributions" typeahead="item.name for item in createCtrl.$attrRequest($viewValue)" />
        </div>
    </div>
  </div>

  <ng-include src="'/app/scholarships-awards.create/partials/modal-footer.html'">
  </ng-include>
</form>