<tr>
    <th colspan="1" width="1%"></th>
    <th ng-repeat="col in columns" lr-drag-src="headers" lr-drop-target="headers" ng-repeat="col in columns" st-sort="{{col.sort === false ? undefined : col.key}}">{{ col.label }}</th>
</tr>
<tr>
    <th> <input type="checkbox" class="form-control input-sm" st-control="users"></th>
    <th ng-repeat="col in columns"> <input type="text" class="form-control" st-search="col.key" ng-class="{disabled: col.search}"></th>
</tr>