<div class="modal-header">
  <h3 class="modal-title">Create Positions</h3>
</div>   

<form ng-submit="createCtrl.$create(createCtrl.data)">
  <div class="modal-body">
    <div class="row form-group">
      <section class="col-md-6">
        <label>Name</label>
        <input placeholder="Enter position..." type="text" class="form-control" ng-model="createCtrl.data.name">
      </section>

      <section class="col-md-6">
        <label> Attribution Name </label>
        <input type="text" class="form-control" ng-model="createCtrl.data.attributions" typeahead="item.name for item in createCtrl.$attrRequest($viewValue)" />
      </section>
    </div>
  </div>

  <div class="modal-footer">
    <aside class="clearfix">
      <button
        type="submit"
        class="btn btn-primary pull-right"
        ng-disabled="createCtrl.isLoading">
        Create Position
      </button>

      <span ng-if="createCtrl.isLoading" class="pull-right">
        <pulse-spinner></pulse-spinner>
      </span>

      <button
        type="button"
        class="btn btn-warning pull-left"
        ng-click="$close()">
        Cancel
      </button>
    </aside>
  </div>
</form>