<div class="modal-footer clearfix">
  <button class="btn btn-primary pull-right" type="submit" http-loader="editCtrl.isLoading">
    Update
  </button>
  
  <button class="btn btn-warning pull-left" type="button" ng-click="$close()">
    Cancel
  </button>
</div>