<ng-include src="'/app/scholarships-types.edit/partials/modal-header.html'"></ng-include>

<form srph-xhr="scholarshiptypes/{{ editCtrl.form.data.id }}"
  request-type="put"
  request-data="editCtrl.form.data"
  request-success="editCtrl.successXHRCallback"
  request-error="editCtrl.errorXHRCallback">

  <div class="modal-body">
    <div class="error text-danger">{{ error }}</div>

      <div class="form-group">
        <label>Name</label>
        <input placeholder="Enter type name..." type="text" class="form-control" ng-model="editCtrl.form.data.name">
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea name="description" ng-model="editCtrl.form.data.description" class="form-control" placeholder="Enter short description...">
        </textarea>
      </div>

      <div class="form-group">
        <label>Initial Allowance</label>
        <input placeholder="PHP" type="text" class="form-control" ng-model="editCtrl.form.data.initial_allowance">
      </div>
      <div class="form-group">
        <label>Probationary Scholar Allowance</label>
        <input placeholder="PHP" type="text" class="form-control" ng-model="editCtrl.form.data.probation_amount">
      </div>
    </div>
  </div>

  <ng-include src="'/app/scholarships-types.edit/partials/modal-footer.html'">
  </ng-include>
</form>