<div class="modal-header">
    <h3 class="modal-title">Add user</h3>
</div>
<div class="modal-body">
    <div class="error text-danger">{{ error }}</div>
    <form ng-submit="createUser()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input id="username" placeholder="Enter username" type="text" class="form-control" ng-model="form.data.username">
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input id="password" placeholder="Enter password" type="password" class="form-control" ng-model="form.data.password">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="group">Group:</label>
                    <select id="group" class="form-control" ng-model="form.data.group_id">
                        <option ng-repeat="group in groups" value="{{ group.id }}">{{ group.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="confirm_password">Confirm Password:</label>
                    <input id="confirm_password" placeholder="Confirm password" type="password" class="form-control" ng-model="form.data.password_confirmation">
                </div>
            </div>
        </div>

        <fieldset>
            <legend>Permissions</legend>
            <div class="text-right">
                <div class="btn-group">
                    <a href="" class="btn btn-default btn-xs" ng-click="inheritAllPermissions()">Inherit from group</a>
                </div>
                <div class="btn-group">
                    <a href="" class="btn btn-default btn-xs" ng-click="allowAllPermissions()">Allow all</a>
                </div>
                <div class="btn-group">
                    <a href="" class="btn btn-default btn-xs" ng-click="resetAllPermissions()">Reset</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" ng-repeat="(component, items) in permissions">
                    <h5>{{ component }}</h5>
                    <div class="checkbox m-sm-l" ng-repeat="item in items">
                        <label>
                            <input type="checkbox" tri-state-checkbox="item.status">
                            {{ item.functionality }}
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="addUser(credentials)">Add</button>
    <button class="btn btn-warning" ng-click="$dismiss('cancel')">Cancel</button>
</div>