<div class="modal-header">
    <h3 class="modal-title">Add household</h3>
</div>
<div class="modal-body">
    <div class="error text-danger">{{ error }}</div>
    <form ng-submit="addHousehold()">
        <div class="col-md-6">
            <fieldset>
                <legend>Basic</legend>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="label">Label</label>
                        <input id="label" type="text" class="form-control" ng-model="form.data.label">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="owner">Owner</label>
                        <input id="owner" type="text" class="form-control" ng-model="form.data.owner">
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Contact</legend>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="telephone">Telephone:</label>
                        <input id="telephone" type="text" class="form-control" ng-model="form.data.telephone">
                    </div>
                    <div class="form-group">
                        <label for="city">City:</label>
                        <input id="city" type="text" class="form-control" ng-model="form.data.city">
                    </div>
                    <div class="form-group">
                        <label for="municipality">Municipality:</label>
                        <input id="municipality" type="text" class="form-control" ng-model="form.data.municipality">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="barangay">Barangay:</label>
                        <input id="barangay" type="text" class="form-control" ng-model="form.data.barangay">
                    </div>
                    <div class="form-group">
                        <label for="street">Street:</label>
                        <input id="street" type="text" class="form-control" ng-model="form.data.street">
                    </div>
                    <div class="form-group">
                        <label for="purok">Purok</label>
                        <input id="purok" type="text" class="form-control" ng-model="form.data.purok">
                    </div>
                </div>
            </fieldset>
        </div>
        <fieldset class="col-md-6">
            <legend>Members</legend>
            <ul>
                <li>member 1</li>
                <li>member 2</li>
                <li>member 3</li>
            </ul>
        </fieldset>

    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="addUser(credentials)">Add</button>
    <button class="btn btn-warning" ng-click="$dismiss('cancel')">Cancel</button>
</div>