<div class="modal-header">
    <h3 class="modal-title">Create group</h3>
</div>
<div class="modal-body">
    <div class="error text-danger">{{ error }}</div>
    <form ng-submit="createGroup()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input id="name" placeholder="Enter name" type="text" class="form-control" ng-model="form.data.name">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input id="description" placeholder="Brief description" type="text" class="form-control" ng-model="form.data.description">
                </div>
            </div>
        </div>

        <fieldset>
            <legend>Permissions</legend>
            <div class="text-right">
                <div class="btn-group">
                    <a href="" class="btn btn-default btn-xs" ng-click="allowAllPermissions()">Allow all</a>
                </div>
                <div class="btn-group">
                    <a href="" class="btn btn-default btn-xs" ng-click="resetAllPermissions()">Reset</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" ng-repeat="(component, items) in permissions">
                    <h5>{{ component }}</h5>
                    <div class="checkbox m-sm-l" ng-repeat="item in items">
                        <label>
                            <input type="checkbox" ng-checked="item.status">
                            {{ item.functionality }}
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="addUser(credentials)">Create</button>
    <button class="btn btn-warning" ng-click="$dismiss('cancel')">Cancel</button>
</div>