<script type="text/ng-template" id="customTemplate.html">
  <a>
        <div class="row">
             <div class="col-md-2" style="padding:0">
                 <img ng-src="{{match.model.profilePic}}" width="50px" height="50px" ng-hide="!match.model.profilePic">
                 <img class="pull-left" src="holder.js/50x50" holder-fix ng-show= "!match.model.profilePic">
              </div>

              <div class="col-md-9">
                <span bind-html-unsafe="match.model.full_name | typeaheadHighlight:query"></span><br>
                <span  style="font-size: 9px; font-style: italic;">{{ match.model.street }}{{ match.model.barangay }}</span><br>
                <span  style="font-size: 9px; font-style: italic;">{{ match.model.cityMunicipality }}</span>
              </div>
        </div>

 

  </a>
</script>

<div class="modal-header">
    <h3 class="modal-title">New Affiliation</h3>
</div>
    <form ng-submit="createAffiliation()">
<div class="modal-body">
    <div class="error text-danger">{{ error }}</div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input id="name" placeholder="Enter Affiliation Name" type="text" class="form-control" ng-model="form.data.name">
                    <span class="help-block"><i>eg. Nueva Ecija Youth Club</i></span>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea id="description" ng-model="form.data.description" class="form-control" name="" ></textarea>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="founder">Founder:</label>
    
                    <input id="founder" type="text" class="form-control" type="text" ng-model="form.data.founder_full_name" placeholder="Founder" typeahead="resident.full_name for resident in getResidents($viewValue)" typeahead-template-url="customTemplate.html" typeahead-on-select="onSelect($item, $model, $label)" class="form-control">
                    <input type="hidden" ng-model="form.data.founder" >
                </div>
                <div class="form-group">
                    <label for="founded">Founded:</label>
                    <div class="input-group">
                        <input ui-date class="form-control" ng-model="form.data.founded" id="founded">
                        <span class="input-group-addon"><i class="ion-calendar"></i></span>
                    </div>
                </div>
            </div>
        </div>

<!--         <fieldset>
            <legend>Members</legend>
            <ul>
                <li>Member 1</li>
                <li>Member 2</li>
                <li>Member 3</li>
            </ul>
        </fieldset> -->



</div>
<div class="modal-footer">
        <input type="submit" value="Add" class="btn btn-primary" >
    <a href="#" class="btn btn-default" ng-click="$dismiss('cancel')">Cancel</a>
</div>
</form>