<div class="modal-header">
    <h3 class="modal-title">New transaction</h3>
</div>
<div class="modal-body">
    <div class="error text-danger">{{ error }}</div>
    <form ng-submit="newTransaction()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="client">Client:</label>
                    <input id="client" placeholder="Enter client" type="text" class="form-control" ng-model="form.data.client">
                </div>
                <div class="form-group">
                    <label for="referrer">Referrer:</label>
                    <input id="referrer" placeholder="Enter maternal name" type="text" class="form-control" ng-model="form.data.referrer">
                </div>
                <div class="form-group">
                    <label for="beneficiary">Beneficiary:</label>
                    <input id="beneficiary" placeholder="Enter maternal name" type="text" class="form-control" ng-model="form.data.beneficiary">
                </div>
                <div class="form-group">
                    <label for="item">Item:</label>
                    <input id="item" placeholder="Enter maternal name" type="text" class="form-control" ng-model="form.data.item">
                </div>
                <div class="form-group">
                    <label for="item_category">Item category:</label>
                    <input id="item_category" placeholder="Enter maternal name" type="text" class="form-control" ng-model="form.data.item_category">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="account">Account:</label>
                    <input id="account" type="text" class="form-control" ng-model="form.data.account">
                </div>
                <div class="form-group">
                    <label for="status">Status:</label>
                    <input id="status" type="text" class="form-control" ng-model="form.data.status">
                </div>
                <div class="form-group">
                    <label for="category">Category:</label>
                    <input id="category" type="text" class="form-control" ng-model="form.data.category">
                </div>
                <div class="form-group">
                    <label for="founded">From:</label>
                    <div class="input-group">
                        <input ui-date class="form-control" id="founded">
                        <span class="input-group-addon"><i class="ion-calendar"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="to">To:</label>
                    <div class="input-group">
                        <input ui-date class="form-control" id="to">
                        <span class="input-group-addon"><i class="ion-calendar"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="addUser(credentials)">Create</button>
    <button class="btn btn-warning" ng-click="$dismiss('cancel')">Cancel</button>
</div>