<div class="modal-header">
    <h3 class="modal-title">Household details</h3>
</div>
<div class="modal-body">
    <div class="error text-danger">{{ error }}</div>
    <form ng-submit="addHousehold()">
        <div class="col-md-6">
            <fieldset>
                <legend>Basic</legend>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="label">Label</label>
                        <input id="label" type="text" class="form-control" ng-model="form.data.label">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="owner">Owner</label>
                        <input id="owner" type="text" class="form-control" ng-model="form.data.owner.name">
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Contact</legend>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="telephone">Telephone</label>
                        <input id="telephone" type="text" class="form-control" ng-model="form.data.phone">
                    </div>
                    <div class="form-group">
                        <label for="municipality">Municipality</label>
                        <input id="municipality" type="text" class="form-control" ng-model="form.data.address.municipality">
                    </div>
                    <div class="form-group">
                        <label for="barangay">Barangay</label>
                        <input id="barangay" type="text" class="form-control" ng-model="form.data.address.barangay">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="street">Street</label>
                        <input id="street" type="text" class="form-control" ng-model="form.data.address.street">
                    </div>
                    <div class="form-group">
                        <label for="purok">Purok</label>
                        <input id="purok" type="text" class="form-control" ng-model="form.data.address.purok">
                    </div>
                </div>
            </fieldset>
        </div>
        <fieldset class="col-md-6">
            <input type="text" id="member" class="form-control" ng-model="form.data.newmember">

            <legend>Members</legend>
            <ul>
                <li ng-repeat="member in form.data.members">{{ member.name }}</li>
            </ul>
        </fieldset>

    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-warning" ng-click="$dismiss('cancel')">Cancel</button>
</div>