<div class="modal-header">
    <h3 class="modal-title">Resident details</h3>
</div>
<div class="modal-body show-resident">
    <div class="error text-danger">{{ error }}</div>
    <form autocomplete="off">
      <div class="row">


    <div class="col-md-12">
        <div class="media">
            <span class="pull-left">
              <label for="profile_image">
                            <img class="img-thumbnail" alt="Resident profile image" ng-src="{{ form.data.profilePic }}" ng-show="form.data.profilePic && !uploader.queue.length && !webcamImage">
                            <img class="img-thumbnail" alt="Resident profile image" src="holder.js/120x120" holder-fix ng-hide="form.data.profilePic || !!uploader.queue.length || !!webcamImage">
                            <div class="img-thumbnail" ng-repeat="item in uploader.queue" ng-thumb="{ file: item._file, width: 120, height: 120 }" ng-hide="!!webcamImage"></div>
                            <img class="img-thumbnail" alt="Resident profile image" ng-src="{{webcamImage}}" ng-show="!!webcamImage">
                </label>
                    <div class="form-group text-center">
                        <button class="btn btn-info btn-sm" ng-click="takePicture()"><i class="ion-social-instagram-outline"></i> Take picture</button>
                    </div>

            </span>
            <div class="media-body">
                <h4 class="media-heading">{{ form.data.last_name }}, {{ form.data.first_name }} {{ form.data.middle_name }}</h4>
                <h5>{{ form.data.street }} {{ form.data.barangay }} {{ form.data.cityMunincipality }} {{ form.data.district }} </h5>
                <hr style="margin:8px auto">

                <div>Gender : {{ form.data.gender }}</div>
                <div>Civil Status : {{ form.data.civil_status }}</div>
                <div>Birthdate : {{ form.data.birthdate }}</div>
                <div>Mobile Number : {{ form.data.mobile }}</div>
                <div>Phone Number : {{ form.data.phone }}</div>
                <div>Email :  {{ form.data.email }}</div>
            </div>
        </div>

    </div>
    
    <div class="col-md-12">
        <tabset>
            <tab heading="Attributes" class="tab-primary">
            <button class="pull-right btn btn-success"><span class="fa fa-plus"></span>Add Attributes</button>
            <table class="table">
                <thead>
                    <tr>
                        <th>Affiliation</th>
                        <th>Designation</th>
                        <th>Status</th>
                        <th>Date Appointed</th>
                        <th>Remarks</th>
                        <th>Referrer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Barangay Consolation Tricycle Driver's Assoc asdasdasdas</td>
                        <td>President sadasd</td>
                        <td>A</td>
                        <td>10/12/1992 </td>
                        <td>Good Leader adasda sdasdas dasdas dasda  asdasdasdas asdas das das das das dsa dasdasdas das das das</td>
                        <td>Ryan Navarozza</td>
                    </tr> 
                    </tr>
                </tbody>
            </table>
            </tab>
            <tab heading="Transactions" class="tab-primary">
            <table class="table">
                <thead>
                    <tr>
                        <th>Affiliation</th>
                        <th>Designation</th>
                        <th>Status</th>
                        <th>Date Appointed</th>
                        <th>Remarks</th>
                        <th>Referrer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            </tab>
            <tab heading="HouseHolds" class="tab-primary">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Full Name</th>
                        <th>Age</th>
                    
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        <div class="text-center">
                            <img src="holder.js/60x60" holder-fix class="img img-circle" alt="">
 
                        </div>
                        </td>
                        <td>Mark Joseph Penaranda</td>
                        <td>17</td>
                    </tr>
                      <tr>
                        <td>
                        <div class="text-center">
                            <img src="holder.js/60x60" holder-fix class="img img-circle" alt="">
                            
                        </div>
                        </td>
                        <td>Mark Joseph Penaranda</td>
                        <td>17</td>
                    </tr>
                      <tr>
                        <td>
                        <div class="text-center">
                            <img src="holder.js/60x60" holder-fix class="img img-circle" alt="">
                            
                        </div>
                        </td>
                        <td>Mark Joseph Penaranda</td>
                        <td>17</td>
                    </tr>
                </tbody>
            </table>
            </tab>  
            <tab>
            <tab-heading class="tab-primary">
            MQTY <span class="badge">42</span>
            </tab-heading>
            <div class="table-responsive">
            <table class="table table-striped">
               
            </table>
            </div>
        </tab>
        <tab>
            <tab-heading class="tab-primary">
            LQTY <span class="badge">32</span>
            </tab-heading>
            <table class="table">
                <thead>
                    <tr>
                        <th>Affiliation</th>
                        <th>Designation</th>
                        <th>Status</th>
                        <th>Date Appointed</th>
                        <th>Remarks</th>
                        <th>Referrer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </tab>
        </tabset>       
    </div>

    

</div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()" http-loader="isLoading">Save</button>
    <button class="btn btn-warning" ng-click="$dismiss('close')">Close</button>
</div>