<div class="content-tools pull-right">
  <div class="btn-group">
    <a ui-sref="scholarships-courses.create" class="btn btn-primary">
      <i class="ion-ios7-plus-empty"></i>
      New Course
    </a>
  </div>

  <gc-column-display-dropdown
      key="courses"
      columns="courses.columns">
  </gc-column-display-dropdown>

  <div class="btn-group">
    <a href="" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      Actions <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <li><a href="" ng-click="courses.remove()">Remove selected</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-cog"></i> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <li>
        <a href="#" gc-reset-table-settings="courses" defaults="COURSES_COLUMNS" columns="courses.columns">
          Reset Table Columns
        </a>
      </li>
    </ul>
  </div>

  <gc-reload></gc-reload>
</div>
