<div class="modal-footer">
  <button class="btn btn-primary" type="submit" http-loader="isLoading">
    Update
  </button>

  <button class="btn btn-warning" type="button" ng-click="$dismiss('cancel')">
    Close
  </button>
</div>