.gc-animate.ng-enter {
 -webkit-transition: .2s linear all; /* Safari/Chrome */
 transition: .2s linear all; /* All other modern browsers and IE10+ */
 // -webkit-transition: all .125s cubic-bezier(1.000, -0.530, 0.405, 1.425);
 // transition: all .125s cubic-bezier(1.000, -0.530, 0.405, 1.425);
 /* The animation preparation code */
 opacity: 0;
}

/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.gc-animate.ng-enter.ng-enter-active {
 /* The animation code itself */
 opacity: 1;
}