<ng-include src="'/app/transactions.accounts/partials/header.html'"></ng-include>
<ng-include src="'/app/transactions.accounts/partials/tools.html'"></ng-include>

<div style="overflow: scroll; height: 82vh; width: 100%;"
  srph-infinite-scroll="accounts.getPage('next')"
  disabled="accounts.collection.paging.next == undefined"
  threshold="200"
  throttle="0"
  container="true">
<table st-table="transactions" class="table table-hover table-clickable" st-pipe="accounts.callServer">
  <thead>
    <tr>
      <th colspan="1" width="1%"></th>
      <th lr-drag-src="headers"
        lr-drop-target="headers"
        ng-repeat="col in accounts.columns"
        ng-show="col.show"
        resizable
        r-directions="['right']">
          <span class="text-center" style="display: block" st-sort="{{:: col.key }}">{{:: col.label }}</span>
      </th>
    </tr>
    
    <tr>
      <th>
        <input type="checkbox"
          class="form-control input-sm"
          st-control="accounts.collection">
      </th>

      <th ng-repeat="col in accounts.columns track by $index"
        ng-show="col.show">
        <input type="text"
          class="form-control input-sm"
          st-search="col.key" id="search-{{col.key}}"
          ng-if="col.key !== 'account.id'">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr cs-select="accounts.details" ng-repeat="account in accounts.collection" class="gc-animate">
      <td>
        <input type="checkbox" class="form-control input-sm" ng-model="transaction.isSelected">
      </td>

      <td ng-repeat="col in accounts.columns"
        ng-click="$eval(col.onClick)"
        ss-bind-template="col.cellTemplate"
        ng-show="col.show"></td>
    </tr>
  </tbody>
</table>
</div>