<div class="modal-header">
  Transaction Reports
</div>

<div class="modal-body">
  <div class="row form-group">
    <section class="col-md-6">
      <label> From </label>
      <div class="input-group">
        <input class="form-control" ng-model="report.from" datepicker-popup="MM-dd-yyyy" show-weeks="false" is-open="custom.datepickers.from" ng-click="$event.preventDefault(); custom.datepickers.from = true">
        <span class="input-group-addon"><i class="ion-calendar"></i></span>
      </div>
    </section>

    <section class="col-md-6">
      <label> To </label>
      <div class="input-group">
        <input class="form-control" ng-model="report.to" datepicker-popup="MM-dd-yyyy" show-weeks="false" is-open="custom.datepickers.to" ng-click="$event.preventDefault(); custom.datepickers.to = true">
        <span class="input-group-addon"><i class="ion-calendar"></i></span>
      </div>
    </section>
  </div>

  <div class="row form-group">
    <div class="col-md-6">
      <label> Account Type </label>
      <select ng-model="report.account_type_id" class="form-control" multiple="multiple" style="height: 100px">
        <option ng-repeat="account in filtered_account_types" value="{{ account.id }}" ng-selected="report.account_type_id == account.id"> {{ account.name }} </option>
      </select>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label> Report Type </label>
        <select ng-model="report.type" class="form-control" ng-init="report.type = 'reports'">
          <option value="reports">Normal</option>
          <option value="liquidations">Liquidation</option>
          <option value="cashflow">Cash Flow</option>
        </select>
      </div>

      <div ng-if="report.type == 'reports'">
        <label> Transaction Type </label>
        <select ng-model="report.transaction_type" class="form-control">
          <option value="">Both</option>
          <option value="expense">Expense</option>
          <option value="income">Income</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>
      <input type="checkbox" ng-model="report.summary">
      Summary
    </label>
  </div>

  <hr>
  <label tooltip="Columns to be included in the report">Columns</label>
  <div class="row">
    <div class="col-md-4" ng-repeat="col in _columns">
      <label> <input type="checkbox" ng-model="columns[col.key]" ng-true-value="true" ng-false-value="false" ng-checked="columns[col.key] === true"> {{ col.label }} </label>
    </div>
  </div>
</div>

<div class="modal-footer clearfix">
  <button type="button" ng-click="$close()" class="btn btn-default pull-left">Cancel</button>
  <a target="_blank" href="{{ $report('pdf') }}" class="btn btn-danger pull-right">Generate PDF</button>
  <a target="_blank" href="{{ $report('spreadsheet') }}" class="btn btn-success pull-right" ng-if="report.type !== 'liquidations'">Generate Spreadsheet</button>
</div>