<div class="btn-group">
  <a href="" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
    Actions <span class="caret"></span>
  </a>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
    <li><a ng-click="releases.report('pdf')">Generate Report (PDF)</a></li>
    <li><a ng-click="releases.report('spreadsheet')">Generate Report (Excel)</a></li>
    <li class="separator"></li>
    <li><a href="" ng-click="releases.remove()">Delete</a></li>
  </ul>
</div>