<div class="modal-header clearfix">
    <h3 class="modal-title pull-left">Transaction Voucher</h3>
    <h5 class="pull-right" tooltip="Date created">
      <i class="ion-edit" style="color: rgb(99, 200, 244);"></i>
      {{ data.created_at | timestamp | date: 'mediumDate' }}
    </h5>
</div>

<div class="modal-body" style="width: 100%;">
  <aside class="row">
    <section class="col-md-6">
      <div class="form-group" style="margin-bottom: 0px;">
        <p class="form-control-static" style="padding-bottom: 0px; border-bottom: 1px dashed #ddd; display: inline-block;">{{ data.uuid }}</p>
        <label style="display: block;"> <strong>Voucher #</strong> </label>
      </div>

      <div class="form-group" style="margin-bottom: 0px;" ng-if="!data.settled_at">
        <p class="form-control-static" style="padding-bottom: 0px; border-bottom: 1px dashed #ddd; display: inline-block;">{{ data.settled_at }}</p>
        <label style="display: block;"> <strong>Date Settled</strong> </label>
      </div>
    </section>

    <section class="col-md-6">
      <div class="form-group" style="margin-bottom: 0px;" ng-if="data.client_type == 'Affiliation'">
        <p class="form-control-static" style="padding-bottom: 0px; border-bottom: 1px dashed #ddd; display: inline-block;">{{ data.client.name }}</p>
        <label style="display: block;"> <strong>Client</strong> (Affiliation) </label>
      </div>

      <div ng-if="data.client_type == 'Resident'">
        <div class="clearfix">
          <img ng-src="{{data.client.profilePic}}" width="50px" height="50px" ng-hide="!data.client.profilePic" class="pull-left" style="border-radius: 50%;">
          <img class="pull-left" src="holder.js/50x50" holder-fix ng-show= "!data.client.profilePic" class="pull-left" style="border-radius: 50%;">
          <div class="pull-left" style="margin-left: 10px; margin-top: 10px;"> {{:: data.client.full_name }} <br /> <strong>Client</strong> </div>
        </div>
      </div>
    </section>
  </aside>

  <h5> Transactions: </h5>

  <div
    ss-loader="transactions.isLoading"
    ss-loader-target="#voucher-transaction-body"
    class="text-center text-warning animate-show">
    <three-bounce-spinner></three-bounce-spinner>
  </div>

  <table st-table="transactions" class="table table-hover table-clickable" ng-if="isLoading || !!transactions.length">
    <thead>
      <tr>
        <th lr-drag-src="headers"
          lr-drop-target="headers"
          ng-repeat="col in columns"
          st-sort="{{:: col.key}}"
          ng-bind="col.label"
          ng-show="col.show">
        </th>
      </tr>
    </thead>
    <tbody id="voucher-transaction-body">
      <tr ng-repeat="transaction in transactions track by $index" class="gc-animate">
        <td ng-repeat="col in columns"
          ng-click="$eval(col.onClick)"
          ss-bind-template="col.cellTemplate"
          ng-show="col.show"></td>
      </tr>
    </tbody>
  </table>

  <div class="clearfix">
    <a href="" ng-click="addTransaction()" class="pull-left">
      Add more transactions to this voucher
    </a>

    <button type="button" class="btn btn-primary pull-right" ng-click="$settleAll()" tooltip="Settle all unsettled transactions"> 
      Settle All Transactions&nbsp;
      <i class="ion-check-circled"></i>
    </button>
  </div>
</div>

<div class="modal-footer">
  <button ng-click="print()" class="pull-left btn btn-primary"><i class="ion-printer"></i> Print Voucher</button>
  <button ng-click="printIndividual()" class="pull-left btn btn-info"><i class="ion-printer"></i> Print Voucher Individually</button>
  <button class="btn btn-default" href="#" type="button" ng-click="$close()">
    Close
  </button>
</div>
