<!--<ng-include src="'/app/scholarships/partials/header.html'"></ng-include>-->
<ng-include src="'/app/scholarships/partials/tools.html'"></ng-include>

<div
  ss-loader="scholarships.isLoading"
  ss-loader-target=".table tbody"
  class="text-center text-warning animate-show">
  <three-bounce-spinner></three-bounce-spinner>
</div>

<div
  id="yolo-pls-swag"
  style="overflow: scroll; height: 82vh; width: 100%;"
  srph-infinite-scroll="scholarships.getPage('next')"
  disabled="scholarships.collection.paging.next == undefined"
  threshold="200"
  throttle="0"
  container="true">
<table st-table="scholarships.collection" class="table table-hover table-clickable" st-pipe="scholarships.callServer">
  <thead>
    <tr>
      <th colspan="1" width="1%"></th>
      <th lr-drag-src="headers"
        lr-drop-target="headers"
        ng-repeat="col in scholarships.columns"
        ng-show="col.show"
        resizable
        r-directions="['right']">
          <span class="text-center" style="display: block" st-sort="{{:: col.key }}">{{:: col.label }}</span>
        </th>
    </tr>
    
    <tr>
      <th>
        <input type="checkbox"
          class="form-control input-sm"
          st-control="scholarships.collection">
      </th>

      <th ng-repeat="col in scholarships.columns"
        ng-show="col.show">
        <input type="text"
          class="form-control input-sm"
          st-search="col.key"
          st-delay="200"
          ng-if="col.key !== 'status' && col.key !== 'school.type'">

        <select gc-search-dropdown-equal="col.key" ng-if="col.key == 'status'" class="form-control">
          <option value="">All</option>
          <option value="waiting">Waiting</option>
          <option value="for_verification">For Verification</option>
          <option value="active">Active</option>
          <option value="denied">Denied</option>
          <option value="closed">Closed</option>
          <option value="stop">Stopped</option>
          <option value="graduated">Graduated</option>
        </select>

        <select gc-search-dropdown-equal="col.key" ng-if="col.key == 'school.type'" class="form-control">
          <option value="">All</option>
          <option value="public">Public</option>
          <option value="private">Private</option>
        </select>
      </th>
    </tr>
  </thead>
  
  <tbody gc-select-row>
    <tr cs-select="scholarships.collection" ng-repeat="scholarship in scholarships.collection" class="gc-animate" data-index="{{ $index }}" data-id="{{ scholarship.id }}" data-es="{{ scholarship.es_id }}" data-state="scholarships.show">
      <td>
        <input type="checkbox" class="form-control input-sm" ng-model="scholarship.isSelected">
      </td>

      <td ng-repeat="col in scholarships.columns"
        ng-click="$eval(col.onClick)"
        ss-bind-template="col.cellTemplate"
        ng-show="col.show"></td>
    </tr>
    <tr ng-hide="scholarships.collection.length"><td style="padding-top: 16px;" colspan="{{ scholarships.columns.length + 1 }}" class="text-center"><i class="fa fa-exclamation-circle"></i> No results found</td></tr>
  </tbody>
</table>
</div>

<ng-include src="'/app/scholarships/partials/pagination.html'"></ng-include>