<div class="modal-header">
  Bulk Set Scholarship Status
</div>

<div class="modal-body">
  <div class="row form-group">
    <section class="col-md-6">
      <label> Status </label>
      <select ng-model="data.status" class="form-control">
        <option value="waiting">Waiting</option>
        <option value="for_verification">For Verification</option>
        <option value="active">Active</option>
        <option value="denied">Denied</option>
        <option value="closed">Closed</option>
        <option value="stop">Stop</option>
        <option value="graduated">Graduated</option>
      </select>
    </section>
  </div>
</div>

<div class="modal-footer clearfix">
  <button type="button" ng-click="$close()" class="btn btn-default pull-left" disabled="isLoading">Cancel</button>
  <button type="button" ng-click="$bulkSetStatus()" class="btn btn-success pull-right"> Bulk Set Status </button>
</div>
