<ng-include src="'/app/administration-groups.edit/partials/modal-header.html'">
</ng-include>

<form autocomplete="off" ng-submit="onSubmit(form.data)">
    <div class="modal-body" style="width: 100%">
        <div class="error text-danger">{{ error }}</div>
        <div class="row">
            <fieldset class="col-md-6">
                <legend>Group info</legend>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input id="name" placeholder="Enter name" type="text" class="form-control" ng-model="editCtrl.form.data.name">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea id="description" placeholder="Brief description" name="description" id="" class="form-control" cols="30" rows="10" ng-model="editCtrl.form.data.description"></textarea>
                </div>

                <div class="box" style="max-height:400px; min-height:400px; overflow:auto;">
                  <header class="clearfix" style="color: black;">
                    <h4 >
                      Members
                      <button type="button" style="margin-right:5px;" class="pull-right" ng-click="editCtrl.addMemberToggle()">
                          <i class="ion-plus"></i>
                      </button>
                    </h4>    
                            
                  </header>
                  <div class="body">
                
                      <table class="table">
                          <thead>
                            <tr>
                              <th>Username</th>
                              <th>Name</th>
                              <th>Options</th>      
                            </tr>
                     
                          </thead>
                          <tr ng-if="editCtrl.toggle_add_member">
                            <td><gc-user-typeahead  id-variable="editCtrl.add_user_id" ng-model="editCtrl.add_username" ></gc-user-typeahead></td>
                            <td></td>
                            <td>
                               <button ng-click="editCtrl.addMember(editCtrl.add_user_id)" type="button"><i class="ion-plus"></i></button>
                               <button ng-click="editCtrl.addMemberToggle()" type="button"><i class="ion-minus"></i></button>
                            </td>
                          </tr>
                          <tr ng-repeat="member in editCtrl.members">
                              <td>{{ member.username }}</td>
                              <td>{{ member.resident.full_name }}</td>
                              <td>
                         
                              <button type="button" ng-click="editCtrl.$removeMember(member)"><i class="ion-close-round"></i></button></td>
                          </tr>
                      </table>
                  </div>
                </div>
                     <div class="form-group">
                    <label>Available Time Start <i>(24H Military Time)</i></label>
                    <input type="text" ng-model="editCtrl.form.data.available_start" class="form-control" placeholder="HH:MM:SS" >
                </div>
                <div class="form-group">
                    <label>Available Time End <i>(24H Military Time)</i></label>
                    <input type="text" ng-model="editCtrl.form.data.available_end" class="form-control" placeholder="HH:MM:SS" >
                </div>
            </fieldset>

            <fieldset class="col-md-6">
                <legend>Permissions</legend>
                <div class="text-left">
                    <div class="btn-group">
                        <a href="" class="btn btn-default btn-xs" ng-click="editCtrl.allowAllPermissions()">Allow all</a>
                    </div>
                    <div class="btn-group">
                        <a href="" class="btn btn-default btn-xs" ng-click="editCtrl.resetAllPermissions()">Reset</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" ng-repeat="(component, items) in editCtrl.permissions">
                        <h5>{{ component }}</h5>
                        <div style="max-height:250px; overflow:scroll;">
                         <div class="checkbox m-sm-l" ng-repeat="item in items">
                            <label>
                                <input type="checkbox" ng-model="item.status" ng-checked="item.status" ng-true-value="1" ng-false-value="0">
                                {{ item.functionality }}
                            </label>
                        </div>                         
                        </div>

                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <ng-include src="'/app/administration-groups.edit/partials/modal-footer.html'">
    </ng-include>
</form>
