<ng-include src="'/app/affiliations.create/partials/modal-header.html'">
</ng-include>

<div class="modal-body">
  <form ng-submit="_modal_.$create()">
    <div class="row">
      <section class="col-md-6">
        <div class="form-group">
          <label>Name</label>
          <input placeholder="Enter affiliation's name.." type="text" class="form-control" ng-model="_modal_.data.name">
        </div>

        <!-- date founded -->
        <div class="form-group">
          <label>Date Founded</label>
          <input id="founded"
            name="founded"
            placeholder="Click to open datepicker"
            class="form-control"
            datepicker-popup="MM-dd-yyyy"
            is-open="_modal_.custom.datepickers.founded"
            ng-model="_modal_.data.founded"
            ng-init="_modal_.custom.datepickers.founded = false"
            ng-click="_modal_.custom.datepickers.founded = !_modal_.custom.datepickers.founded">
        </div>
        <!-- date founded -->
      </section>

      <section class="col-md-6">
        <div class="form-group">
          <label>Description</label>
          <textarea
            rows="5"
            placeholder="Enter description..."
            class="form-control"
            ng-model="_modal_.data.description">
          </textarea>
        </div>
      </section>
    </div>

  <div class="row form-group">
    <section class="col-md-6">
      <label> Street </label>
      <input type="text" name="street" ng-model="_modal_.data.street" class="form-control">
    </section>

    <section class="col-md-6">
      <label>Barangay</label>
          <input id="barangay" type="text" class="form-control" ng-model="_modal_.data.barangay" typeahead="barangay.name for barangay in _modal_.barangays($viewValue) | filter:$viewValue | limitTo:8" typeahead-wait-ms="500" typeahead-template-url="gc-barangay-typeahead-$template.html">
    </section>
  </div>

  <div class="row form-group">
    <section class="col-md-6">
      <label>City/Municipality</label>
      <input type="text" class="form-control" ng-model="_modal_.data.cityMunicipality" typeahead="cityMunicipality.name for cityMunicipality in _modal_.citiesMunicipalities($viewValue)">
    </section>

    <div class="form-group col-md-6">
      <label>District</label>
      <input type="text" class="form-control" ng-model="_modal_.data.district" typeahead="district.name for district in _modal_.districts($viewValue)">
    </div>
  </div>

    <aside class="clearfix">
      <button
        type="submit"
        class="btn btn-primary pull-right"
        ng-disabled="_modal_.isLoading">
        Register Affiliation
      </button>

      <button
        type="button"
        class="btn btn-warning pull-left"
        ng-click="$close()">
        Cancel
      </button>
    </aside>
  </form>
</div>

<div class="modal-footer"></div>
