<div class="modal-header">
  <h3 class="modal-title">Add resident</h3>
</div>

<form autocomplete="off" ng-submit="_modal_.submit(_modal_.form.data)">
  <div class="modal-body">
    <div class="error text-danger">{{ error }}</div>
      <fieldset class="col-md-2">
          <div gc-display-picture
               uploader="_modal_.uploader"
               success-callback="_modal_.successXHRCallback"
               error-callback="_modal_.errorXHRCallback"
               form-data="_modal_.form.data">
          </div>
      </fieldset>
      <fieldset class="col-md-10">
          <div class="form-groups">
              <div class="form-group col-md-4">
                  <input id="first_name" type="text" class="form-control" ng-model="_modal_.form.data.first_name">
                  <label for="first_name">First name</label>
              </div>
              <div class="form-group col-md-4">
                  <input id="middle_name" type="text" class="form-control" ng-model="_modal_.form.data.middle_name">
                  <label for="middle_name">Maternal name</label>
              </div>
              <div class="form-group col-md-4">
                  <input id="last_name" type="text" class="form-control" ng-model="_modal_.form.data.last_name">
                  <label for="last_name">Last name</label>
              </div>
              <div class="form-group col-md-4">
                  <select id="gender" class="form-control" ng-model="_modal_.form.data.gender">
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                  </select>
                  <label for="gender">Gender</label>
              </div>
              <div class="form-group col-md-4">
                  <select id="group" class="form-control" ng-model="_modal_.form.data.civil_status">
                      <option value="Single">Single</option>
                      <option value="Married">Married</option>
                      <option value="Widowed">Widowed</option>
                      <option value="Divorced">Divorced</option>
                      <option value="Deceased">Deceased</option>
                  </select>
                  <label for="group">Civil status</label>
              </div>
              <div class="form-group col-md-4">
                  <div class="">
                      <!--<datepicker ng-model="_modal_.form.data.birthdate" show-weeks="false"></datepicker>-->
                      <div class="input-group">
                          <input id="birthdate" class="form-control" ng-model="_modal_.form.data.birthdate" datepicker-popup="MM-dd-yyyy" show-weeks="false" is-open="_modal_.form.custom.datepickers.birthdate">
                          <span class="input-group-addon" ng-click="_modal_.form.custom.openDatePicker($event, 'birthdate')"><i class="ion-calendar"></i></span>
                      </div>
                  </div>
                  <label for="birthdate">Birthdate</label>
              </div>
          </div>
      </fieldset>

      <fieldset class="col-md-offset-2 col-md-10">
          <legend>Information</legend>
          <div class="form-groups">
              <div class="form-group col-md-4">
                  <input id="mobile" type="text" class="form-control" ng-model="_modal_.form.data.mobile">
                  <label for="mobile">Mobile</label>
              </div>
              <div class="form-group col-md-4">
                  <input id="phone" type="text" class="form-control" ng-model="_modal_.form.data.phone">
                  <label for="phone">Telephone</label>
              </div>
              <div class="form-group col-md-4">
                  <input id="email" type="text" class="form-control" ng-model="_modal_.form.data.email">
                  <label for="email">Email</label>
              </div>
              <div class="form-group col-md-2">
                  <input id="precinct" type="text" class="form-control" ng-model="_modal_.form.data.precinct">
                  <label for="precinct">Precinct</label>
              </div>
              <div class="form-group col-md-2">
                  <input id="voters_id" type="text" class="form-control" ng-model="_modal_.form.data.voters_id">
                  <label for="voters_id">Voters ID</label>
              </div>
              <div class="form-group col-md-4">
                  <div class="">
                      <div class="input-group">
                          <input id="blacklisted_at" class="form-control" ng-model="_modal_.form.data.blacklisted_at" datepicker-popup="MM-dd-yyyy" show-weeks="false" is-open="_modal_.form.custom.datepickers.blacklisted_at">
                          <span class="input-group-addon" ng-click="_modal_.form.custom.openDatePicker($event, 'blacklisted_at')"><i class="ion-calendar"></i></span>
                      </div>
                  </div>
                  <label for="voters_id">Blacklist Date</label>
              </div>
              <div class="form-group col-md-4">
                  <div class="">
                      <div class="input-group">
                          <input id="deceased_at" class="form-control" ng-model="_modal_.form.data.deceased_at" datepicker-popup="MM-dd-yyyy" show-weeks="false" is-open="_modal_.form.custom.datepickers.deceased_at">
                          <span class="input-group-addon" ng-click="_modal_.form.custom.openDatePicker($event, 'deceased_at')"><i class="ion-calendar"></i></span>
                      </div>
                  </div>
                  <label for="voters_id">Deceased Date</label>
              </div>
              <div class="form-group col-md-6">
                  <input id="district" type="text" class="form-control" ng-model="_modal_.form.data.district" typeahead="district.name for district in _modal_.districts($viewValue) | filter:$viewValue | limitTo:8" typeahead-wait-ms="50">
                  <label for="district">District</label>
              </div>
              <div class="form-group col-md-6">
                  <input id="cityMunicipality" type="text" class="form-control" ng-model="_modal_.form.data.cityMunicipality" typeahead="cityMunicipality.name for cityMunicipality in _modal_.citiesMunicipalities($viewValue) | filter:$viewValue | limitTo:8" typeahead-wait-ms="50">
                  <label for="cityMunicipality">City/Municipality</label>
              </div>
              <div class="form-group col-md-6">
                  <input id="barangay" type="text" class="form-control" ng-model="_modal_.form.data.barangay" typeahead="barangay.name for barangay in _modal_.barangays($viewValue) | filter:$viewValue | limitTo:8" typeahead-wait-ms="50">
                  <label for="barangay">Barangay</label>
              </div>
              <div class="form-group col-md-6">
                  <input id="street" type="text" class="form-control" ng-model="_modal_.form.data.street">
                  <label for="street">Street</label>
              </div>
          </div>
      </fieldset>

      <fieldset class="col-md-offset-2 col-md-10 text-center" ng-click="openSigPlus()">
          <img class="" alt="Resident signature image" src="holder.js/500x100/text:Signature" holder-fix ng-hide="_modal_.form.data.signature_path">
          <img class="" alt="Resident signature image" ng-src="{{_modal_.form.data.signature_path}}" ng-show="_modal_.form.data.signature_path">
      </fieldset>

  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" http-loader="isLoading">
      Add
    </button>

    <button class="btn btn-warning" type="button" ng-click="$dismiss('cancel')">
      Close
    </button>
  </div>
</form>
