<div class="modal-header">
  Generate Resident Reports
</div>

<div class="modal-body">
  <div class="row form-group">
    <section class="col-md-6">
      <label> City Municipality </label>
      <input type="text" class="form-control" 
        placeholder="Filter resident by city.." 
        ng-model="data.cityMunicipality_name"
        typeahead-wait-ms="500" 
        typeahead="city.name for city in citiesMunicipalities($viewValue)"
        typeahead-on-select="data.cityMunicipality_id = $item.id">
    </section>

    <section class="col-md-6">
      <label> Position </label>
      <gc-affiliation-position-dropdown-all ng-model="data.position_id">
    </section>
  </div>
</div>

<div class="modal-footer clearfix">
  <button type="button" ng-click="$close()" class="btn btn-default pull-left">Cancel</button>
  <a target="_blank" href="{{ $report('pdf') }}" class="btn btn-danger pull-right" ng-click="data.cityMunicipality_id == undefined ? $event.preventDefault() : true">Generate PDF</button>
  <!-- <a target="_blank" href="{{ $report('spreadsheet') }}" class="btn btn-success pull-right">Generate Spreadsheet</button> -->
</div>