<div gc-affiliation-resident-form="{{ editCtrl.data.id }}" collection="editCtrl.data.members">
</div>

<hr />

<div>
  <div gc-affiliation-resident-table="{{ editCtrl.data.id }}"
    collection="editCtrl.data.members"
    selected="editCtrl.custom.selected"
    positions="editCtrl.positions"
    fullscreen="editCtrl.fullscreen">
  </div>
</div>
