<form srph-xhr="affiliations/{{editCtrl.data.id}}"
  request-type="put"
  request-data="editCtrl.data"
  request-success="editCtrl.$successHandler"
  request-error="editCtrl.$errorHandler">
  <div class="row">

    <section class="col-md-6">
      <div class="form-group">
        <label>Name</label>
        <input placeholder="Enter affiliation's name.." type="text" class="form-control" ng-model="editCtrl.data.name">
      </div>

      <!-- date founded -->
      <div class="form-group">
        <label>Date Founded</label>
        <input id="founded_at"
          name="founded_at"
          placeholder="Click to open datepicker"
          class="form-control"
          datepicker-popup="MM-dd-yyyy"
          is-open="editCtrl.custom.datepickers.birthdate"
          ng-model="editCtrl.data.founded"
          ng-init="editCtrl.custom.datepickers.birthdate = false"
          ng-click="editCtrl.custom.datepickers.birthdate = !editCtrl.custom.datepickers.birthdate">
      </div>
      <!-- date founded -->
    </section>

    <section class="col-md-6">
      <div class="form-group">
        <label>Description</label>
        <textarea
          rows="5"
          placeholder="Enter description..."
          class="form-control"
          ng-model="editCtrl.data.description">
        </textarea>
      </div>
    </section>

  </div>

  <div class="row form-group">
    <section class="col-md-6">
      <label> Street </label>
      <input type="text" name="street" ng-model="editCtrl.data.street" class="form-control">
    </section>

    <section class="col-md-6">
      <label for="barangay">Barangay</label>
      <input id="barangay" type="text" class="form-control" ng-model="editCtrl.data.barangay" typeahead="barangay.name for barangay in editCtrl.barangays($viewValue)" typeahead-wait-ms="50">
    </section>
  </div>

  <div class="row form-group">
    <section class="col-md-6">
      <label for="city">City/Municipality</label>
      <input id="city" type="text" class="form-control" ng-model="editCtrl.data.cityMunicipality" typeahead="cityMunicipality.name for cityMunicipality in editCtrl.citiesMunicipalities($viewValue)" typeahead-wait-ms="50">
    </section>

    <div class="form-group col-md-6">
      <label for="district">District</label>
      <input id="district" type="text" class="form-control" ng-model="editCtrl.data.district" typeahead="district.name for district in editCtrl.districts($viewValue)" typeahead-wait-ms="50">

    </div>
  </div>
  
  <ng-include src="'/app/affiliations.edit/partials/affiliations.edit-controls.html'">
  </ng-include>

  <ng-include src="'/app/affiliations.edit/partials/affiliations.edit-tabs.html'">
  </ng-include>
</form>
