<aside class="clearfix form-group">
  <button
    type="submit"
    class="btn btn-primary pull-right">
    Update Affiliation
  </button>

  <button
    type="button"
    class="btn btn-warning pull-left"
    ng-click="$close()">
    Cancel
  </button>
</aside>
