<tabset>


  <tab id="members-tab" heading="Members" class="tab-primary">
    <ng-include src="'/app/affiliations.edit/partials/affiliations.edit-tabMembers.html'">
    </ng-include>
  </tab>
  <tab id="transactions-tab" heading="Transactions">
    <div class="box">
      <div class="body">

        <div ng-if="!!editCtrl.vouchers.length">
          <table class="table">
            <thead>
              <tr>
                <th> UUID </th>
                <th> Client </th>
                <th> Status </th>
                <th> Amount </th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="voucher in editCtrl.vouchers">
                <td> {{:: voucher.uuid }} </td>
                <td> {{:: voucher.client.full_name }} </td>
                <td> {{:: voucher.status }} </td>
                <td> PHP {{:: voucher.amount }} </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div ng-if="!editCtrl.vouchers.length">
          <h5 class="text-center">
            <small>
              No transactions linked to this affiliations.
            </small>
          </h5>
        </div>

        <span ng-if="editCtrl.isLoadingVouchers">
          <wave-spinner></wave-spinner>
        </span>
      </div>
    </div>
  </tab>
  <tab id="positions-tab" heading="Positions" class="tab-primary">
    <gc-affiliation-position-form
      affiliation-id="{{ editCtrl.data.id }}"
      list="editCtrl.positions"
      data="editCtrl._position"
      mode="create">
    </gc-affiliation-position-form>

    <div ng-if="!!editCtrl.positions.length && !editCtrl.isLoadingPositions">
      <table class="table">
        <thead>
          <tr>
            <th> Name </th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="position in editCtrl.positions">
            <td>
              <span>
                {{:: position.position.name }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="box" ng-if="!editCtrl.positions.length && !editCtrl.isLoadingPositions">
      <div class="body">
        <h4 class="text-center">
          <small> No specific positions has been set yet. Why don't you create one? </small>
        </h4>
      </div>
    </div>
  </tab>

</tabset>