<div ng-if="!founderLength" class="outer-table">
  <div class="inner-table">
    <h4> <small> No founders have yet been added. </small> </h4>
  </div>
</div>
<div ng-if="!!founderLength">
  <gc-affiliation-resident-table
    collection="editCtrl.data.members"
    filter="'founder'"
    selected="editCtrl.custom.selected">
  </gc-affiliation-resident-table>
</div>