<div class="box">
  <div class="body">

    <div ng-if="!!editCtrl.vouchers.length">
      <table class="table">
        <thead>
          <tr>
            <th> UUID </th>
            <th> Client </th>
            <th> Status </th>
            <th> Amount </th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="voucher in editCtrl.vouchers">
            <td> {{:: voucher.uuid }} </td>
            <td> {{:: voucher.client.full_name }} </td>
            <td> {{:: voucher.status }} </td>
            <td> PHP {{:: voucher.amount | amount }} </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-if="!editCtrl.vouchers.length">
      <h5 class="text-center">
        <small>
          No transactions linked to this household.
        </small>
      </h5>
    </div>

    <span ng-if="editCtrl.isLoadingVouchers">
      <wave-spinner></wave-spinner>
    </span>
  </div>
</div><div class="box">
  <div class="body">

    <div ng-if="!!editCtrl.vouchers.length">
      <table class="table">
        <thead>
          <th>
            <td> UUID </td>
            <td> Client </td>
            <td> Status </td>
            <td> Amount </td>
          </th>
        </thead>

        <tbody>
          <tr ng-repeat="voucher in editCtrl.vouchers">
            <td> {{:: voucher.uuid }} </td>
            <td> {{:: voucher.client.full_name }} </td>
            <td> {{:: voucher.status }} </td>
            <td> PHP {{:: voucher.amount }} </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-if="!editCtrl.vouchers.length">
      <h5 class="text-center">
        <small>
          No transactions linked to this household.
        </small>
      </h5>
    </div>

    <span ng-if="editCtrl.isLoadingVouchers">
      <wave-spinner></wave-spinner>
    </span>
  </div>
</div><div class="box">
  <div class="body">

    <div ng-if="!!editCtrl.vouchers.length">
      <table class="table">
        <thead>
          <th>
            <td> UUID </td>
            <td> Client </td>
            <td> Status </td>
            <td> Amount </td>
          </th>
        </thead>

        <tbody>
          <tr ng-repeat="voucher in editCtrl.vouchers">
            <td> {{:: voucher.uuid }} </td>
            <td> {{:: voucher.client.full_name }} </td>
            <td> {{:: voucher.status }} </td>
            <td> PHP {{:: voucher.amount }} </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-if="!editCtrl.vouchers.length">
      <h5 class="text-center">
        <small>
          No transactions linked to this household.
        </small>
      </h5>
    </div>

    <span ng-if="editCtrl.isLoadingVouchers">
      <wave-spinner></wave-spinner>
    </span>
  </div>
</div><div class="box">
  <div class="body">

    <div ng-if="!!editCtrl.vouchers.length">
      <table class="table">
        <thead>
          <th>
            <td> UUID </td>
            <td> Client </td>
            <td> Status </td>
            <td> Amount </td>
          </th>
        </thead>

        <tbody>
          <tr ng-repeat="voucher in editCtrl.vouchers">
            <td> {{:: voucher.uuid }} </td>
            <td> {{:: voucher.client.full_name }} </td>
            <td> {{:: voucher.status }} </td>
            <td> PHP {{:: voucher.amount }} </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-if="!editCtrl.vouchers.length">
      <h5 class="text-center">
        <small>
          No transactions linked to this household.
        </small>
      </h5>
    </div>

    <span ng-if="editCtrl.isLoadingVouchers">
      <wave-spinner></wave-spinner>
    </span>
  </div>
</div><div class="box">
  <div class="body">

    <div ng-if="!!editCtrl.vouchers.length">
      <table class="table">
        <thead>
          <th>
            <td> UUID </td>
            <td> Client </td>
            <td> Status </td>
            <td> Amount </td>
          </th>
        </thead>

        <tbody>
          <tr ng-repeat="voucher in editCtrl.vouchers">
            <td> {{:: voucher.uuid }} </td>
            <td> {{:: voucher.client.full_name }} </td>
            <td> {{:: voucher.status }} </td>
            <td> PHP {{:: voucher.amount }} </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-if="!editCtrl.vouchers.length">
      <h5 class="text-center">
        <small>
          No transactions linked to this household.
        </small>
      </h5>
    </div>

    <span ng-if="editCtrl.isLoadingVouchers">
      <wave-spinner></wave-spinner>
    </span>
  </div>
</div><div class="box">
  <div class="body">

    <div ng-if="!!editCtrl.vouchers.length">
      <table class="table">
        <thead>
          <th>
            <td> UUID </td>
            <td> Client </td>
            <td> Status </td>
            <td> Amount </td>
          </th>
        </thead>

        <tbody>
          <tr ng-repeat="voucher in editCtrl.vouchers">
            <td> {{:: voucher.uuid }} </td>
            <td> {{:: voucher.client.full_name }} </td>
            <td> {{:: voucher.status }} </td>
            <td> PHP {{:: voucher.amount }} </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-if="!editCtrl.vouchers.length">
      <h5 class="text-center">
        <small>
          No transactions linked to this household.
        </small>
      </h5>
    </div>

    <span ng-if="editCtrl.isLoadingVouchers">
      <wave-spinner></wave-spinner>
    </span>
  </div>
</div><div class="box">
  <div class="body">

    <div ng-if="!!editCtrl.vouchers.length">
      <table class="table">
        <thead>
          <th>
            <td> UUID </td>
            <td> Client </td>
            <td> Status </td>
            <td> Amount </td>
          </th>
        </thead>

        <tbody>
          <tr ng-repeat="voucher in editCtrl.vouchers">
            <td> {{:: voucher.uuid }} </td>
            <td> {{:: voucher.client.full_name }} </td>
            <td> {{:: voucher.status }} </td>
            <td> PHP {{:: voucher.amount }} </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-if="!editCtrl.vouchers.length">
      <h5 class="text-center">
        <small>
          No transactions linked to this household.
        </small>
      </h5>
    </div>

    <span ng-if="editCtrl.isLoadingVouchers">
      <wave-spinner></wave-spinner>
    </span>
  </div>
</div>
