<div ng-if="!officerLength" class="outer-table">
  <div class="inner-table">
    <h4> <small> No officers have yet been added. </small> </h4>
  </div>
</div>

<div ng-if="!!officerLength">
  <gc-affiliation-resident-table
    collection="editCtrl.data.members"
    selected="editCtrl.custom.selected">
  </gc-affiliation-resident-table>
</div>