<div class="content-tools pull-right">
    <ng-include src="'/app/scholarships-types/partials/tools-add.html'">
    </ng-include>

    <gc-column-display-dropdown
        key="scholarships"
        columns="scholarships.columns">
    </gc-column-display-dropdown>

    <ng-include src="'/app/scholarships-types/partials/tools-table.html'">
    </ng-include>

  <gc-reload></gc-reload>
</div>
