<div class="navigation" id="bt-menu" style="border-color: #1a7a3d;">
    <img src="/assets/img/aim_logo_green.jpg" width="100" height="75" style="position: absolute; top: -66px; left: -120px; margin-left: 7px; cursor: pointer;" class="bt-show">
    <a href="#" class="bt-menu-trigger bt-hide" style="background: #f66b2a !important; width: 75px;">
        <span style="margin-left:20px; margin-top: 3px">
            <i class="fa fa-bars"></i>
        </span>
    </a>
    <ul class="nav navbar-nav">
    
        <li ss-has-permission="profiling.manage_residents">
            <a href="" ng-click="addResident()">
                <i class="ion-ios7-plus-empty"></i>
                Add resident
            </a>
        </li>
        <li ss-has-permission="profiling.manage_affiliations">
            <a href="" ng-click="addAffiliation()">
                <i class="fa fa-sitemap"></i>
                Create affiliation
            </a>
        </li>
        <li ss-has-permission="profiling.manage_affiliations">
            <a href="" ng-click="addHousehold()">
                <i class="ion-ios7-home"></i>
                Create household
            </a>
        </li><!--
        <li ss-has-permission="transaction_system.manage_transactions">
            <a ui-sref="transactions.create" class="dropdown-toggle" data-toggle="dropdown">
                <i class="ion-ios7-briefcase-outline"></i>
                New transaction
            </a>
        </li>
        <li ss-has-permission="scholarship_management.manage_scholarships">
            <a ui-sref="scholarships.create">
                <i class="ion-ios7-lightbulb-outline"></i>
                Add scholar
            </a>
        </li>-->
        <li ss-has-permission="user_management.manage_users">
            <a href="" ng-click="addUser()">
                <i class="ion-ios7-person-outline"></i>
                New user
            </a>
        </li>
        <li ss-has-permission="user_management.manage_users">
            <a href="" ng-click="addGroup()">
                <i class="ion-ios7-people-outline"></i>
                Create group
            </a>
        </li>
    </ul>
    <ul class="nav navbar-nav" style="right: 0;">
            <li>
            <a href="#"><i class="ion-person"></i> {{ USER.username }}</a>
        </li>
        <li>
            <a ui-sref="account-settings"> Account Settings </a>
        </li>
        <li>
            <a href="" gc-logout> Logout </a>
        </li>
    </ul>
    <ul id="menu">
        <li ui-sref-active="active">
            <a ui-sref="dashboard">
                <i class="ion-podium"></i><span class="link-title">&nbsp;Dashboard</span>
            </a>
        </li>

        <li ui-sref-active="active" ss-has-permission="profiling.view_residents">
            <a ui-sref="residents">
                <i class="fa fa-male"></i>
                <span class="link-title">Residents</span>
            </a>
            <ul>
                <li ui-sref-active="active" ss-has-permission="profiling.view_attributions">
                    <a ui-sref="attributions">Attributes</a>
                </li>
            </ul>
        </li>

        <li ui-sref-active="active" ss-has-permission="profiling.view_households">
            <a ui-sref="households">
                <i class="ion-home"></i>
                <span class="link-title">Households</span>
            </a>
        </li>

        <li ui-sref-active="active" ss-has-permission="profiling.view_affiliations">
            <a ui-sref="affiliations">
                <i class="fa fa-sitemap"></i>
                <span class="link-title">Affiliations</span>
                <span class="ion-arrow-right-b"></span>
            </a>
            <ul>
                <li ui-sref-active="active">
                    <a ui-sref="affiliations-positions">
                        <i class="fa fa-angel-right"></i>
                        &nbsp; Positions
                    </a>
                </li>
            </ul>
        </li>

        <li ui-sref-active="active" ss-has-permission="transaction_system.view_transactions">
            <a ui-sref="transactions">
                <i class="ion-briefcase"></i>
                <span class="link-title">Transactions</span>
                <span class="ion-arrow-right-b"></span>
            </a>
            <ul>
                <li ui-sref-active="active">
                    <a ui-sref="transactions-accounts">
                        <i class="fa fa-angel-right"></i>
                        &nbsp; Accounts
                    </a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="transactions-categories">
                        <i class="fa fa-angel-right"></i>
                        &nbsp; Categories
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="transactions-vendors">
                        <i class="fa fa-angel-right"></i>
                        &nbsp; Vendors
                    </a>
                </li>
            </ul>
        </li>


        <li ui-sref-active="active" ss-has-permission="scholarship_management.view_scholarships">
            <a ui-sref="scholarships">
                <i class="ion-lightbulb"></i>
                <span class="link-title">Scholarships</span>
                <span class="ion-arrow-right-b"></span>
            </a>
            <ul>
               <li ui-sref-active="active">
                    <a ui-sref="semesters-list"><i class="ion-ios7-people"></i>&nbsp;Semesters</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="scholarship-releases"><i class="ion-ios7-people"></i>&nbsp;Releases</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="scholarship-schools"><i class="ion-ios7-people"></i>&nbsp;Schools</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="scholarship-awards"><i class="ion-ios7-people"></i>&nbsp;Awards</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="scholarship-subjects"><i class="ion-ios7-people"></i>&nbsp;Subjects</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="scholarships-courses"><i class="ion-ios7-people"></i>&nbsp;Courses</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="scholarship-allowances"><i class="ion-ios7-people"></i>&nbsp;Allowance</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="scholarship-allowancePolicies">
                        <i class="ion-ios7-people"></i>&nbsp;Allowance Policies
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="scholarships-types"><i class="ion-ios7-gear"></i>&nbsp;Types</a>
                </li>
            </ul>
        </li>

        <li ui-sref-active="active" ss-has-permission="user_management.view_users">
            <a ui-sref="administration.users">
                <i class="ion-person-stalker"></i>
                <span class="link-title">Users</span>
                 <span class="ion-arrow-right-b"></span>
            </a>
            <ul>
               <li ui-sref-active="active" ss-has-permission="user_management.view_users">
                    <a ui-sref="administration.deactivated_users">
                       
                        &nbsp;Deactivated Users
                    </a>
                </li>
            </ul>
        </li>

        <li ui-sref-active="active" ss-has-permission="user_management.view_users">
            <a ui-sref="administration.groups">
                <i class="ion-person-stalker"></i>
                <span class="link-title">Groups</span>
            </a>
        </li>

        <li ui-sref-active="active">
            <a ui-sref="history">
                <i class="ion-calendar"></i>
                <span class="link-title">History</span>
            </a>
        </li>
    </ul>
</div>

<div id="wrap">

    <header class="clearfix" style="background: #1a7a3d; color: #fff; margin-left: 25px;">
        <div class="title-bar">
            <h3 class="title ion-clipboard">{{ $state.current.data.pageTitle | studlyCase }}</h3>
        </div>
    </header>

    <!-- Main Content -->
    <div id="content" ui-view></div>
    <!-- /Main Content -->

    <!-- Footer -->
    <ng-include src="'/app/_main/partials/footer.html'"></ng-include>
    <!-- /Footer -->


</div> <!--/.row -->
