<div class="modal-footer">
  <button class="btn btn-primary" type="submit" http-loader="editCtrl.isLoading">Update</button>
  <button class="btn btn-warning" type="button" ng-click="$close()">Cancel</button>
</div>