<ng-include src="'/app/scholarships.show/partials/modal-header.html'">
</ng-include>

<ng-include src="'/app/scholarships.show/partials/modal-body.html'">
</ng-include>

<ng-include src="'/app/scholarships.show/partials/modal-footer.html'">
</ng-include>