<div
  ss-loader="semesters.isLoading"
  ss-loader-target=".sem-table"
  class="text-center text-warning animate-show">
  <three-bounce-spinner></three-bounce-spinner>
</div>

<div style="width: 100%; overflow-x: scroll;">
  <table st-table="semesters.collection" class="table table-hover table-clickable sem-table" st-pipe="semesters.callServer">
    <thead>
      <tr>
        <th lr-drag-src="headers"
          lr-drop-target="headers"
          ng-repeat="col in semesters.columns"
          st-sort="{{column.key}}"
          ng-bind="col.label"
          ng-show="col.show"></th>
      </tr>
      
      <tr>
        <th ng-repeat="column in semesters.columns"
          ng-show="column.show">
          <input type="text"
            class="form-control input-sm"
            st-search="column.key"
            ng-if="column.key == 'school.name'">

          <input type="text"
            class="form-control input-sm"
            gc-search-equal="column.key"
            ng-if="column.key == 'gwa'">

          <select gc-search-dropdown-equal="column.key" ng-if="column.key == 'term'" class="form-control">
            <option value="">All</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>

          <select gc-search-dropdown-equal="column.key" ng-if="column.key == 'school.type'" class="form-control">
            <option value="">All</option>
            <option value="private">Private</option>
            <option value="public">Public</option>
          </select>


          <input type="text"
            class="form-control input-sm"
            gc-search-equal="column.key"
            ng-if="column.key == 'school.year_level'">

          <div gc-scholarship-type-dropdown ng-if="column.key == 'scholarship_type.name'" st-search="column.key">
          </div>
        </th>
      </tr>
    </thead>
    
    <tbody>
      <tr cs-select="semesters.collection" ng-repeat="semester in semesters.collection">
        <td ng-repeat="column in semesters.columns"
          ng-click="$eval(column.onClick)"
          ss-bind-template="column.cellTemplate"
          ng-show="column.show"></td>
      </tr>
    </tbody>
  </table>
</div>