<div class="modal-header clearfix">
  <button type="button" ng-click="$dismiss()" class="btn btn-danger pull-right">
    <i class="ion-close"></i>
  </button>
  <h3 class="modal-title">View Scholarship</h3>
</div>
<div class="modal-body">
  <div class="clearfix form-group">
    <img class="img-thumbnail pull-left" alt="Resident profile image" ng-src="{{ showCtrl.form.data.resident.profilePic  }}" fallback-src ng-hide="!showCtrl.form.data.resident.profilePic" style="border-radius: 50%; margin-right: 10px; width: 120px; height: 120px;">
    <img class="img-thumbnail pull-left" alt="Resident profile image" src="holder.js/120x120" holder-fix ng-show="!showCtrl.form.data.resident.profilePic" style="border-radius: 50%; margin-right: 10px;">
    <div class="pull-left">
      <h4 ng-bind="showCtrl.form.data.resident.full_name" style="margin-bottom: 0;"></h4>
      <h4 style="margin-top: 0; margin-bottom: 0;"><small> {{ showCtrl.form.data.school.name }}</small></h4>
      <div>
        <span style="font-size: 9px; font-style: italic;">
          {{ showCtrl.form.data.resident.street }}, {{ showCtrl.form.data.resident.barangay }}
        </span>
      </div>

      <span gc-scholarship-status="showCtrl.form.data.status">
      </span>
      <span class="label label-primary">
        (Applied on {{ showCtrl.form.data.created_at | timestamp | date: 'mediumDate' }})
      </span>
    </div>
  </div>

  <div style="width: 120px;" class="text-center">
    <a ui-sref="residents.edit({ id: showCtrl.form.data.resident.id })" ng-click="$dismiss()">
      View Resident
    </a>
  </div>
</div>
<div class="modal-footer clearfix">
  <div class="btn-group pull-left">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
     Options
     <i class="caret"></i>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li ng-hide="showCtrl.form.data.status == 'waiting'"  >
        <a ui-sref="scholarships.show.transfer({ id: 5 })"> Transfer Scholarship </a>
      </li>
      <li>
        <a href="api/v1/scholarships/{{ showCtrl.form.data.id }}/id" target="_blank">
          Generate ID
        </a>
      </li>
    </ul>
  </div>

<span>
  <a href="" srph-xhr="scholarships/{{ showCtrl.form.data.id }}/status" request-data="{ 'status': 'for_verification' }" request-type="put" request-success="showCtrl.$success" request-error="showCtrl.$error" ng-click="showCtrl.loading = true" ng-class="{ 'btn-disabled': showCtrl.loading }" class="btn btn-primary">
    Set to For Verification
  </a>
</span>
</div>
