<div class="btn-group" style="width: 120px;">
	<div class="input-group">
		<input class="form-control" ng-model="transactions.selected_date" ng-change="transactions.onDateQueryChange()"
			datepicker-popup="MM-dd-yyyy"
			is-open="transactions._date"
			ng-init="transactions._date = false"
			ng-click="transactions._date = !transactions._date">
		<span class="input-group-addon">
			<i class="ion-calendar"></i>
		</span>
	</div>
</div>


<div class="btn-group">
	 <select class="form-control" ng-model="transactions.selected_account" ng-change="transactions.onAccountQueryChange()">
    <option value=""> All </option>
    <option ng-repeat="account in transactions.filtered_account_types" value="{{ account.id }}" ng-selected="transactions.selected_account == account.id">
      {{ account.name }}
    </option>
  </select>
</div>
