<div class="content-tools pull-right">
    <ng-include src="'/app/transactions/partials/tools-select.html'">
    </ng-include>
    <ng-include src="'/app/transactions/partials/tools-add.html'">
    </ng-include>

    <button type="button" class="btn btn-success" ng-click="transactions.salary()">
      Generate Salary
    </button>

    <button ss-has-permission="transaction_system.generate_report" type="button" class="btn btn-warning" ng-click="$$report()">
      Generate Reports
    </button>

    <gc-column-display-dropdown
        key="transactions"
        columns="transactions.columns">
    </gc-column-display-dropdown>

    <ng-include src="'/app/transactions/partials/tools-actions.html'">
    </ng-include>

    <ng-include src="'/app/transactions/partials/tools-table.html'">
    </ng-include>

    <gc-reload></gc-reload>
</div>
