<div class="modal-footer">
	<button onclick="window.open('/transactions/{{ detailsCtrl.form.data.id }}/pdf')" class="pull-left btn btn-primary"><i class="ion-printer"></i> Print Voucher</button>
  <button class="btn btn-default" href="#" type="button" ng-click="$close()">
    Cancel
  </button>
  <button class="btn btn-success" type="submit" http-loader="createCtrl.isLoading">
    <span class="ion-checkmark-circled"> Settle Transaction</span>
  </button>
  
</div>