<div class="modal-header clearfix">
    <h3 class="modal-title pull-left">Transaction Details</h3>
    <h5 class="pull-right">
      <i class="ion-edit" style="color: light-blue;"></i>
      {{ detailsCtrl.form.data.created_at | timestamp | date: 'mediumDate' }}
    </h5>
</div>