<div class="modal-header">
  Inactivate 
</div>

<div class="modal-body">
  <div class="row form-group">
    <div class="col-md-6">
      <label> Level </label>
      <select ng-model="data.level" class="form-control">
        <option value="">Select a level..</option>
        <option value="secondary">Secondary</option>
        <option value="collegiate">Collegiate</option>
      </select>
    </div>
  </div>
  <div class="row form-group">
    <section class="col-md-6">
      <div class="row">
        <div ng-class="{ 'col-md-12': data.level !== 'collegiate', 'col-md-9': data.level == 'collegiate' }">
          <label> From </label>
          <gc-year-sets range="5" year-model="data.from">
          </gc-year-sets>
        </div>

        <div ng-if="data.level == 'collegiate'" class="col-md-3">
          <label> Semester </label>
          <select ng-model="data.from_semester" ng-init="data.from_semester = 1" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
      </div>
    </section>

    <section class="col-md-6">
      <div class="row">
        <div ng-class="{ 'col-md-12': data.level !== 'collegiate', 'col-md-9': data.level == 'collegiate' }">
          <label> To </label>
          <gc-year-sets range="5" year-model="data.to">
          </gc-year-sets>
        </div>

        <div ng-if="data.level == 'collegiate'" class="col-md-3">
          <label> Semester </label>
          <select ng-model="data.to_semester" ng-init="data.to_semester = 1" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="modal-footer clearfix">
  <button type="button" ng-click="$close()" class="btn btn-default pull-left" ng-disabled="isLoading">Cancel</button>
  <button type="button" ng-click="$reset()" class="btn btn-success pull-right" ng-disabled="isLoading"> Submit </button>
</div>
